In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import pickle
from datetime import datetime,timedelta
import re
import math

In [2]:
#'''文件路径定义'''
ACTION_FILE = './datafile/JData_Action.csv'
COMMENT_FILE = './datafile/JData_Comment.csv'
PRODUCT_FILE = './datafile/JData_Product.csv'
USER_FILE = './datafile/JData_User.csv'

In [3]:
#4.15或者4.14号登陆了并且这两个多月登陆天数大于1天
def last_day_load_and_outnumber_two_days():
    if os.path.exists('./cache/buy_user_browse_count'):
        with open('./cache/buy_user_browse_count','rb') as f:
            df = pickle.load(f)
    else:
        dump_path = './cache/Action_2016-02-01_2016-04-16_2'
        with open(dump_path,'rb') as f:
            df = pickle.load(f)
        last_two_days = df[(df.load_days<=2)&(df.loc[:,'2016-04-14']==1)|(df.load_days<=2)&(df.loc[:,'2016-04-15']==1)]
        buy_user_id = last_two_days['user_id']
        buy_user_id = pd.DataFrame(buy_user_id)
        path = './cache/Action_2016-02-01_2016-04-16_with_sku_id-time-user_id'
        with open(path,'rb') as f:
            buy_sku_id = pickle.load(f)
        buy_sku_id = buy_sku_id.drop_duplicates()
        buy_user_sku_id = pd.merge(buy_user_id,buy_sku_id,on='user_id',how='left').drop_duplicates()
        buy_user_sku_id['time'] = buy_user_sku_id.time.apply(lambda t :t[:10])
        buy_user_sku_id = buy_user_sku_id[buy_user_sku_id.time>='2016-04-14']
        df = buy_user_sku_id.groupby(['user_id','sku_id']).sku_id.count()
        df = pd.DataFrame(df)
        with open('./cache/buy_user_browse_count','wb') as f:
            pickle.dump(df,f)
    return df

In [4]:
#筛选出最后两天登陆并且已经购买了商品的用户
def not_buy_user():
    path = './cache/Action_2016-02-01_2016-04-16_with_sku_id-time-type-user_id'
    with open(path,'rb') as f:
        df = pickle.load(f)
    buy_user_id = pd.read_csv('aa.csv')['user_id']
    buy_user_id = pd.DataFrame(buy_user_id)
    df = pd.merge(buy_user_id,df,on='user_id',how='left')
    df['time'] = df.time.apply(lambda t:t[:10])
    last_two_days = df[df['time']>='2016-04-14']
    last_two_days = last_two_days[last_two_days.type==4][['user_id','sku_id']]
    trust_buy = pd.merge(buy_user_id,last_two_days,on='user_id',how='left')
    trust_buy = trust_buy.fillna(value=0)
    user_id = trust_buy[trust_buy.sku_id==0]['user_id']
    user_id = pd.DataFrame(user_id) 
    with open('./cache/buy_tommrow','wb') as f:
        pickle(user_id,f)
    return user_id

In [3]:
dump_path = './cache/Action_2016-02-01_2016-04-16_2'
if os.path.exists(dump_path):
    with open(dump_path,'rb') as f:
        df = pickle.load(f)
df

,user_id,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,2016-02-06,2016-02-07,2016-02-08,2016-02-09,...,2016-04-07,2016-04-08,2016-04-09,2016-04-10,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,load_days
0,200001.0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,0,1,22
1,200002.0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,19
2,200003.0,0,1,1,0,0,0,0,0,0,...,1,0,0,1,0,0,1,1,0,13
3,200004.0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,4
4,200005.0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,9
5,200006.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,7
6,200007.0,0,0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,8
7,200008.0,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,12
8,200009.0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,1,8
9,200010.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
10,200011.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
11,200012.0,0,0,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,1,14
12,200013.0,0,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,15
13,200014.0,0,0,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,1,0,21
14,200015.0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,1,1,0,1,21
15,200016.0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,12
16,200017.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
17,200018.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
18,200019.0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,4
19,200020.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
20,200021.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
21,200022.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,12
22,200023.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23,200024.0,0,0,0,0,1,1,0,0,0,...,1,0,0,0,1,0,1,0,0,10
24,200025.0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,1,1,6
25,200026.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,4
26,200027.0,0,0,0,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,18
27,200028.0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,1,1,1,24
28,200029.0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,6
29,200030.0,0,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105150,305292.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
105151,305293.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
105152,305294.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
105153,305295.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,5
105154,305296.0,0,0,0,0,0,0,1,0,0,...,1,0,1,0,0,1,0,1,1,30
105155,305297.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
105156,305298.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
105157,305299.0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,12
105158,305300.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
105159,305301.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,20
105160,305302.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,18
105161,305303.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
105162,305304.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
105163,305305.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,5
105164,305306.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,16
105165,305307.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
105166,305308.0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,1,1,1,1,8
105167,305309.0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,6
105168,305310.0,1,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,1,19
105169,305311.0,1,0,0,1,1,1,0,0,0,...,0,0,0,0,1,1,0,1,1,33
105170,305312.0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,1,1,1,1,19
105171,305313.0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,1,1,0,0,0,7
105172,305314.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,9
105173,305315.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,4
105174,305316.0,1,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
105175,305317.0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,12
105176,305318.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
105177,305319.0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,9
105178,305320.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
105179,305321.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8

# 登陆天数大于60天的，基本上不买

In [9]:
#查看登陆天数小于60天大于45天的用户购买轨迹
load_45_days = df[(df.load_days>45)&(df.load_days<=60)]
load_45_days

,user_id,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,2016-02-06,2016-02-07,2016-02-08,2016-02-09,...,2016-04-07,2016-04-08,2016-04-09,2016-04-10,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,load_days
117,200118.0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,52
241,200242.0,1,1,1,1,0,1,0,0,0,...,1,0,1,1,1,1,1,1,0,51
247,200248.0,1,0,1,1,1,1,0,0,0,...,1,1,1,0,0,1,1,1,1,52
259,200260.0,0,0,1,1,1,1,0,1,0,...,1,1,1,1,0,0,1,1,1,55
335,200336.0,0,1,1,1,0,0,0,0,0,...,1,1,0,1,1,1,1,1,0,46
375,200376.0,1,1,1,1,1,0,1,1,1,...,1,0,1,1,1,1,1,0,1,54
412,200413.0,1,1,1,1,1,1,0,0,0,...,1,1,1,1,1,0,1,0,1,51
470,200471.0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,1,0,1,1,47
474,200475.0,0,0,0,1,1,1,1,1,0,...,0,1,0,0,1,0,0,0,0,46
485,200486.0,0,0,1,0,0,0,0,1,0,...,0,1,0,0,1,0,1,1,1,46
1039,201040.0,1,1,1,1,1,1,1,1,1,...,0,1,0,0,0,0,0,1,1,50
1145,201146.0,0,1,1,1,1,1,1,1,0,...,1,1,1,1,0,1,1,1,1,54
1397,201398.0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,47
1440,201441.0,1,0,1,1,0,0,0,1,1,...,1,1,1,1,1,1,1,1,1,58
1573,201574.0,1,0,0,0,0,0,0,0,1,...,0,1,0,1,0,1,0,1,1,48
1593,201594.0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,52
1902,201904.0,0,1,1,1,1,1,1,1,0,...,1,1,0,1,0,0,0,1,0,51
1917,201919.0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,54
1975,201978.0,1,1,1,0,1,1,1,0,1,...,1,1,0,1,0,1,1,1,1,48
2182,202185.0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,1,1,1,0,1,47
2207,202210.0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,1,0,0,0,47
2578,202582.0,0,1,1,0,0,0,0,1,0,...,0,1,0,1,1,1,0,1,1,47
2593,202597.0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,50
2653,202657.0,1,0,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,50
2699,202703.0,1,0,1,1,1,0,0,0,0,...,0,0,0,1,1,1,0,0,1,50
2725,202729.0,1,1,1,1,0,1,1,0,1,...,0,0,0,1,1,1,1,1,1,48
3009,203014.0,0,1,0,0,1,0,0,0,0,...,1,1,1,1,1,0,1,1,1,52
3134,203139.0,1,1,1,1,1,0,0,1,1,...,1,1,1,1,0,0,0,1,0,49
3460,203465.0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,48
3932,203938.0,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,0,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100378,300513.0,1,0,1,1,0,1,1,0,1,...,1,1,1,1,0,1,1,0,0,46
100380,300515.0,0,0,1,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,46
100397,300532.0,0,0,1,0,1,0,1,1,0,...,1,1,1,1,1,1,1,1,0,58
100616,300751.0,1,1,1,0,0,0,0,0,0,...,1,1,1,0,1,1,1,1,1,59
100907,301042.0,1,1,1,1,1,1,1,1,1,...,1,1,1,0,1,0,1,0,1,47
100920,301055.0,1,1,1,1,1,0,1,1,1,...,0,1,1,1,1,0,1,1,0,57
101152,301287.0,1,1,1,0,0,1,0,0,1,...,1,1,1,0,1,1,0,0,0,53
101222,301357.0,1,0,0,1,0,0,0,0,0,...,1,1,1,1,1,0,0,1,1,46
101247,301383.0,1,1,1,1,1,0,0,0,0,...,1,1,1,0,0,0,1,0,0,53
101294,301430.0,0,1,1,1,0,1,1,1,0,...,0,1,1,0,0,0,0,1,0,49
101514,301650.0,1,0,0,0,1,0,1,1,0,...,0,1,0,0,1,0,1,0,0,46
101527,301663.0,1,1,1,1,0,1,1,1,0,...,1,1,1,1,1,1,1,1,1,58
101561,301697.0,0,0,1,1,0,0,0,0,1,...,0,0,0,1,1,0,0,0,0,46
101634,301770.0,0,0,1,0,0,0,0,1,1,...,1,1,1,1,1,1,1,1,1,52
101639,301775.0,1,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,46
101874,302010.0,1,0,0,1,1,1,1,1,0,...,0,1,0,1,0,0,0,0,0,46
101933,302069.0,1,1,0,1,1,0,1,0,0,...,1,0,1,1,1,0,1,0,0,51
102187,302323.0,1,1,1,1,1,1,0,0,1,...,1,1,1,1,0,1,1,1,1,47
102317,302453.0,1,0,0,1,1,0,1,0,1,...,1,1,1,1,1,1,0,1,0,51
102544,302680.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,46
102900,303036.0,0,0,1,1,1,0,1,0,0,...,1,1,0,1,1,1,1,1,1,51
103047,303183.0,0,0,0,0,0,0,1,0,1,...,1,1,1,1,0,0,0,0,0,49
103290,303427.0,1,1,1,0,0,0,1,0,0,...,0,1,1,1,1,0,0,1,0,47
103567,303704.0,1,1,1,1,0,0,0,0,0,...,0,1,1,1,1,1,1,1,1,46
103712,303849.0,1,1,1,0,0,1,1,1,0,...,1,1,0,0,1,0,1,1,1,52
103816,303953.0,1,1,1,1,1,1,1,0,0,...,1,0,1,0,0,0,0,0,0,48
103879,304016.0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,0,46
104599,304738.0,1,0,1,1,1,1,0,0,0,...,1,1,0,1,1,1,1,1,1,56
104630,304769.0,1,1,0,0,1,0,0,1,1,...,1,1,1,1,1,0,1,1,0,56
104850,304991.0,1,1,1,0,1,1,0,0,0,...,1,1,1,1,1,1,0,1,1,52

# 登陆次数少的，看看他们的购买情况

In [4]:
# load_2_10_days = df[(df.load_days>2)&(df.load_days<=10)]
# load_45_days = load_2_10_days
load_45_days = df

In [5]:
user_level = pd.read_csv(USER_FILE,encoding='gbk')
load_45_days = pd.merge(load_45_days,user_level,how='left',on='user_id')[['user_id','load_days','age','sex','user_lv_cd','user_reg_tm','2016-04-12','2016-04-13','2016-04-14','2016-04-15']]
load_45_days

,user_id,load_days,age,sex,user_lv_cd,user_reg_tm,2016-04-12,2016-04-13,2016-04-14,2016-04-15
0,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1
1,200002.0,19,-1,0.0,1,2016-01-26,0,1,1,0
2,200003.0,13,36-45岁,1.0,4,2016-01-26,0,1,1,0
3,200004.0,4,-1,2.0,1,2016-01-26,1,0,1,0
4,200005.0,9,16-25岁,0.0,4,2016-01-26,0,0,0,0
5,200006.0,7,36-45岁,2.0,2,2013-04-10,0,0,0,1
6,200007.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0
7,200008.0,12,-1,2.0,3,2016-01-26,0,0,0,0
8,200009.0,8,36-45岁,2.0,2,2016-01-26,1,0,1,1
9,200010.0,4,36-45岁,2.0,3,2016-01-26,0,0,0,0
10,200011.0,5,-1,0.0,5,2013-04-10,0,0,0,0
11,200012.0,14,36-45岁,2.0,3,2013-04-10,0,0,0,1
12,200013.0,15,26-35岁,2.0,4,2013-04-10,0,0,1,0
13,200014.0,21,26-35岁,2.0,4,2013-04-10,0,0,1,0
14,200015.0,21,26-35岁,1.0,3,2016-01-26,1,1,0,1
15,200016.0,12,26-35岁,2.0,3,2016-01-26,0,0,0,0
16,200017.0,5,36-45岁,2.0,4,2016-01-26,0,0,0,0
17,200018.0,4,16-25岁,2.0,2,2016-01-26,0,0,0,0
18,200019.0,4,16-25岁,2.0,2,2016-01-26,1,0,0,0
19,200020.0,8,-1,2.0,2,2016-01-26,0,0,0,0
20,200021.0,5,26-35岁,2.0,2,2016-01-26,0,0,0,0
21,200022.0,12,26-35岁,0.0,5,2013-04-10,0,0,0,0
22,200023.0,1,36-45岁,2.0,4,2016-01-26,0,0,0,0
23,200024.0,10,36-45岁,2.0,3,2016-01-26,0,1,0,0
24,200025.0,6,46-55岁,2.0,3,2013-04-10,1,1,1,1
25,200026.0,4,26-35岁,2.0,2,2016-02-04,0,0,0,0
26,200027.0,18,26-35岁,1.0,5,2013-04-10,0,0,0,0
27,200028.0,24,16-25岁,2.0,4,2016-01-26,1,1,1,1
28,200029.0,6,-1,2.0,2,2016-01-26,0,0,0,1
29,200030.0,20,-1,2.0,2,2016-01-26,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
105150,305292.0,4,26-35岁,2.0,4,2016-01-26,0,0,0,0
105151,305293.0,6,-1,2.0,1,2016-01-26,0,0,0,0
105152,305294.0,4,26-35岁,0.0,3,2016-01-26,0,0,0,0
105153,305295.0,5,16-25岁,2.0,3,2016-01-26,1,1,1,1
105154,305296.0,30,26-35岁,2.0,5,2016-01-26,1,0,1,1
105155,305297.0,3,36-45岁,2.0,2,2016-01-26,0,0,0,0
105156,305298.0,7,-1,2.0,2,2016-01-26,0,0,0,0
105157,305299.0,12,26-35岁,0.0,4,2013-04-10,0,0,0,0
105158,305300.0,9,36-45岁,2.0,3,2013-04-10,0,0,0,0
105159,305301.0,20,56岁以上,2.0,5,2016-01-26,0,0,0,1
105160,305302.0,18,26-35岁,2.0,3,2013-04-10,0,0,0,0
105161,305303.0,10,26-35岁,2.0,2,2016-01-26,0,0,0,0
105162,305304.0,6,36-45岁,0.0,4,2013-04-10,0,0,0,0
105163,305305.0,5,36-45岁,2.0,4,2013-04-10,0,0,0,1
105164,305306.0,16,36-45岁,2.0,2,2016-01-26,0,0,0,0
105165,305307.0,4,36-45岁,1.0,4,2016-01-26,0,0,0,0
105166,305308.0,8,36-45岁,0.0,4,2016-01-26,1,1,1,1
105167,305309.0,6,36-45岁,2.0,3,2016-01-26,0,0,0,0
105168,305310.0,19,36-45岁,0.0,2,2016-01-26,0,0,0,1
105169,305311.0,33,16-25岁,2.0,1,2016-01-26,1,0,1,1
105170,305312.0,19,26-35岁,0.0,5,2008-11-01,1,1,1,1
105171,305313.0,7,16-25岁,1.0,3,2016-01-26,1,0,0,0
105172,305314.0,9,26-35岁,1.0,5,2013-04-10,0,0,0,1
105173,305315.0,4,36-45岁,2.0,2,2016-01-26,0,0,0,0
105174,305316.0,3,36-45岁,1.0,2,2016-01-26,0,0,0,0
105175,305317.0,12,26-35岁,2.0,4,2013-04-10,0,1,0,0
105176,305318.0,2,36-45岁,2.0,3,2016-01-26,0,0,0,0
105177,305319.0,9,26-35岁,0.0,3,2016-01-26,0,0,0,0
105178,305320.0,7,36-45岁,2.0,2,2016-01-26,0,0,0,0
105179,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0

In [6]:
with open('./cache/Action_2016-02-01_2016-04-16_with_time-type-user_id','rb') as f:
    user_action = pickle.load(f)
user_action = pd.merge(load_45_days,user_action,on='user_id',how='left')
user_action

,user_id,load_days,age,sex,user_lv_cd,user_reg_tm,2016-04-12,2016-04-13,2016-04-14,2016-04-15,time,type
0,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-13 12:44:11,6
1,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-13 12:44:11,1
2,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-13 12:44:11,1
3,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-13 12:44:11,6
4,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-13 12:44:11,6
5,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-13 12:44:11,6
6,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-13 12:44:41,6
7,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-13 12:44:41,1
8,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-13 12:44:41,6
9,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-13 12:44:41,1
10,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-13 12:45:12,6
11,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-13 12:45:12,6
12,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-13 12:45:12,6
13,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-13 12:48:14,1
14,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-13 12:48:14,1
15,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-14 09:19:35,6
16,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-14 09:19:36,1
17,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-14 09:19:38,6
18,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-14 09:20:10,2
19,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-14 09:20:10,6
20,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-14 09:20:10,6
21,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-14 09:21:50,6
22,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-14 09:21:50,1
23,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-14 18:33:10,1
24,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-14 18:33:10,6
25,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-14 18:33:10,6
26,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-14 18:33:10,6
27,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-14 18:33:10,6
28,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-14 18:33:10,1
29,200001.0,22,56岁以上,2.0,5,2016-01-26,0,1,0,1,2016-03-14 18:33:10,1
...,...,...,...,...,...,...,...,...,...,...,...,...
50601677,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-01 11:25:59,1
50601678,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-01 11:25:59,1
50601679,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-01 11:25:59,1
50601680,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-01 11:25:59,1
50601681,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-04 11:39:38,1
50601682,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-04 11:39:38,1
50601683,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-04 11:40:35,1
50601684,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-04 11:40:35,1
50601685,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-04 20:56:26,1
50601686,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-04 20:56:26,1
50601687,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-05 14:24:42,1
50601688,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-05 14:24:42,1
50601689,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-05 17:25:31,1
50601690,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-05 17:25:31,1
50601691,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-06 10:19:35,1
50601692,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-06 10:19:35,1
50601693,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-06 10:19:35,1
50601694,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-06 10:19:35,1
50601695,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-07 18:39:41,1
50601696,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-07 18:39:41,1
50601697,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-07 18:40:41,1
50601698,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-07 18:40:41,1
50601699,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-08 10:56:36,1
50601700,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-08 10:56:36,1
50601701,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-08 11:47:09,1
50601702,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-08 11:47:09,1
50601703,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-08 11:53:31,1
50601704,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-08 11:53:31,1
50601705,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-08 11:53:31,1
50601706,305321.0,8,36-45岁,2.0,3,2016-01-26,0,0,0,0,2016-03-08 11:53:31,1

In [96]:
b=user_action[user_action.type==4][['user_id','time','user_lv_cd','age','sex','user_reg_tm','load_days','type']]
b.sort_values(by='load_days',ascending=True)

,user_id,time,user_lv_cd,age,sex,user_reg_tm,load_days,type
7510351,279055.0,2016-03-25 16:41:00,4,26-35岁,2.0,2015-05-29,3,4
1431871,212379.0,2016-03-22 15:37:00,5,26-35岁,0.0,2010-10-12,3,4
1431870,212379.0,2016-03-22 15:37:00,5,26-35岁,0.0,2010-10-12,3,4
1431869,212379.0,2016-03-22 15:37:00,5,26-35岁,0.0,2010-10-12,3,4
1429177,212347.0,2016-03-02 16:42:00,5,26-35岁,0.0,2008-12-10,3,4
1424804,212312.0,2016-02-25 15:17:00,5,36-45岁,2.0,2013-07-22,3,4
6231221,265582.0,2016-02-22 18:22:00,3,26-35岁,2.0,2015-02-02,3,4
3894653,240248.0,2016-03-15 10:28:00,4,36-45岁,0.0,2011-11-24,3,4
6226247,265534.0,2016-04-07 18:33:00,4,-1,0.0,2015-02-02,3,4
6221233,265461.0,2016-03-03 12:41:00,3,36-45岁,2.0,2015-02-01,3,4
1413537,212211.0,2016-03-14 14:21:00,4,26-35岁,2.0,2013-07-20,3,4
8844873,292464.0,2016-04-07 10:42:00,4,36-45岁,2.0,2015-10-10,3,4
3896528,240284.0,2016-03-26 00:22:00,3,26-35岁,0.0,2011-11-24,3,4
6218144,265427.0,2016-04-03 17:15:00,4,36-45岁,0.0,2015-02-01,3,4
3898437,240302.0,2016-04-09 09:00:00,4,36-45岁,0.0,2011-11-25,3,4
3900157,240321.0,2016-02-18 18:02:00,5,36-45岁,0.0,2009-08-03,3,4
3903727,240369.0,2016-03-22 15:17:00,4,26-35岁,1.0,2011-11-26,3,4
1401755,212080.0,2016-03-17 19:40:00,4,26-35岁,2.0,2013-07-17,3,4
3910195,240434.0,2016-04-14 00:11:00,4,36-45岁,0.0,2009-08-05,3,4
3910194,240434.0,2016-04-14 00:11:00,4,36-45岁,0.0,2009-08-05,3,4
8884485,292846.0,2016-04-04 13:09:00,3,-1,2.0,2015-10-15,3,4
3910193,240434.0,2016-04-14 00:11:00,4,36-45岁,0.0,2009-08-05,3,4
6184986,265023.0,2016-03-03 13:15:00,3,36-45岁,2.0,2015-01-30,3,4
6193725,265149.0,2016-03-25 01:04:00,4,36-45岁,2.0,2012-06-12,3,4
3871741,239991.0,2016-03-01 21:51:00,3,26-35岁,0.0,2011-11-19,3,4
8882248,292809.0,2016-03-01 11:40:00,3,36-45岁,1.0,2015-10-14,3,4
8881634,292803.0,2016-03-23 11:18:00,3,26-35岁,0.0,2015-10-14,3,4
6193727,265149.0,2016-03-25 01:04:00,4,36-45岁,2.0,2012-06-12,3,4
1396003,212003.0,2016-02-25 09:34:00,4,26-35岁,2.0,2013-07-16,3,4
8879643,292778.0,2016-02-26 12:16:00,3,26-35岁,2.0,2015-10-14,3,4
...,...,...,...,...,...,...,...,...
1442683,212490.0,2016-03-15 13:41:00,4,26-35岁,2.0,2013-07-27,10,4
8812237,292144.0,2016-02-16 19:51:00,5,26-35岁,1.0,2013-01-05,10,4
3403097,234715.0,2016-03-16 08:45:00,4,26-35岁,0.0,2014-04-27,10,4
8828958,292298.0,2016-02-03 16:43:00,4,36-45岁,1.0,2015-10-08,10,4
3408761,234770.0,2016-03-21 22:05:00,5,26-35岁,2.0,2014-04-28,10,4
3417097,234883.0,2016-02-09 08:03:00,5,26-35岁,0.0,2009-04-08,10,4
3417184,234883.0,2016-02-10 00:33:00,5,26-35岁,0.0,2009-04-08,10,4
1430681,212360.0,2016-04-09 01:09:00,5,-1,0.0,2010-10-12,10,4
1427165,212341.0,2016-03-18 10:48:00,5,26-35岁,0.0,2010-10-12,10,4
8823813,292243.0,2016-04-08 07:46:00,5,36-45岁,0.0,2010-06-20,10,4
8812236,292144.0,2016-02-16 19:51:00,5,26-35岁,1.0,2013-01-05,10,4
8812235,292144.0,2016-02-16 19:51:00,5,26-35岁,1.0,2013-01-05,10,4
3402896,234715.0,2016-02-28 21:46:00,4,26-35岁,0.0,2014-04-27,10,4
1458247,212662.0,2016-03-29 23:27:00,3,26-35岁,1.0,2013-07-30,10,4
1456031,212644.0,2016-04-06 09:08:00,3,56岁以上,0.0,2010-10-16,10,4
6712823,270793.0,2016-04-15 11:56:00,2,-1,2.0,2015-03-12,10,4
6709786,270751.0,2016-04-09 07:48:00,3,16-25岁,2.0,2012-08-01,10,4
6709737,270751.0,2016-02-29 18:15:00,3,16-25岁,2.0,2012-08-01,10,4
6708309,270732.0,2016-03-14 00:03:00,3,26-35岁,2.0,2015-03-12,10,4
1455882,212644.0,2016-03-11 11:07:00,3,56岁以上,0.0,2010-10-16,10,4
1453936,212622.0,2016-03-16 20:05:00,4,26-35岁,2.0,2013-07-29,10,4
1447176,212545.0,2016-03-14 21:11:00,5,26-35岁,0.0,2010-10-15,10,4
3402812,234715.0,2016-02-21 21:31:00,4,26-35岁,0.0,2014-04-27,10,4
8805680,292091.0,2016-03-28 23:00:00,5,26-35岁,2.0,2015-10-06,10,4
3402893,234715.0,2016-02-28 21:46:00,4,26-35岁,0.0,2014-04-27,10,4
3402894,234715.0,2016-02-28 21:46:00,4,26-35岁,0.0,2014-04-27,10,4
6700792,270668.0,2016-03-30 15:39:00,5,36-45岁,0.0,2010-02-26,10,4
3402895,234715.0,2016-02-28 21:46:00,4,26-35岁,0.0,2014-04-27,10,4
3393868,234626.0,2016-03-29 00:02:00,5,36-45岁,2.0,2014-04-27,10,4
2606667,225626.0,2016-03-11 13:16:00,5,36-45岁,0.0,2011-04-23,10,4

In [97]:
c = b[['user_id','type']]
c = c.groupby(['user_id'],as_index=False).sum()
c['type'] = c['type']/4
c.sort_values(by='type',ascending=False)

        user_id  type
7067   267775.0  11.0
374    203507.0  11.0
19     200258.0  10.0
7      200077.0  10.0
9815   296743.0   9.0
2488   222511.0   9.0
2334   221157.0   9.0
10385  302895.0   8.0
636    205196.0   8.0
1755   214974.0   8.0
1428   211846.0   8.0
1216   209763.0   7.0
3180   229702.0   7.0
10143  300379.0   7.0
3679   234700.0   7.0
6566   262503.0   7.0
3680   234715.0   7.0
8645   283947.0   7.0
4987   247298.0   7.0
1524   212749.0   7.0
2455   222261.0   7.0
4595   243253.0   7.0
893    206651.0   7.0
9288   290807.0   7.0
9838   296976.0   7.0
4201   239486.0   7.0
1131   208502.0   6.0
7317   270113.0   6.0
3031   228170.0   6.0
2174   219440.0   6.0
...         ...   ...
4083   238256.0   1.0
4084   238258.0   1.0
4085   238267.0   1.0
4086   238274.0   1.0
4088   238291.0   1.0
4060   238069.0   1.0
4089   238300.0   1.0
4090   238309.0   1.0
4091   238320.0   1.0
4092   238329.0   1.0
4093   238342.0   1.0
4094   238343.0   1.0
4080   238226.0   1.0
4079   238225.0   1.0
4078   238215.0   1.0
4077   238210.0   1.0
4076   238209.0   1.0
4074   238191.0   1.0
4073   238189.0   1.0
4072   238182.0   1.0
4071   238166.0   1.0
4069   238142.0   1.0
4067   238137.0   1.0
4066   238124.0   1.0
4065   238117.0   1.0
4064   238108.0   1.0
4063   238104.0   1.0
4062   238103.0   1.0
4061   238091.0   1.0
10628  305313.0   1.0

[10629 rows x 2 columns]

In [32]:
len(c[c.type>9])

12

# 将C中买的次数大于2的用户取出来，查看这类用户在最后两天有没有加购物车

In [98]:
c_big_2 = c
c_big_2.columns = ['user_id','buy_numbers']
with open('./cache/Action_2016-02-01_2016-04-16_with_time-type-user_id','rb') as f:
    user_action = pickle.load(f)
c_big_2 = pd.merge(c_big_2,user_action,on='user_id',how='left')
#4-14和4-15号的信息
c_big_2 = c_big_2[c_big_2.time>'2016-04-14 00:00:00']
c_big_2 = c_big_2[(c_big_2.type!=4)]
c_big_2

          user_id  buy_numbers                 time  type
734      200034.0          1.0  2016-04-14 08:12:03     1
735      200034.0          1.0  2016-04-14 08:12:03     6
736      200034.0          1.0  2016-04-14 08:12:03     1
737      200034.0          1.0  2016-04-14 08:12:03     6
738      200034.0          1.0  2016-04-14 08:12:03     6
739      200034.0          1.0  2016-04-14 08:12:59     6
740      200034.0          1.0  2016-04-14 08:12:59     6
741      200034.0          1.0  2016-04-14 08:12:59     1
742      200034.0          1.0  2016-04-14 08:12:59     6
743      200034.0          1.0  2016-04-14 08:12:59     6
744      200034.0          1.0  2016-04-14 08:12:59     1
745      200034.0          1.0  2016-04-14 08:12:59     6
746      200034.0          1.0  2016-04-14 08:13:29     1
747      200034.0          1.0  2016-04-14 08:13:29     1
748      200034.0          1.0  2016-04-14 08:13:29     6
749      200034.0          1.0  2016-04-14 08:14:03     2
750      200034.0          1.0  2016-04-14 08:14:08     6
751      200034.0          1.0  2016-04-14 08:14:08     6
752      200034.0          1.0  2016-04-14 08:14:08     6
753      200034.0          1.0  2016-04-14 08:14:08     6
755      200034.0          1.0  2016-04-15 07:55:55     1
756      200034.0          1.0  2016-04-15 07:55:55     6
757      200034.0          1.0  2016-04-15 07:55:55     6
758      200034.0          1.0  2016-04-15 07:55:55     6
759      200034.0          1.0  2016-04-15 07:55:55     6
760      200034.0          1.0  2016-04-15 07:55:55     1
1267     200074.0          1.0  2016-04-14 18:56:05     1
1268     200074.0          1.0  2016-04-14 18:56:07     6
1269     200074.0          1.0  2016-04-14 18:56:21     6
1270     200074.0          1.0  2016-04-14 18:58:32     1
...           ...          ...                  ...   ...
2819625  305308.0          1.0  2016-04-14 17:30:30     6
2819626  305308.0          1.0  2016-04-14 17:30:30     1
2819627  305308.0          1.0  2016-04-14 17:30:30     6
2819628  305308.0          1.0  2016-04-14 17:30:30     1
2819629  305308.0          1.0  2016-04-14 17:30:30     6
2819630  305308.0          1.0  2016-04-14 17:30:30     6
2819631  305308.0          1.0  2016-04-15 14:19:14     6
2819632  305308.0          1.0  2016-04-15 14:19:14     1
2819633  305308.0          1.0  2016-04-15 14:19:14     6
2819634  305308.0          1.0  2016-04-15 14:19:14     6
2819635  305308.0          1.0  2016-04-15 14:19:14     1
2819636  305308.0          1.0  2016-04-15 14:19:14     6
2819637  305308.0          1.0  2016-04-15 14:21:14     6
2819638  305308.0          1.0  2016-04-15 14:21:14     1
2819639  305308.0          1.0  2016-04-15 14:21:14     6
2819640  305308.0          1.0  2016-04-15 14:21:14     6
2819641  305308.0          1.0  2016-04-15 14:21:14     6
2819642  305308.0          1.0  2016-04-15 14:21:14     1
2819643  305308.0          1.0  2016-04-15 14:21:14     6
2819644  305308.0          1.0  2016-04-15 14:21:44     6
2819645  305308.0          1.0  2016-04-15 14:21:44     6
2819646  305308.0          1.0  2016-04-15 14:23:45     6
2819647  305308.0          1.0  2016-04-15 14:24:16     6
2819648  305308.0          1.0  2016-04-15 14:24:16     6
2819649  305308.0          1.0  2016-04-15 14:24:16     6
2819650  305308.0          1.0  2016-04-15 14:24:16     6
2819651  305308.0          1.0  2016-04-15 14:24:16     1
2819652  305308.0          1.0  2016-04-15 14:24:16     1
2819653  305308.0          1.0  2016-04-15 14:24:16     6
2819654  305308.0          1.0  2016-04-15 14:24:16     6

[147892 rows x 4 columns]

In [84]:
item = user_action[user_action['user_id']==299521.0]
item = item[(item.time>'2016-04-13 00:00:00')]
len(item[item.type==4])

0

In [99]:
c_big_2 = c_big_2[c_big_2.type==2]
c_big_2

          user_id  buy_numbers                 time  type
749      200034.0          1.0  2016-04-14 08:14:03     2
1273     200074.0          1.0  2016-04-14 18:58:37     2
11786    200512.0          1.0  2016-04-14 00:01:32     2
11802    200512.0          1.0  2016-04-14 00:12:14     2
11842    200512.0          1.0  2016-04-14 00:36:35     2
16986    200721.0          1.0  2016-04-14 00:19:00     2
17668    200728.0          1.0  2016-04-14 11:38:17     2
17683    200728.0          1.0  2016-04-14 11:59:35     2
23593    201092.0          1.0  2016-04-14 11:47:32     2
23600    201092.0          1.0  2016-04-14 11:48:19     2
24029    201126.0          2.0  2016-04-14 23:25:01     2
24030    201126.0          2.0  2016-04-14 23:48:11     2
24031    201126.0          2.0  2016-04-15 00:15:34     2
24035    201126.0          2.0  2016-04-15 23:00:56     2
28878    201350.0          3.0  2016-04-14 09:41:31     2
28906    201350.0          3.0  2016-04-15 17:51:35     2
33095    201529.0          1.0  2016-04-15 07:05:23     2
36155    201646.0          1.0  2016-04-15 14:43:39     2
36166    201646.0          1.0  2016-04-15 14:44:14     2
54433    202072.0          2.0  2016-04-14 13:50:43     2
57662    202215.0          1.0  2016-04-14 18:46:10     2
57666    202215.0          1.0  2016-04-14 21:20:17     2
57670    202215.0          1.0  2016-04-15 18:25:26     2
57671    202215.0          1.0  2016-04-15 18:25:27     2
58588    202284.0          1.0  2016-04-14 14:06:59     2
58851    202326.0          1.0  2016-04-14 21:29:10     2
64793    202492.0          3.0  2016-04-14 09:18:24     2
64848    202492.0          3.0  2016-04-15 22:54:03     2
65073    202508.0          1.0  2016-04-14 22:55:45     2
65101    202508.0          1.0  2016-04-15 22:12:35     2
...           ...          ...                  ...   ...
2789785  304134.0          1.0  2016-04-14 15:01:59     2
2791790  304147.0          2.0  2016-04-15 00:01:16     2
2791873  304155.0          1.0  2016-04-15 11:35:50     2
2792126  304159.0          2.0  2016-04-14 18:57:23     2
2792141  304159.0          2.0  2016-04-14 19:05:34     2
2792156  304159.0          2.0  2016-04-14 19:06:55     2
2792203  304159.0          2.0  2016-04-14 19:13:33     2
2792236  304159.0          2.0  2016-04-14 19:21:01     2
2794745  304244.0          2.0  2016-04-14 23:41:47     2
2795410  304265.0          1.0  2016-04-14 19:49:39     2
2795426  304265.0          1.0  2016-04-15 08:34:48     2
2795520  304265.0          1.0  2016-04-15 09:26:23     2
2795542  304265.0          1.0  2016-04-15 09:32:51     2
2797517  304366.0          1.0  2016-04-15 15:37:53     2
2797815  304367.0          4.0  2016-04-14 07:41:06     2
2797898  304377.0          1.0  2016-04-15 14:29:24     2
2804838  304687.0          1.0  2016-04-14 06:04:49     2
2804860  304687.0          1.0  2016-04-14 06:07:04     2
2804868  304687.0          1.0  2016-04-14 06:08:04     2
2804902  304687.0          1.0  2016-04-14 06:10:22     2
2804932  304687.0          1.0  2016-04-14 14:21:24     2
2805107  304687.0          1.0  2016-04-15 10:06:35     2
2805352  304724.0          1.0  2016-04-15 08:11:57     2
2808073  304774.0          2.0  2016-04-14 14:23:16     2
2808093  304774.0          2.0  2016-04-14 15:26:24     2
2808094  304774.0          2.0  2016-04-14 15:26:24     2
2808095  304774.0          2.0  2016-04-14 15:26:24     2
2808097  304774.0          2.0  2016-04-14 15:29:29     2
2817856  305254.0          2.0  2016-04-14 22:35:21     2
2817857  305254.0          2.0  2016-04-14 22:35:21     2

[2785 rows x 4 columns]

In [100]:
type_c = pd.get_dummies(c_big_2['type'],prefix='type')
will_buy = c_big_2['user_id']
will_buy = pd.DataFrame(will_buy)
will_buy = pd.concat([will_buy,type_c],axis=1)
will_buy = will_buy.groupby('user_id',as_index=False).sum()
will_buy

      user_id  type_2
0    200034.0     1.0
1    200074.0     1.0
2    200512.0     3.0
3    200721.0     1.0
4    200728.0     2.0
5    201092.0     2.0
6    201126.0     4.0
7    201350.0     2.0
8    201529.0     1.0
9    201646.0     2.0
10   202072.0     1.0
11   202215.0     4.0
12   202284.0     1.0
13   202326.0     1.0
14   202492.0     2.0
15   202508.0     2.0
16   202532.0     1.0
17   203027.0     2.0
18   203029.0     1.0
19   203093.0     4.0
20   203403.0     1.0
21   203407.0    12.0
22   203408.0     6.0
23   203510.0     2.0
24   203678.0     2.0
25   203716.0     1.0
26   203763.0     2.0
27   203770.0     1.0
28   204133.0     1.0
29   204348.0     3.0
..        ...     ...
932  301312.0     1.0
933  301334.0     1.0
934  301342.0     1.0
935  301387.0    10.0
936  301402.0     3.0
937  301724.0     2.0
938  301725.0     1.0
939  301850.0     1.0
940  302224.0     1.0
941  302632.0     6.0
942  302776.0     1.0
943  303152.0     4.0
944  303364.0     1.0
945  303474.0     2.0
946  303645.0     1.0
947  303646.0     1.0
948  304030.0     1.0
949  304134.0     1.0
950  304147.0     1.0
951  304155.0     1.0
952  304159.0     5.0
953  304244.0     1.0
954  304265.0     4.0
955  304366.0     1.0
956  304367.0     1.0
957  304377.0     1.0
958  304687.0     6.0
959  304724.0     1.0
960  304774.0     5.0
961  305254.0     2.0

[962 rows x 2 columns]

In [101]:
# c_big_2.sort_values(by='buy_numbers',ascending=False)
c_big_2 = pd.merge(will_buy,c_big_2,on='user_id',how='left').drop_duplicates()
# c_big_2 = c_big_2[['user_id','type_2','type_4','buy_numbers']].drop_duplicates()
c_big_2 = c_big_2[['user_id','type_2','buy_numbers']].drop_duplicates()
c_big_2.sort_values(by='buy_numbers',ascending=False)

       user_id  type_2  buy_numbers
419   214974.0     8.0          8.0
955   234715.0     4.0          7.0
1777  262503.0     1.0          7.0
291   210039.0     1.0          6.0
803   230308.0     9.0          5.0
856   232453.0     7.0          5.0
2352  284604.0    23.0          5.0
2663  299022.0     2.0          5.0
316   210911.0     2.0          5.0
2406  286592.0     3.0          5.0
1414  249903.0    13.0          5.0
514   219893.0     1.0          5.0
116   205993.0     1.0          5.0
1624  256821.0     6.0          5.0
463   216878.0    11.0          5.0
385   212687.0     1.0          5.0
1144  240428.0     4.0          4.0
89    204727.0     1.0          4.0
1148  240434.0     2.0          4.0
2007  270687.0     2.0          4.0
2410  286709.0     2.0          4.0
1962  267995.0     1.0          4.0
2481  290923.0     1.0          4.0
486   217832.0     4.0          4.0
2469  290248.0     1.0          4.0
578   222306.0     5.0          4.0
2461  290019.0     1.0          4.0
564   221990.0     1.0          4.0
2348  284575.0     4.0          4.0
1327  248130.0     4.0          4.0
...        ...     ...          ...
1482  252002.0     2.0          1.0
1484  252030.0     1.0          1.0
1485  252173.0    13.0          1.0
1498  252517.0     2.0          1.0
1500  252582.0     1.0          1.0
1501  252584.0     5.0          1.0
1506  252689.0     4.0          1.0
1440  250548.0     2.0          1.0
411   214064.0     1.0          1.0
1351  248400.0     3.0          1.0
1379  249201.0    12.0          1.0
432   215034.0     7.0          1.0
1356  248470.0     3.0          1.0
1359  248502.0     1.0          1.0
1360  248560.0     2.0          1.0
1370  248627.0     2.0          1.0
1372  248731.0     2.0          1.0
1374  249094.0     3.0          1.0
1377  249126.0     2.0          1.0
1391  249715.0     5.0          1.0
412   214233.0     1.0          1.0
1     200074.0     1.0          1.0
1397  249805.0     9.0          1.0
1406  249807.0     5.0          1.0
1411  249840.0     2.0          1.0
1413  249851.0     1.0          1.0
1427  249906.0     1.0          1.0
413   214455.0     3.0          1.0
1430  250220.0     4.0          1.0
0     200034.0     1.0          1.0

[962 rows x 3 columns]

In [103]:
c_big_2 = c
c_big_2.columns = ['user_id','buy_numbers']
with open('./cache/Action_2016-02-01_2016-04-16_with_time-type-user_id','rb') as f:
    user_action = pickle.load(f)
c_big_2 = pd.merge(c_big_2,user_action,on='user_id',how='left')
#4-14和4-15号的信息
c_big_2 = c_big_2[c_big_2.time>'2016-04-15 00:00:00']
c_big_2 = c_big_2[(c_big_2.type!=4)]
c_big_2 = c_big_2[c_big_2.type==2]
type_c = pd.get_dummies(c_big_2['type'],prefix='type')
will_buy = c_big_2['user_id']
will_buy = pd.DataFrame(will_buy)
will_buy = pd.concat([will_buy,type_c],axis=1)
will_buy = will_buy.groupby('user_id',as_index=False).sum()
# c_big_2.sort_values(by='buy_numbers',ascending=False)
c_big_2 = pd.merge(will_buy,c_big_2,on='user_id',how='left').drop_duplicates()
# c_big_2 = c_big_2[['user_id','type_2','type_4','buy_numbers']].drop_duplicates()
c_big_2 = c_big_2[['user_id','type_2','buy_numbers']].drop_duplicates()
c_big_2.sort_values(by='buy_numbers',ascending=False)

       user_id  type_2  buy_numbers
672   262503.0     1.0          7.0
113   210039.0     1.0          6.0
297   230308.0     9.0          5.0
116   210911.0     2.0          5.0
153   212687.0     1.0          5.0
179   219893.0     1.0          5.0
536   249903.0     8.0          5.0
44    205993.0     1.0          5.0
918   284604.0    20.0          5.0
596   256821.0     3.0          5.0
265   226730.0     1.0          4.0
957   286709.0     1.0          4.0
974   290923.0     1.0          4.0
762   267995.0     1.0          4.0
938   284628.0    11.0          4.0
680   262894.0     3.0          4.0
196   222306.0     1.0          4.0
967   290019.0     1.0          4.0
755   267727.0     6.0          3.0
238   226388.0     8.0          3.0
782   269898.0     1.0          3.0
651   260559.0     1.0          3.0
806   272605.0     4.0          3.0
634   259588.0     3.0          3.0
584   256207.0     2.0          3.0
567   254240.0     5.0          3.0
552   251037.0     2.0          3.0
2     201350.0     1.0          3.0
516   245628.0     1.0          3.0
448   240032.0     1.0          3.0
...        ...     ...          ...
520   247440.0     2.0          1.0
517   246076.0     3.0          1.0
182   220385.0     4.0          1.0
513   245129.0     1.0          1.0
509   244766.0     4.0          1.0
186   221161.0     3.0          1.0
492   243820.0     1.0          1.0
490   243818.0     2.0          1.0
487   243686.0     3.0          1.0
533   249840.0     2.0          1.0
535   249851.0     1.0          1.0
176   218679.0     1.0          1.0
557   251357.0     1.0          1.0
575   254749.0     4.0          1.0
574   254614.0     1.0          1.0
572   254341.0     2.0          1.0
169   215619.0     1.0          1.0
563   252689.0     4.0          1.0
559   252584.0     4.0          1.0
558   252030.0     1.0          1.0
556   251338.0     1.0          1.0
544   249906.0     1.0          1.0
555   251319.0     1.0          1.0
170   215899.0     2.0          1.0
172   216128.0     1.0          1.0
550   250831.0     2.0          1.0
549   250548.0     1.0          1.0
173   216175.0     1.0          1.0
175   216404.0     1.0          1.0
1097  304724.0     1.0          1.0

[454 rows x 3 columns]

In [104]:
c_big_2.sort_values(by='type_2',ascending=False)

       user_id  type_2  buy_numbers
918   284604.0    20.0          5.0
984   293543.0    19.0          2.0
493   244664.0    16.0          2.0
276   229215.0    15.0          1.0
252   226699.0    13.0          1.0
211   223887.0    13.0          2.0
878   281292.0    12.0          1.0
142   212375.0    11.0          1.0
938   284628.0    11.0          4.0
327   232624.0    11.0          1.0
1047  298646.0    10.0          3.0
1068  301387.0    10.0          1.0
742   267133.0     9.0          1.0
297   230308.0     9.0          5.0
733   267072.0     9.0          2.0
238   226388.0     8.0          3.0
903   283288.0     8.0          1.0
122   211170.0     8.0          2.0
536   249903.0     8.0          5.0
87    207387.0     8.0          1.0
13    203407.0     8.0          1.0
367   234354.0     8.0          1.0
637   259697.0     8.0          2.0
1005  294060.0     7.0          1.0
766   268596.0     7.0          1.0
697   264626.0     7.0          1.0
343   233057.0     7.0          1.0
714   266269.0     7.0          1.0
76    207326.0     7.0          1.0
586   256268.0     7.0          1.0
...        ...     ...          ...
415   236488.0     1.0          1.0
414   236012.0     1.0          1.0
413   235981.0     1.0          1.0
395   235255.0     1.0          1.0
392   235010.0     1.0          2.0
383   234849.0     1.0          1.0
379   234681.0     1.0          1.0
375   234379.0     1.0          1.0
363   234104.0     1.0          1.0
359   233740.0     1.0          2.0
354   233525.0     1.0          1.0
431   237824.0     1.0          1.0
434   238589.0     1.0          1.0
444   239576.0     1.0          1.0
483   243497.0     1.0          1.0
526   248502.0     1.0          1.0
525   248284.0     1.0          2.0
522   247825.0     1.0          1.0
516   245628.0     1.0          3.0
513   245129.0     1.0          1.0
492   243820.0     1.0          1.0
476   242455.0     1.0          1.0
448   240032.0     1.0          3.0
466   242054.0     1.0          2.0
465   241926.0     1.0          1.0
462   241165.0     1.0          1.0
461   241114.0     1.0          1.0
460   241022.0     1.0          2.0
459   241015.0     1.0          1.0
1097  304724.0     1.0          1.0

[454 rows x 3 columns]

# 求所有用户的加购转化率，越低越好   5.9号代码

In [108]:
# with open('./cache/UCPair_action_cnt_2016-02-01_2016-04-16.pkl','rb') as f:
#     temp_1 = pickle.load(f)

temp_1.columns = ['user_id','cate','type','type_1','type_2','type_3','type_4','type_5','type_6']
temp_1 = temp_1[temp_1.cate==8]
temp_1['cart_buy_ratio'] = temp_1['type_2']/temp_1['type_4']
temp_1 = temp_1[['user_id','type_2','type_4','cart_buy_ratio']]
temp_1.sort_values(by='cart_buy_ratio',ascending=False)

D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         user_id  type_2  type_4  cart_buy_ratio
20      200016.0     4.0     0.0             inf
88920   267892.0     1.0     0.0             inf
89169   268070.0     3.0     0.0             inf
89142   268056.0    10.0     0.0             inf
89141   268051.0     1.0     0.0             inf
89137   268048.0     1.0     0.0             inf
89118   268034.0     1.0     0.0             inf
89065   267992.0     3.0     0.0             inf
89057   267981.0     1.0     0.0             inf
89024   267962.0     1.0     0.0             inf
89017   267957.0     3.0     0.0             inf
89012   267956.0     2.0     0.0             inf
89007   267955.0     5.0     0.0             inf
88993   267947.0     3.0     0.0             inf
88940   267906.0     2.0     0.0             inf
88850   267837.0     2.0     0.0             inf
88564   267618.0     1.0     0.0             inf
88833   267821.0     1.0     0.0             inf
88828   267818.0     4.0     0.0             inf
88814   267810.0     2.0     0.0             inf
88812   267809.0     3.0     0.0             inf
88799   267797.0     1.0     0.0             inf
88772   267772.0     1.0     0.0             inf
88759   267752.0     3.0     0.0             inf
88726   267738.0     2.0     0.0             inf
88713   267725.0     1.0     0.0             inf
88707   267724.0     2.0     0.0             inf
88702   267722.0     2.0     0.0             inf
88647   267673.0     2.0     0.0             inf
88633   267664.0     3.0     0.0             inf
...          ...     ...     ...             ...
136269  305223.0     0.0     0.0             NaN
136271  305225.0     0.0     0.0             NaN
136272  305227.0     0.0     0.0             NaN
136274  305228.0     0.0     0.0             NaN
136276  305229.0     0.0     0.0             NaN
136283  305236.0     0.0     0.0             NaN
136293  305248.0     0.0     0.0             NaN
136295  305250.0     0.0     0.0             NaN
136297  305252.0     0.0     0.0             NaN
136298  305253.0     0.0     0.0             NaN
136301  305255.0     0.0     0.0             NaN
136306  305261.0     0.0     0.0             NaN
136314  305265.0     0.0     0.0             NaN
136316  305268.0     0.0     0.0             NaN
136319  305272.0     0.0     0.0             NaN
136328  305278.0     0.0     0.0             NaN
136330  305279.0     0.0     0.0             NaN
136337  305284.0     0.0     0.0             NaN
136341  305285.0     0.0     0.0             NaN
136343  305288.0     0.0     0.0             NaN
136354  305291.0     0.0     0.0             NaN
136358  305293.0     0.0     0.0             NaN
136359  305294.0     0.0     0.0             NaN
136363  305297.0     0.0     0.0             NaN
136365  305298.0     0.0     0.0             NaN
136367  305300.0     0.0     0.0             NaN
136371  305302.0     0.0     0.0             NaN
136373  305307.0     0.0     0.0             NaN
136381  305312.0     0.0     0.0             NaN
136382  305316.0     0.0     0.0             NaN

[35835 rows x 4 columns]

In [114]:
temp_1 = temp_1[temp_1.type_4!=0.0]
temp_1.sort_values(by='cart_buy_ratio',ascending=True)

         user_id  type_2  type_4  cart_buy_ratio
37598   230032.0     0.0     1.0             0.0
64704   249165.0     0.0     1.0             0.0
63791   248515.0     0.0     1.0             0.0
63324   248152.0     0.0     1.0             0.0
28592   223751.0     0.0     1.0             0.0
63025   247899.0     0.0     1.0             0.0
10854   211302.0     0.0     1.0             0.0
103055  278917.0     0.0     1.0             0.0
103564  279340.0     0.0     1.0             0.0
29202   224173.0     0.0     1.0             0.0
104905  280361.0     0.0     1.0             0.0
29219   224187.0     0.0     1.0             0.0
21460   218509.0     0.0     1.0             0.0
12924   212721.0     0.0     1.0             0.0
9034    209959.0     0.0     1.0             0.0
60213   245565.0     0.0     1.0             0.0
60079   245462.0     0.0     2.0             0.0
7415    208793.0     0.0     1.0             0.0
109364  283907.0     0.0     1.0             0.0
6607    208102.0     0.0     1.0             0.0
110070  284492.0     0.0     1.0             0.0
31096   225554.0     0.0     1.0             0.0
5877    207477.0     0.0     1.0             0.0
111947  286011.0     0.0     1.0             0.0
54939   241993.0     0.0     1.0             0.0
32389   226455.0     0.0     1.0             0.0
114815  288325.0     0.0     1.0             0.0
60761   245979.0     0.0     1.0             0.0
65172   249529.0     0.0     1.0             0.0
98775   275545.0     0.0     1.0             0.0
...          ...     ...     ...             ...
34158   227692.0    11.0     1.0            11.0
128750  299358.0    11.0     1.0            11.0
36778   229457.0    11.0     1.0            11.0
40033   231791.0    11.0     1.0            11.0
45281   235637.0    12.0     1.0            12.0
2472    201628.0    12.0     1.0            12.0
4874    205887.0    12.0     1.0            12.0
113874  287557.0    12.0     1.0            12.0
18412   216378.0    12.0     1.0            12.0
59686   245161.0    12.0     1.0            12.0
69769   253134.0    13.0     1.0            13.0
2885    201934.0    13.0     1.0            13.0
87035   266506.0    13.0     1.0            13.0
33349   227095.0    13.0     1.0            13.0
134270  303647.0    13.0     1.0            13.0
134832  304085.0    14.0     1.0            14.0
56132   242795.0    14.0     1.0            14.0
16405   215005.0    16.0     1.0            16.0
44449   235075.0    16.0     1.0            16.0
95332   272870.0    16.0     1.0            16.0
126797  297829.0    17.0     1.0            17.0
39691   231557.0    17.0     1.0            17.0
83120   263563.0    17.0     1.0            17.0
27910   223235.0    20.0     1.0            20.0
33028   226891.0    21.0     1.0            21.0
17709   215908.0    22.0     1.0            22.0
80023   261190.0    27.0     1.0            27.0
13556   213134.0    28.0     1.0            28.0
101458  277648.0    29.0     1.0            29.0
28350   223581.0    35.0     1.0            35.0

[1091 rows x 4 columns]

In [149]:
temp_4 = pd.merge(temp_1,mm,on='user_id',how='left')
temp_4

       user_id  type_2  type_4  cart_buy_ratio  sku_id
0     200289.0     1.0     1.0        1.000000     NaN
1     200325.0     1.0     1.0        1.000000     NaN
2     200422.0     3.0     1.0        3.000000     NaN
3     200632.0     2.0     1.0        2.000000     NaN
4     200719.0     3.0     1.0        3.000000     NaN
5     200736.0     0.0     1.0        0.000000     NaN
6     200833.0     2.0     2.0        1.000000     NaN
7     200884.0     2.0     1.0        2.000000     NaN
8     200909.0     2.0     1.0        2.000000     NaN
9     200935.0     5.0     1.0        5.000000     NaN
10    201001.0     2.0     1.0        2.000000     NaN
11    201010.0     3.0     1.0        3.000000     NaN
12    201090.0     8.0     1.0        8.000000     NaN
13    201108.0     3.0     2.0        1.500000     NaN
14    201129.0     3.0     1.0        3.000000     NaN
15    201134.0     5.0     1.0        5.000000     NaN
16    201164.0     1.0     1.0        1.000000     NaN
17    201165.0     2.0     1.0        2.000000     NaN
18    201212.0     2.0     1.0        2.000000     NaN
19    201292.0     4.0     1.0        4.000000     NaN
20    201394.0     1.0     1.0        1.000000     NaN
21    201415.0     1.0     1.0        1.000000     NaN
22    201522.0     8.0     1.0        8.000000     NaN
23    201544.0     3.0     1.0        3.000000     NaN
24    201560.0     6.0     1.0        6.000000     NaN
25    201605.0     1.0     1.0        1.000000     NaN
26    201628.0    12.0     1.0       12.000000     NaN
27    201647.0    16.0     3.0        5.333333     NaN
28    201650.0     2.0     1.0        2.000000     NaN
29    201655.0     1.0     1.0        1.000000     NaN
...        ...     ...     ...             ...     ...
1061  302924.0     0.0     1.0        0.000000     NaN
1062  302956.0     1.0     1.0        1.000000     NaN
1063  303037.0     2.0     1.0        2.000000     NaN
1064  303154.0     2.0     1.0        2.000000     NaN
1065  303258.0     2.0     1.0        2.000000     NaN
1066  303413.0     5.0     1.0        5.000000     NaN
1067  303464.0     9.0     1.0        9.000000     NaN
1068  303465.0     6.0     1.0        6.000000     NaN
1069  303480.0     1.0     1.0        1.000000     NaN
1070  303640.0     2.0     2.0        1.000000     NaN
1071  303647.0    13.0     1.0       13.000000     NaN
1072  303929.0     6.0     1.0        6.000000     NaN
1073  303943.0     2.0     1.0        2.000000     NaN
1074  303986.0     1.0     1.0        1.000000     NaN
1075  304051.0     2.0     1.0        2.000000     NaN
1076  304081.0     2.0     1.0        2.000000     NaN
1077  304085.0    14.0     1.0       14.000000     NaN
1078  304131.0     0.0     1.0        0.000000     NaN
1079  304148.0     1.0     1.0        1.000000     NaN
1080  304180.0     9.0     1.0        9.000000     NaN
1081  304528.0     8.0     1.0        8.000000     NaN
1082  304650.0     1.0     1.0        1.000000     NaN
1083  304785.0     0.0     1.0        0.000000     NaN
1084  304798.0     6.0     3.0        2.000000     NaN
1085  304808.0     0.0     1.0        0.000000     NaN
1086  304990.0     2.0     1.0        2.000000     NaN
1087  305013.0     0.0     1.0        0.000000     NaN
1088  305057.0     2.0     1.0        2.000000     NaN
1089  305137.0     4.0     1.0        4.000000     NaN
1090  305214.0     6.0     1.0        6.000000     NaN

[1091 rows x 5 columns]

In [151]:
temp_4[temp_4.sku_id>=0]

       user_id  type_2  type_4  cart_buy_ratio  sku_id
53    203295.0    11.0     1.0            11.0   202.0
162   216556.0     2.0     1.0             2.0   203.0
173   217581.0     5.0     1.0             5.0   204.0
176   217836.0     0.0     1.0             0.0   205.0
179   218150.0     1.0     1.0             1.0   206.0
225   222336.0     6.0     1.0             6.0   207.0
253   224173.0     0.0     1.0             0.0   208.0
281   226891.0    21.0     1.0            21.0   209.0
330   230787.0     2.0     1.0             2.0   210.0
344   231401.0     3.0     1.0             3.0   211.0
381   234983.0     3.0     1.0             3.0   212.0
414   237968.0     1.0     1.0             1.0   213.0
479   244494.0     6.0     1.0             6.0   214.0
595   256270.0    11.0     1.0            11.0   215.0
665   263539.0     1.0     1.0             1.0   216.0
673   264430.0     2.0     1.0             2.0   217.0
741   270445.0     0.0     1.0             0.0   218.0
742   270453.0     2.0     2.0             1.0   219.0
771   272631.0     8.0     1.0             8.0   220.0
919   285643.0     6.0     1.0             6.0   221.0
996   294872.0     2.0     1.0             2.0   222.0
1046  301052.0     1.0     1.0             1.0   223.0

In [148]:
mm = m
mm.sort_values(by='user_id',ascending=True)

     user_id  sku_id
0     200288       0
1     200690       1
2     201568       2
0     203295     202
3     203534       3
4     204399       4
5     204642       5
6     206631       6
7     206995       7
8     207234       8
9     207468       9
10    207483      10
11    207493      11
12    207494      12
13    207504      13
14    207511      14
15    207522      15
16    207526      16
17    207544      17
18    207552      18
19    207554      19
20    207982      20
21    208316      21
22    208551      22
23    208557      23
24    209077      24
25    209425      25
26    209498      26
27    209686      27
28    209718      28
..       ...     ...
164   294584     164
165   294735     165
166   294815     166
201   294834     201
30    294872     222
167   294887     167
168   295210     168
169   295982     169
170   296220     170
171   297250     171
172   297622     172
173   297819     173
174   299117     174
175   299144     175
176   299869     176
31    301052     223
177   301262     177
178   301809     178
179   302034     179
180   302166     180
181   302853     181
182   303559     182
183   303838     183
184   303874     184
185   304248     185
186   304478     186
187   304629     187
188   305084     188
189   305131     189
190   305197     190

[224 rows x 2 columns]

In [118]:
temp_1[temp_1.cart_buy_ratio>3]

         user_id  type_2  type_4  cart_buy_ratio
1386    200935.0     5.0     1.0        5.000000
1642    201090.0     8.0     1.0        8.000000
1711    201134.0     5.0     1.0        5.000000
1941    201292.0     4.0     1.0        4.000000
2319    201522.0     8.0     1.0        8.000000
2367    201560.0     6.0     1.0        6.000000
2472    201628.0    12.0     1.0       12.000000
2496    201647.0    16.0     3.0        5.333333
2885    201934.0    13.0     1.0       13.000000
2989    202014.0     4.0     1.0        4.000000
3093    202109.0     4.0     1.0        4.000000
3194    202204.0     5.0     1.0        5.000000
3889    203295.0    11.0     1.0       11.000000
3956    203485.0     6.0     1.0        6.000000
4094    203838.0     4.0     1.0        4.000000
4687    205450.0     6.0     1.0        6.000000
4874    205887.0    12.0     1.0       12.000000
5485    206975.0     7.0     1.0        7.000000
5613    207136.0     9.0     1.0        9.000000
6615    208108.0     4.0     1.0        4.000000
6625    208121.0     5.0     1.0        5.000000
7803    209065.0     4.0     1.0        4.000000
9452    210295.0     4.0     1.0        4.000000
10146   210788.0     6.0     1.0        6.000000
10263   210900.0    11.0     1.0       11.000000
10807   211268.0     7.0     1.0        7.000000
11661   211863.0     5.0     1.0        5.000000
11790   211948.0     8.0     1.0        8.000000
11919   212024.0     5.0     1.0        5.000000
13468   213083.0     5.0     1.0        5.000000
...          ...     ...     ...             ...
120216  292516.0     7.0     1.0        7.000000
120517  292755.0     4.0     1.0        4.000000
122209  294141.0     4.0     1.0        4.000000
123033  294790.0     5.0     1.0        5.000000
123067  294816.0     4.0     1.0        4.000000
123612  295227.0     8.0     1.0        8.000000
123758  295367.0     5.0     1.0        5.000000
124738  296187.0     6.0     1.0        6.000000
125284  296644.0     4.0     1.0        4.000000
125686  296957.0     4.0     1.0        4.000000
126797  297829.0    17.0     1.0       17.000000
126851  297885.0     6.0     1.0        6.000000
128082  298873.0     4.0     1.0        4.000000
128199  298965.0     9.0     1.0        9.000000
128750  299358.0    11.0     1.0       11.000000
129009  299575.0     8.0     1.0        8.000000
130161  300471.0     4.0     1.0        4.000000
130474  300736.0     7.0     1.0        7.000000
131160  301273.0     8.0     1.0        8.000000
133132  302739.0     4.0     1.0        4.000000
133977  303413.0     5.0     1.0        5.000000
134065  303464.0     9.0     1.0        9.000000
134069  303465.0     6.0     1.0        6.000000
134270  303647.0    13.0     1.0       13.000000
134631  303929.0     6.0     1.0        6.000000
134832  304085.0    14.0     1.0       14.000000
134945  304180.0     9.0     1.0        9.000000
135352  304528.0     8.0     1.0        8.000000
136154  305137.0     4.0     1.0        4.000000
136251  305214.0     6.0     1.0        6.000000

[302 rows x 4 columns]

In [115]:
temp_1.describe()

             user_id       type_2       type_4  cart_buy_ratio
count    1091.000000  1091.000000  1091.000000     1091.000000
mean   251555.706691     3.189734     1.068744        3.046288
std     29787.909407     3.463271     0.331585        3.341255
min    200289.000000     0.000000     1.000000        0.000000
25%    226263.500000     1.000000     1.000000        1.000000
50%    250922.000000     2.000000     1.000000        2.000000
75%    276364.500000     4.000000     1.000000        4.000000
max    305214.000000    35.000000     6.000000       35.000000

In [142]:
temp

       user_id  type_2  buy_numbers
419   214974.0     8.0          8.0
955   234715.0     4.0          7.0
1777  262503.0     1.0          7.0
291   210039.0     1.0          6.0
803   230308.0     9.0          5.0
856   232453.0     7.0          5.0
2352  284604.0    23.0          5.0
2663  299022.0     2.0          5.0
316   210911.0     2.0          5.0
2406  286592.0     3.0          5.0
1414  249903.0    13.0          5.0
514   219893.0     1.0          5.0
116   205993.0     1.0          5.0
1624  256821.0     6.0          5.0
463   216878.0    11.0          5.0
385   212687.0     1.0          5.0
1144  240428.0     4.0          4.0
89    204727.0     1.0          4.0
1148  240434.0     2.0          4.0
2007  270687.0     2.0          4.0
2410  286709.0     2.0          4.0
1962  267995.0     1.0          4.0
2481  290923.0     1.0          4.0
486   217832.0     4.0          4.0
2469  290248.0     1.0          4.0
578   222306.0     5.0          4.0
2461  290019.0     1.0          4.0
564   221990.0     1.0          4.0
2348  284575.0     4.0          4.0
1327  248130.0     4.0          4.0
...        ...     ...          ...
1482  252002.0     2.0          1.0
1484  252030.0     1.0          1.0
1485  252173.0    13.0          1.0
1498  252517.0     2.0          1.0
1500  252582.0     1.0          1.0
1501  252584.0     5.0          1.0
1506  252689.0     4.0          1.0
1440  250548.0     2.0          1.0
411   214064.0     1.0          1.0
1351  248400.0     3.0          1.0
1379  249201.0    12.0          1.0
432   215034.0     7.0          1.0
1356  248470.0     3.0          1.0
1359  248502.0     1.0          1.0
1360  248560.0     2.0          1.0
1370  248627.0     2.0          1.0
1372  248731.0     2.0          1.0
1374  249094.0     3.0          1.0
1377  249126.0     2.0          1.0
1391  249715.0     5.0          1.0
412   214233.0     1.0          1.0
1     200074.0     1.0          1.0
1397  249805.0     9.0          1.0
1406  249807.0     5.0          1.0
1411  249840.0     2.0          1.0
1413  249851.0     1.0          1.0
1427  249906.0     1.0          1.0
413   214455.0     3.0          1.0
1430  250220.0     4.0          1.0
0     200034.0     1.0          1.0

[962 rows x 3 columns]

In [102]:
temp = c_big_2.sort_values(by='buy_numbers',ascending=False)

In [140]:
user_action_4

         user_id  type
16756   203295.0     2
60153   216556.0     2
66828   217581.0     2
67962   217836.0     2
68600   218150.0     2
85196   222336.0     2
97591   224173.0     2
106674  226891.0     2
125066  230787.0     2
128244  231401.0     2
137739  234730.0     2
137756  234730.0     4
140300  234983.0     2
155625  237968.0     2
175136  241746.0     2
175144  241746.0     4
197014  244494.0     2
198583  244996.0     4
219192  250833.0     2
219201  250833.0     4
237098  256270.0     2
237810  256354.0     4
237818  256354.0     2
272341  263539.0     2
274991  264430.0     2
298511  270445.0     2
300116  270453.0     2
310510  272631.0     2
329513  275541.0     2
329582  275541.0     4
348870  279117.0     4
348886  279117.0     2
366165  283315.0     2
366169  283315.0     4
376397  285643.0     2
400604  292443.0     2
400605  292443.0     4
402877  292996.0     2
402878  292996.0     4
407330  294872.0     2
433650  301052.0     2

In [141]:
# temp_3 = temp_1['user_id']
# temp_3 = pd.DataFrame(temp_3)
# with open('./cache/Action_2016-02-01_2016-04-16_with_time-type-user_id','rb') as f:
#     user_action_1 = pickle.load(f)
# user_action_2 = pd.merge(temp_3,user_action_1,on='user_id',how='left')
# user_action_3 = user_action_2[user_action_2.time>='2016-04-14 00:00:00']
# user_action_4=user_action_3[(user_action_3.type==2)|(user_action_3.type==4)][['user_id','type']].drop_duplicates()
user_action_5 = user_action_4.groupby('user_id',as_index=False).sum()
user_action_5 = user_action_5[user_action_5.type==2]
user_action_5

     user_id  type
0   203295.0     2
1   216556.0     2
2   217581.0     2
3   217836.0     2
4   218150.0     2
5   222336.0     2
6   224173.0     2
7   226891.0     2
8   230787.0     2
9   231401.0     2
11  234983.0     2
12  237968.0     2
14  244494.0     2
17  256270.0     2
19  263539.0     2
20  264430.0     2
21  270445.0     2
22  270453.0     2
23  272631.0     2
27  285643.0     2
30  294872.0     2
31  301052.0     2

In [62]:
c_big_2 = c_big_2[c_big_2.type_2>c_big_2.type_4]

In [143]:
# m = c_big_2['user_id']
m = user_action_5['user_id']
m = pd.DataFrame(m)
#匹配的时候，将购买转化率高的用户作为参考
# temp_2 = user_action_5
# m = pd.merge(m,temp_2,how='left',on='user_id')
# m
# m = pd.DataFrame(m)
l = pd.read_csv('副本a3.csv')
m = pd.concat([l,m],axis=0)
m = m['user_id']
m = pd.DataFrame(m)
m = m.drop_duplicates()
m['sku_id'] = [x for x in range(len(m))]
m = m.astype(int)
m

     user_id  sku_id
0     200288       0
1     200690       1
2     201568       2
3     203534       3
4     204399       4
5     204642       5
6     206631       6
7     206995       7
8     207234       8
9     207468       9
10    207483      10
11    207493      11
12    207494      12
13    207504      13
14    207511      14
15    207522      15
16    207526      16
17    207544      17
18    207552      18
19    207554      19
20    207982      20
21    208316      21
22    208551      22
23    208557      23
24    209077      24
25    209425      25
26    209498      26
27    209686      27
28    209718      28
29    210325      29
..       ...     ...
194   222686     194
195   216844     195
196   255206     196
197   243989     197
198   276851     198
199   242497     199
200   290054     200
201   294834     201
0     203295     202
1     216556     203
2     217581     204
3     217836     205
4     218150     206
5     222336     207
6     224173     208
7     226891     209
8     230787     210
9     231401     211
11    234983     212
12    237968     213
14    244494     214
17    256270     215
19    263539     216
20    264430     217
21    270445     218
22    270453     219
23    272631     220
27    285643     221
30    294872     222
31    301052     223

[224 rows x 2 columns]

In [152]:
m.to_csv('pre_5_9_date_1.csv',index=False)    # 倘若还是没有几条要购买的用户

# 结果是，这97条里面没一条在接下来5天购买了

In [1]:
# m.to_csv('pre_5_9_date_1.csv',index=False)    # 倘若还是没有几条要购买的用户  ,就转换思路

In [42]:
will_buy = will_buy.groupby('user_id',as_index=False).sum()

      user_id     2    4
0    202597.0   2.0  0.0
1    204424.0   1.0  0.0
2    206306.0   3.0  2.0
3    206731.0   2.0  0.0
4    208905.0   0.0  1.0
5    211730.0   2.0  1.0
6    212209.0   1.0  0.0
7    212293.0  15.0  2.0
8    212414.0   9.0  0.0
9    214690.0   1.0  0.0
10   214718.0   6.0  0.0
11   214727.0   7.0  1.0
12   217216.0   2.0  0.0
13   218276.0   2.0  0.0
14   219161.0   1.0  0.0
15   220297.0   5.0  3.0
16   221058.0   3.0  0.0
17   221327.0   7.0  1.0
18   222453.0   3.0  0.0
19   223634.0   0.0  1.0
20   226131.0   8.0  2.0
21   226568.0   3.0  1.0
22   227173.0   6.0  2.0
23   232438.0  11.0  4.0
24   232495.0   1.0  0.0
25   232770.0   8.0  1.0
26   232891.0   4.0  1.0
27   233101.0   4.0  2.0
28   233827.0  25.0  0.0
29   234050.0   6.0  1.0
..        ...   ...  ...
77   273794.0  10.0  0.0
78   275464.0   1.0  1.0
79   276383.0   1.0  0.0
80   276960.0   4.0  1.0
81   279321.0   3.0  1.0
82   279660.0   1.0  0.0
83   279965.0  10.0  0.0
84   281721.0   3.0  1.0
85   283269.0   4.0  2.0
86   283685.0   7.0  0.0
87   283994.0   6.0  0.0
88   285231.0   5.0  0.0
89   287190.0   2.0  1.0
90   288378.0   8.0  0.0
91   288719.0   2.0  2.0
92   289348.0   2.0  0.0
93   289875.0   3.0  1.0
94   289923.0   5.0  1.0
95   290811.0   1.0  0.0
96   292996.0   2.0  2.0
97   293672.0   1.0  1.0
98   294352.0   1.0  1.0
99   296550.0   6.0  1.0
100  297121.0   2.0  0.0
101  299521.0   6.0  0.0
102  299868.0   2.0  0.0
103  300448.0   1.0  0.0
104  300453.0   3.0  1.0
105  300532.0   5.0  1.0
106  304738.0   5.0  0.0

[107 rows x 3 columns]

In [24]:
c.type.describe()

count    652.000000
mean       2.498466
std        3.102201
min        1.000000
25%        1.000000
50%        2.000000
75%        3.000000
max       39.000000
Name: type, dtype: float64

In [19]:
#查看load_45_days行为数据
def load_days_about_buy():
    if os.path.exists('./cache/Action_load_45_60_days'):
        with open('./cache/Action_load_45_60_days','rb') as f:
            df =pickle.load(f)
    else:
        dump_path = './cache/Action_2016-02-01_2016-04-16_2'
        # if os.path.exists(dump_path):
        with open(dump_path,'rb') as f:
            df = pickle.load(f)
        user_info = pd.read_csv(USER_FILE,encoding='gbk')
        df= df[(df.load_days>45)&(df[df.load_days<=60])][['user_id','load_days']]
        #,'2016-04-11','2016-04-12','2016-04-13','2016-04-14','2016-04-15'
        df = pd.merge(df,user_info,how='left',on='user_id')
        with open('./cache/Action_2016-02-01_2016-04-16_with_time-type-user_id','rb') as f:
            user_action = pickle.load(f)
        df = pd.merge(df,user_action,how='left',on='user_id')
        df = df[df.type==4]
        with open('./cache/Action_load_45_60_days','wb') as f:
            pickle.dump(df,f)
    return df

In [18]:
load_days_about_buy()

D:\Anaconda3\lib\site-packages\pandas\indexes\base.py:2482: RuntimeWarning: unorderable types: str() < int(), sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

MemoryError:

In [22]:
load_60_days=df[df.load_days>60]

In [23]:
user_level = pd.read_csv(USER_FILE,encoding='gbk')
load_60_days = pd.merge(load_60_days,user_level,how='left',on='user_id')

load_60_days

,user_id,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,2016-02-06,2016-02-07,2016-02-08,2016-02-09,...,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,load_days,age,sex,user_lv_cd,user_reg_tm
0,201460.0,0,0,0,0,0,0,0,1,1,...,1,1,1,1,1,61,36-45岁,2.0,3,2016-02-08
1,201971.0,0,1,1,1,1,0,0,1,1,...,1,1,1,1,1,64,26-35岁,0.0,5,2008-11-07
2,203275.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,73,26-35岁,0.0,4,2010-08-20
3,203940.0,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,63,26-35岁,0.0,4,2013-05-03
4,204488.0,1,1,0,1,1,1,1,0,0,...,0,0,1,1,0,61,26-35岁,1.0,5,2008-11-12
5,204977.0,1,1,1,1,0,1,1,0,1,...,1,0,0,1,1,61,26-35岁,0.0,5,2010-08-25
6,205515.0,1,0,0,1,1,0,1,1,1,...,0,1,0,1,1,67,16-25岁,0.0,4,2013-05-12
7,206084.0,1,1,1,1,1,1,1,1,1,...,1,1,0,1,0,66,26-35岁,0.0,5,2013-05-16
8,207005.0,1,0,1,1,0,0,0,1,0,...,1,1,1,1,1,64,26-35岁,0.0,5,2010-09-03
9,207809.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,74,36-45岁,0.0,5,2008-11-22
10,208790.0,1,1,1,1,1,1,1,1,1,...,1,0,1,1,1,64,36-45岁,0.0,5,2008-11-25
11,209445.0,1,1,0,1,1,1,1,1,1,...,1,1,1,1,1,67,26-35岁,2.0,4,2013-06-15
12,211823.0,0,1,0,1,1,1,1,1,1,...,1,1,0,1,1,62,36-45岁,2.0,4,2013-07-13
13,212090.0,1,1,1,1,1,1,0,0,1,...,1,1,1,1,1,72,36-45岁,0.0,5,2013-07-18
14,213882.0,1,0,1,1,1,1,1,0,0,...,1,1,1,1,1,66,26-35岁,0.0,5,2010-11-01
15,214289.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,67,26-35岁,2.0,5,2013-08-28
16,214468.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,72,36-45岁,0.0,5,2013-08-31
17,215203.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,61,26-35岁,0.0,5,2010-11-21
18,215544.0,1,1,1,1,0,1,0,0,0,...,1,1,1,1,1,67,26-35岁,0.0,5,2010-11-28
19,215683.0,1,1,1,1,1,1,1,1,1,...,0,1,1,0,1,67,16-25岁,0.0,5,2010-11-30
20,216229.0,1,1,0,0,1,0,1,0,0,...,1,1,1,1,1,64,26-35岁,0.0,5,2010-12-08
21,216844.0,1,1,1,0,1,0,0,0,0,...,1,1,1,1,1,64,36-45岁,2.0,5,2013-10-10
22,217349.0,1,1,1,1,1,0,0,0,0,...,1,1,1,1,1,62,26-35岁,2.0,5,2013-10-19
23,217662.0,1,1,1,1,0,1,0,0,1,...,1,1,1,0,1,62,36-45岁,2.0,5,2013-10-22
24,217713.0,1,0,1,0,0,0,0,0,0,...,1,1,1,1,1,64,26-35岁,0.0,3,2010-12-29
25,218222.0,0,0,1,0,1,0,0,1,0,...,1,1,1,1,1,64,36-45岁,0.0,5,2011-01-09
26,220066.0,1,1,1,0,1,1,1,1,1,...,1,1,0,1,1,66,36-45岁,0.0,5,2011-02-03
27,220944.0,1,1,0,1,1,1,1,1,1,...,1,1,1,1,1,66,36-45岁,2.0,4,2013-11-13
28,222248.0,1,1,1,1,1,1,1,1,0,...,1,1,1,1,1,68,26-35岁,0.0,4,2011-03-05
29,222686.0,0,0,1,1,0,0,0,0,0,...,1,1,1,1,0,61,36-45岁,0.0,5,2013-12-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,277439.0,0,1,0,1,1,1,1,1,1,...,1,1,1,1,1,64,26-35岁,0.0,4,2015-05-16
96,281131.0,1,1,1,1,1,1,1,1,0,...,1,1,1,1,1,70,36-45岁,2.0,5,2015-06-10
97,282052.0,0,0,0,0,0,0,1,1,0,...,1,1,1,1,1,62,-1,2.0,4,2015-06-16
98,282710.0,1,1,1,1,1,0,1,0,0,...,1,0,1,1,1,62,26-35岁,2.0,5,2012-11-02
99,284862.0,1,0,1,1,1,0,0,0,1,...,1,1,1,1,1,66,36-45岁,2.0,5,2012-11-15
100,285685.0,0,1,1,0,0,0,1,1,0,...,1,0,1,0,1,64,36-45岁,0.0,5,2010-05-24
101,285802.0,0,0,0,0,1,1,1,0,1,...,1,0,1,1,1,68,36-45岁,0.0,5,2015-07-24
102,288734.0,1,1,1,1,1,1,1,0,0,...,1,1,1,1,1,62,26-35岁,1.0,5,2012-12-10
103,289645.0,0,1,1,1,0,1,1,1,1,...,0,1,1,1,1,63,26-35岁,2.0,5,2012-12-15
104,290054.0,1,1,0,1,1,0,0,1,0,...,1,1,1,1,1,61,36-45岁,0.0,5,2012-12-19
105,290470.0,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,74,26-35岁,2.0,4,2012-12-22
106,290710.0,0,1,1,1,0,1,1,1,0,...,1,1,1,1,1,61,26-35岁,2.0,5,2012-12-24
107,290880.0,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,74,26-35岁,2.0,3,2012-12-26
108,291249.0,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,67,26-35岁,0.0,5,2010-06-18
109,291811.0,1,1,1,1,1,1,0,0,1,...,1,1,1,1,1,63,26-35岁,2.0,5,2013-01-02
110,292301.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,71,-1,0.0,5,2015-10-08
111,292748.0,0,1,1,1,1,1,1,1,1,...,1,1,1,0,1,70,26-35岁,0.0,5,2013-01-09
112,292813.0,1,1,1,0,1,0,0,1,0,...,1,1,1,1,1,63,26-35岁,2.0,4,2013-01-10
113,293135.0,1,1,1,1,1,0,0,0,0,...,1,1,1,1,1,68,26-35岁,2.0,3,2015-10-19
114,294771.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,63,16-25岁,2.0,3,2015-10-30
115,294834.0,1,1,1,0,1,0,1,1,0,...,1,0,0,0,1,65,-1,2.0,5,2015-10-31
116,295090.0,1,1,0,0,0,1,1,0,0,...,1,1,1,1,0,62,16-25岁,0.0,4,2015-11-02
117,295876.0,1,1,1,1,0,1,0,1,1,...,1,1,1,1,0,62,26-35岁,2.0,5,2013-02-01
118,296107.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,63,36-45岁,2.0,3,2015-11-07
119,296588.0,1,1,1,1,1,1,1,1,1,...,0,1,1,0,1,65,26-35岁,1.0,4,2015-11-10
120,298651.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,64,16-25岁,2.0,3,2015-11-21
121,301052.0,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,62,36-45岁,2.0,4,2013-03-14
122,301094.0,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,67,36-45岁,2.0,4,2015-12-16
123,301519.0,0,0,1,1,1,1,1,1,1,...,1,0,1,1,1,63,36-45岁,0.0,4,2015-12-21
124,303392.0,1,0,1,1,1,1,1,0,1,...,1,1,1,1,0,65,16-25岁,2.0,4,2016-01-08

In [24]:
load_60_days.sort_values(by=['user_lv_cd'],ascending=True)

,user_id,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,2016-02-06,2016-02-07,2016-02-08,2016-02-09,...,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,load_days,age,sex,user_lv_cd,user_reg_tm
0,201460.0,0,0,0,0,0,0,0,1,1,...,1,1,1,1,1,61,36-45岁,2.0,3,2016-02-08
120,298651.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,64,16-25岁,2.0,3,2015-11-21
24,217713.0,1,0,1,0,0,0,0,0,0,...,1,1,1,1,1,64,26-35岁,0.0,3,2010-12-29
118,296107.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,63,36-45岁,2.0,3,2015-11-07
55,237965.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,71,56岁以上,0.0,3,2014-05-02
114,294771.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,63,16-25岁,2.0,3,2015-10-30
113,293135.0,1,1,1,1,1,0,0,0,0,...,1,1,1,1,1,68,26-35岁,2.0,3,2015-10-19
107,290880.0,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,74,26-35岁,2.0,3,2012-12-26
40,229558.0,1,1,1,1,1,1,0,1,1,...,1,1,0,1,1,71,36-45岁,0.0,4,2014-03-07
44,232083.0,1,1,1,1,1,1,1,1,0,...,1,1,1,1,1,73,-1,2.0,4,2014-04-01
123,301519.0,0,0,1,1,1,1,1,1,1,...,1,0,1,1,1,63,36-45岁,0.0,4,2015-12-21
69,254929.0,1,1,1,1,1,1,1,1,1,...,1,1,0,1,1,66,36-45岁,0.0,4,2009-11-13
72,257169.0,1,0,1,1,1,1,1,1,1,...,1,0,1,1,1,65,36-45岁,0.0,4,2012-05-07
78,265102.0,1,1,1,0,0,1,0,1,0,...,1,0,0,1,1,63,-1,2.0,4,2012-06-11
79,265481.0,1,1,1,0,1,0,0,1,0,...,1,1,1,1,1,61,26-35岁,2.0,4,2012-06-13
80,265565.0,1,1,0,0,0,1,1,1,1,...,1,1,1,1,1,61,26-35岁,2.0,4,2010-01-08
92,274217.0,1,0,0,1,0,1,1,1,1,...,1,1,1,1,1,67,26-35岁,2.0,4,2012-08-22
85,269079.0,1,1,1,1,1,1,1,0,1,...,1,1,1,1,1,62,16-25岁,2.0,4,2015-03-01
39,229431.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,68,46-55岁,0.0,4,2009-02-17
95,277439.0,0,1,0,1,1,1,1,1,1,...,1,1,1,1,1,64,26-35岁,0.0,4,2015-05-16
97,282052.0,0,0,0,0,0,0,1,1,0,...,1,1,1,1,1,62,-1,2.0,4,2015-06-16
105,290470.0,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,74,26-35岁,2.0,4,2012-12-22
112,292813.0,1,1,1,0,1,0,0,1,0,...,1,1,1,1,1,63,26-35岁,2.0,4,2013-01-10
116,295090.0,1,1,0,0,0,1,1,0,0,...,1,1,1,1,0,62,16-25岁,0.0,4,2015-11-02
119,296588.0,1,1,1,1,1,1,1,1,1,...,0,1,1,0,1,65,26-35岁,1.0,4,2015-11-10
121,301052.0,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,62,36-45岁,2.0,4,2013-03-14
122,301094.0,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,67,36-45岁,2.0,4,2015-12-16
82,266827.0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,1,61,26-35岁,0.0,4,2012-06-20
30,222718.0,0,1,0,1,1,0,1,1,1,...,1,1,1,1,1,70,26-35岁,0.0,4,2011-03-12
124,303392.0,1,0,1,1,1,1,1,0,1,...,1,1,1,1,0,65,16-25岁,2.0,4,2016-01-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,227309.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,67,16-25岁,0.0,5,2014-02-10
33,226516.0,1,1,1,0,0,1,0,1,0,...,1,1,1,1,1,64,36-45岁,0.0,5,2011-05-04
32,225700.0,1,1,1,1,1,1,0,0,1,...,0,0,1,1,0,63,26-35岁,0.0,5,2011-04-24
31,225534.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,74,16-25岁,0.0,5,2011-04-22
41,229631.0,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,66,26-35岁,0.0,5,2011-06-21
29,222686.0,0,0,1,1,0,0,0,0,0,...,1,1,1,1,0,61,36-45岁,0.0,5,2013-12-12
53,237680.0,1,1,1,0,1,1,0,1,0,...,1,0,0,0,0,64,46-55岁,0.0,5,2011-10-13
23,217662.0,1,1,1,1,0,1,0,0,1,...,1,1,1,0,1,62,36-45岁,2.0,5,2013-10-22
75,259127.0,1,1,1,1,1,1,1,1,0,...,0,0,1,1,1,62,36-45岁,0.0,5,2008-05-21
74,258046.0,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,66,26-35岁,2.0,5,2012-05-14
73,257532.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,69,26-35岁,0.0,5,2014-10-16
20,216229.0,1,1,0,0,1,0,1,0,0,...,1,1,1,1,1,64,26-35岁,0.0,5,2010-12-08
71,256828.0,1,1,0,1,1,1,1,0,1,...,1,0,0,1,0,61,36-45岁,0.0,5,2014-10-08
70,255206.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,67,46-55岁,2.0,5,2014-09-22
21,216844.0,1,1,1,0,1,0,0,0,0,...,1,1,1,1,1,64,36-45岁,2.0,5,2013-10-10
68,253801.0,1,1,0,1,0,0,1,1,0,...,1,1,1,1,1,65,36-45岁,2.0,5,2014-09-03
67,253714.0,1,1,1,1,0,1,1,1,1,...,1,1,0,1,1,63,16-25岁,0.0,5,2014-09-02
54,237793.0,1,0,1,1,1,1,1,1,1,...,1,0,0,1,1,69,46-55岁,0.0,5,2011-10-16
66,253219.0,0,1,0,1,1,0,1,1,1,...,1,1,1,1,1,64,26-35岁,2.0,5,2014-08-24
64,246239.0,1,1,0,0,1,1,1,0,1,...,1,1,1,1,1,62,26-35岁,2.0,5,2014-06-05
63,244808.0,1,1,1,1,1,1,1,1,1,...,1,0,0,1,1,63,46-55岁,0.0,5,2012-02-02
22,217349.0,1,1,1,1,1,0,0,0,0,...,1,1,1,1,1,62,26-35岁,2.0,5,2013-10-19
61,243989.0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,74,36-45岁,0.0,5,2009-10-21
60,243239.0,1,1,1,0,0,1,1,1,1,...,1,1,1,1,1,66,26-35岁,0.0,5,2014-05-14
59,242497.0,1,1,1,1,0,0,1,0,1,...,1,1,1,1,1,66,26-35岁,0.0,5,2009-09-20
58,242476.0,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,62,36-45岁,2.0,5,2009-09-20
57,239223.0,1,1,1,1,1,1,0,0,1,...,1,1,1,0,0,61,26-35岁,0.0,5,2011-11-07
56,238645.0,0,1,0,1,0,1,0,1,0,...,1,1,1,0,1,62,-1,0.0,5,2011-10-30
65,250168.0,0,0,0,1,0,0,0,1,0,...,1,1,1,1,1,63,26-35岁,2.0,5,2012-03-05
62,244600.0,1,1,1,1,1,0,1,1,1,...,0,1,0,1,0,61,46-55岁,0.0,5,2012-02-01

In [6]:
# with open('./cache/Action_2016-02-01_2016-04-16_with_time-type-user_id','rb') as f:
#     user_action = pickle.load(f)
# load_60_days_user = pd.merge(load_60_days,user_action,how='left',on='user_id')
# m = load_60_days_user
# load_60_days_user = load_60_days_user[load_60_days_user.type==4][['user_id','time','type','load_days','age','user_lv_cd','sex','user_reg_tm']]
# load_60_days_user

In [46]:
help(pd.DataFrame.reset_index)

Help on function reset_index in module pandas.core.frame:

reset_index(self, level=None, drop=False, inplace=False, col_level=0, col_fill='')
    For DataFrame with multi-level index, return new DataFrame with
    labeling information in the columns under the index names, defaulting
    to 'level_0', 'level_1', etc. if any are None. For a standard index,
    the index name will be used (if set), otherwise a default 'index' or
    'level_0' (if 'index' is already taken) will be used.

    Parameters
    ----------
    level : int, str, tuple, or list, default None
        Only remove the given levels from the index. Removes all levels by
        default
    drop : boolean, default False
        Do not try to insert index into dataframe columns. This resets
        the index to the default integer index.
    inplace : boolean, default False
        Modify the DataFrame in place (do not create a new object)
    col_level : int or str, default 0
        If the columns have multiple levels, determines which level the
        labels are inserted into. By default it is inserted into the first
        level.
    col_fill : object, default ''
        If the columns have multiple levels, determines how the other
        levels are named. If None then the index name is repeated.

    Returns
    -------
    resetted : DataFrame

In [16]:
with open('./cache/load_more_60_days_user_info','rb') as f:
    load_60_days_user = pickle.load(f)
load_60_days_user

,user_id,time,type,load_days,age,user_lv_cd,sex,user_reg_tm
6653,201971.0,2016-03-16 15:33:00,4,64,26-35岁,5,0.0,2008-11-07
10454,201971.0,2016-04-11 00:49:00,4,64,26-35岁,5,0.0,2008-11-07
10455,201971.0,2016-04-11 00:49:00,4,64,26-35岁,5,0.0,2008-11-07
11185,201971.0,2016-04-15 23:39:00,4,64,26-35岁,5,0.0,2008-11-07
29783,204488.0,2016-03-18 09:08:00,4,61,26-35岁,5,1.0,2008-11-12
38334,205515.0,2016-03-07 12:07:00,4,67,16-25岁,4,0.0,2013-05-12
42139,206084.0,2016-02-16 10:15:00,4,66,26-35岁,5,0.0,2013-05-16
45440,207005.0,2016-04-06 21:40:00,4,64,26-35岁,5,0.0,2010-09-03
80784,212090.0,2016-03-19 04:14:00,4,72,36-45岁,5,0.0,2013-07-18
88722,213882.0,2016-03-01 08:33:00,4,66,26-35岁,5,0.0,2010-11-01
88723,213882.0,2016-03-01 08:33:00,4,66,26-35岁,5,0.0,2010-11-01
90557,213882.0,2016-04-12 21:25:00,4,66,26-35岁,5,0.0,2010-11-01
91596,214289.0,2016-02-18 17:31:00,4,67,26-35岁,5,2.0,2013-08-28
94834,214289.0,2016-03-19 14:25:00,4,67,26-35岁,5,2.0,2013-08-28
101363,214468.0,2016-03-28 18:12:00,4,72,36-45岁,5,0.0,2013-08-31
109553,215544.0,2016-03-21 10:21:00,4,67,26-35岁,5,0.0,2010-11-28
121366,216844.0,2016-03-04 23:53:00,4,64,36-45岁,5,2.0,2013-10-10
121658,216844.0,2016-03-06 20:24:00,4,64,36-45岁,5,2.0,2013-10-10
123625,216844.0,2016-03-29 12:29:00,4,64,36-45岁,5,2.0,2013-10-10
123626,216844.0,2016-03-29 12:29:00,4,64,36-45岁,5,2.0,2013-10-10
123627,216844.0,2016-03-29 12:29:00,4,64,36-45岁,5,2.0,2013-10-10
123773,216844.0,2016-03-31 15:10:00,4,64,36-45岁,5,2.0,2013-10-10
123853,216844.0,2016-04-01 18:02:00,4,64,36-45岁,5,2.0,2013-10-10
124548,216844.0,2016-04-14 00:11:00,4,64,36-45岁,5,2.0,2013-10-10
125381,217349.0,2016-02-05 16:24:00,4,62,26-35岁,5,2.0,2013-10-19
127108,217349.0,2016-03-11 17:59:00,4,62,26-35岁,5,2.0,2013-10-19
131647,217662.0,2016-03-07 21:56:00,4,62,36-45岁,5,2.0,2013-10-22
134739,217662.0,2016-03-30 16:34:00,4,62,36-45岁,5,2.0,2013-10-22
136372,217662.0,2016-04-11 00:17:00,4,62,36-45岁,5,2.0,2013-10-22
151183,218222.0,2016-04-08 23:00:00,4,64,36-45岁,5,0.0,2011-01-09
...,...,...,...,...,...,...,...,...
650021,294834.0,2016-03-10 11:29:00,4,65,-1,5,2.0,2015-10-31
650135,294834.0,2016-03-10 16:27:00,4,65,-1,5,2.0,2015-10-31
650214,294834.0,2016-03-13 11:30:00,4,65,-1,5,2.0,2015-10-31
650367,294834.0,2016-03-16 18:35:00,4,65,-1,5,2.0,2015-10-31
650370,294834.0,2016-03-17 11:19:00,4,65,-1,5,2.0,2015-10-31
650377,294834.0,2016-03-17 13:06:00,4,65,-1,5,2.0,2015-10-31
650392,294834.0,2016-03-18 09:17:00,4,65,-1,5,2.0,2015-10-31
650433,294834.0,2016-03-20 08:19:00,4,65,-1,5,2.0,2015-10-31
651182,294834.0,2016-03-20 20:18:00,4,65,-1,5,2.0,2015-10-31
651198,294834.0,2016-03-20 21:23:00,4,65,-1,5,2.0,2015-10-31
651305,294834.0,2016-03-21 13:36:00,4,65,-1,5,2.0,2015-10-31
651554,294834.0,2016-03-23 21:32:00,4,65,-1,5,2.0,2015-10-31
651812,294834.0,2016-03-24 19:44:00,4,65,-1,5,2.0,2015-10-31
651829,294834.0,2016-03-24 21:27:00,4,65,-1,5,2.0,2015-10-31
651902,294834.0,2016-03-24 23:11:00,4,65,-1,5,2.0,2015-10-31
652320,294834.0,2016-04-03 13:55:00,4,65,-1,5,2.0,2015-10-31
652467,294834.0,2016-04-05 15:18:00,4,65,-1,5,2.0,2015-10-31
655217,295090.0,2016-03-28 08:28:00,4,62,16-25岁,4,0.0,2015-11-02
657031,295876.0,2016-02-03 13:17:00,4,62,26-35岁,5,2.0,2013-02-01
658177,295876.0,2016-03-31 09:01:00,4,62,26-35岁,5,2.0,2013-02-01
658400,295876.0,2016-04-08 22:43:00,4,62,26-35岁,5,2.0,2013-02-01
662184,296107.0,2016-02-11 20:59:00,4,63,36-45岁,3,2.0,2015-11-07
675016,296588.0,2016-03-01 16:43:00,4,65,26-35岁,4,1.0,2015-11-10
676588,296588.0,2016-03-07 19:14:00,4,65,26-35岁,4,1.0,2015-11-10
682956,301052.0,2016-02-13 13:51:00,4,62,36-45岁,4,2.0,2013-03-14
682959,301052.0,2016-02-13 13:52:00,4,62,36-45岁,4,2.0,2013-03-14
683346,301052.0,2016-02-13 17:04:00,4,62,36-45岁,4,2.0,2013-03-14
693584,301094.0,2016-02-29 11:13:00,4,67,36-45岁,4,2.0,2015-12-16
693585,301094.0,2016-02-29 11:13:00,4,67,36-45岁,4,2.0,2015-12-16
710058,303392.0,2016-03-30 14:41:00,4,65,16-25岁,4,2.0,2016-01-08

In [25]:
load_60_days_user = load_60_days_user.sort_values(by='user_id',ascending=False)
load_60_days_user.reset_index(drop=True,inplace=False)

,user_id,time,type,load_days,age,user_lv_cd,sex,user_reg_tm
0,303392.0,2016-03-30 14:41:00,4,65,16-25岁,4,2.0,2016-01-08
1,301094.0,2016-02-29 11:13:00,4,67,36-45岁,4,2.0,2015-12-16
2,301094.0,2016-02-29 11:13:00,4,67,36-45岁,4,2.0,2015-12-16
3,301052.0,2016-02-13 13:51:00,4,62,36-45岁,4,2.0,2013-03-14
4,301052.0,2016-02-13 13:52:00,4,62,36-45岁,4,2.0,2013-03-14
5,301052.0,2016-02-13 17:04:00,4,62,36-45岁,4,2.0,2013-03-14
6,296588.0,2016-03-07 19:14:00,4,65,26-35岁,4,1.0,2015-11-10
7,296588.0,2016-03-01 16:43:00,4,65,26-35岁,4,1.0,2015-11-10
8,296107.0,2016-02-11 20:59:00,4,63,36-45岁,3,2.0,2015-11-07
9,295876.0,2016-03-31 09:01:00,4,62,26-35岁,5,2.0,2013-02-01
10,295876.0,2016-02-03 13:17:00,4,62,26-35岁,5,2.0,2013-02-01
11,295876.0,2016-04-08 22:43:00,4,62,26-35岁,5,2.0,2013-02-01
12,295090.0,2016-03-28 08:28:00,4,62,16-25岁,4,0.0,2015-11-02
13,294834.0,2016-02-19 16:51:00,4,65,-1,5,2.0,2015-10-31
14,294834.0,2016-02-16 18:06:00,4,65,-1,5,2.0,2015-10-31
15,294834.0,2016-02-12 07:27:00,4,65,-1,5,2.0,2015-10-31
16,294834.0,2016-04-03 13:55:00,4,65,-1,5,2.0,2015-10-31
17,294834.0,2016-03-24 23:11:00,4,65,-1,5,2.0,2015-10-31
18,294834.0,2016-03-20 21:23:00,4,65,-1,5,2.0,2015-10-31
19,294834.0,2016-02-02 11:33:00,4,65,-1,5,2.0,2015-10-31
20,294834.0,2016-03-23 21:32:00,4,65,-1,5,2.0,2015-10-31
21,294834.0,2016-04-05 15:18:00,4,65,-1,5,2.0,2015-10-31
22,294834.0,2016-03-24 19:44:00,4,65,-1,5,2.0,2015-10-31
23,294834.0,2016-02-21 19:30:00,4,65,-1,5,2.0,2015-10-31
24,294834.0,2016-03-05 19:41:00,4,65,-1,5,2.0,2015-10-31
25,294834.0,2016-03-17 11:19:00,4,65,-1,5,2.0,2015-10-31
26,294834.0,2016-03-10 16:27:00,4,65,-1,5,2.0,2015-10-31
27,294834.0,2016-02-05 22:43:00,4,65,-1,5,2.0,2015-10-31
28,294834.0,2016-03-17 13:06:00,4,65,-1,5,2.0,2015-10-31
29,294834.0,2016-03-24 21:27:00,4,65,-1,5,2.0,2015-10-31
...,...,...,...,...,...,...,...,...
317,218222.0,2016-04-08 23:00:00,4,64,36-45岁,5,0.0,2011-01-09
318,217662.0,2016-04-11 00:17:00,4,62,36-45岁,5,2.0,2013-10-22
319,217662.0,2016-03-07 21:56:00,4,62,36-45岁,5,2.0,2013-10-22
320,217662.0,2016-03-30 16:34:00,4,62,36-45岁,5,2.0,2013-10-22
321,217349.0,2016-02-05 16:24:00,4,62,26-35岁,5,2.0,2013-10-19
322,217349.0,2016-03-11 17:59:00,4,62,26-35岁,5,2.0,2013-10-19
323,216844.0,2016-03-29 12:29:00,4,64,36-45岁,5,2.0,2013-10-10
324,216844.0,2016-04-14 00:11:00,4,64,36-45岁,5,2.0,2013-10-10
325,216844.0,2016-03-04 23:53:00,4,64,36-45岁,5,2.0,2013-10-10
326,216844.0,2016-03-29 12:29:00,4,64,36-45岁,5,2.0,2013-10-10
327,216844.0,2016-03-29 12:29:00,4,64,36-45岁,5,2.0,2013-10-10
328,216844.0,2016-03-06 20:24:00,4,64,36-45岁,5,2.0,2013-10-10
329,216844.0,2016-04-01 18:02:00,4,64,36-45岁,5,2.0,2013-10-10
330,216844.0,2016-03-31 15:10:00,4,64,36-45岁,5,2.0,2013-10-10
331,215544.0,2016-03-21 10:21:00,4,67,26-35岁,5,0.0,2010-11-28
332,214468.0,2016-03-28 18:12:00,4,72,36-45岁,5,0.0,2013-08-31
333,214289.0,2016-02-18 17:31:00,4,67,26-35岁,5,2.0,2013-08-28
334,214289.0,2016-03-19 14:25:00,4,67,26-35岁,5,2.0,2013-08-28
335,213882.0,2016-03-01 08:33:00,4,66,26-35岁,5,0.0,2010-11-01
336,213882.0,2016-03-01 08:33:00,4,66,26-35岁,5,0.0,2010-11-01
337,213882.0,2016-04-12 21:25:00,4,66,26-35岁,5,0.0,2010-11-01
338,212090.0,2016-03-19 04:14:00,4,72,36-45岁,5,0.0,2013-07-18
339,207005.0,2016-04-06 21:40:00,4,64,26-35岁,5,0.0,2010-09-03
340,206084.0,2016-02-16 10:15:00,4,66,26-35岁,5,0.0,2013-05-16
341,205515.0,2016-03-07 12:07:00,4,67,16-25岁,4,0.0,2013-05-12
342,204488.0,2016-03-18 09:08:00,4,61,26-35岁,5,1.0,2008-11-12
343,201971.0,2016-04-11 00:49:00,4,64,26-35岁,5,0.0,2008-11-07
344,201971.0,2016-03-16 15:33:00,4,64,26-35岁,5,0.0,2008-11-07
345,201971.0,2016-04-15 23:39:00,4,64,26-35岁,5,0.0,2008-11-07
346,201971.0,2016-04-11 00:49:00,4,64,26-35岁,5,0.0,2008-11-07

In [20]:
# load_60_days_user = load_60_days_user.sort_values(by='load_days',ascending=False)
# load_60_days_user.reset_index(drop=True,inplace=False)

,user_id,time,type,load_days,age,user_lv_cd,sex,user_reg_tm
0,243989.0,2016-03-10 16:14:00,4,74,36-45岁,5,0.0,2009-10-21
1,243989.0,2016-02-21 21:19:00,4,74,36-45岁,5,0.0,2009-10-21
2,243989.0,2016-04-13 19:11:00,4,74,36-45岁,5,0.0,2009-10-21
3,243989.0,2016-04-10 16:38:00,4,74,36-45岁,5,0.0,2009-10-21
4,243989.0,2016-02-12 18:26:00,4,74,36-45岁,5,0.0,2009-10-21
5,243989.0,2016-02-13 15:34:00,4,74,36-45岁,5,0.0,2009-10-21
6,243989.0,2016-02-14 13:38:00,4,74,36-45岁,5,0.0,2009-10-21
7,243989.0,2016-02-16 20:33:00,4,74,36-45岁,5,0.0,2009-10-21
8,243989.0,2016-02-19 11:02:00,4,74,36-45岁,5,0.0,2009-10-21
9,243989.0,2016-02-19 16:00:00,4,74,36-45岁,5,0.0,2009-10-21
10,243989.0,2016-02-20 15:48:00,4,74,36-45岁,5,0.0,2009-10-21
11,243989.0,2016-02-21 20:14:00,4,74,36-45岁,5,0.0,2009-10-21
12,243989.0,2016-02-15 11:09:00,4,74,36-45岁,5,0.0,2009-10-21
13,243989.0,2016-02-25 15:19:00,4,74,36-45岁,5,0.0,2009-10-21
14,243989.0,2016-03-24 14:39:00,4,74,36-45岁,5,0.0,2009-10-21
15,243989.0,2016-03-09 10:59:00,4,74,36-45岁,5,0.0,2009-10-21
16,243989.0,2016-04-05 17:42:00,4,74,36-45岁,5,0.0,2009-10-21
17,243989.0,2016-03-29 18:37:00,4,74,36-45岁,5,0.0,2009-10-21
18,243989.0,2016-03-25 17:44:00,4,74,36-45岁,5,0.0,2009-10-21
19,243989.0,2016-03-28 15:32:00,4,74,36-45岁,5,0.0,2009-10-21
20,243989.0,2016-03-22 17:55:00,4,74,36-45岁,5,0.0,2009-10-21
21,243989.0,2016-03-20 18:45:00,4,74,36-45岁,5,0.0,2009-10-21
22,243989.0,2016-03-20 18:45:00,4,74,36-45岁,5,0.0,2009-10-21
23,243989.0,2016-03-11 20:50:00,4,74,36-45岁,5,0.0,2009-10-21
24,276851.0,2016-03-11 11:04:00,4,72,26-35岁,5,0.0,2012-09-10
25,276851.0,2016-02-19 14:01:00,4,72,26-35岁,5,0.0,2012-09-10
26,276851.0,2016-03-11 11:04:00,4,72,26-35岁,5,0.0,2012-09-10
27,276851.0,2016-03-11 11:04:00,4,72,26-35岁,5,0.0,2012-09-10
28,276851.0,2016-03-15 10:15:00,4,72,26-35岁,5,0.0,2012-09-10
29,276851.0,2016-03-27 16:12:00,4,72,26-35岁,5,0.0,2012-09-10
...,...,...,...,...,...,...,...,...
317,236849.0,2016-02-24 20:28:00,4,61,36-45岁,5,0.0,2011-09-26
318,239223.0,2016-04-08 15:25:00,4,61,26-35岁,5,0.0,2011-11-07
319,290054.0,2016-04-08 04:22:00,4,61,36-45岁,5,0.0,2012-12-19
320,290710.0,2016-04-06 13:05:00,4,61,26-35岁,5,2.0,2012-12-24
321,290054.0,2016-04-14 12:00:00,4,61,36-45岁,5,0.0,2012-12-19
322,290054.0,2016-02-15 13:49:00,4,61,36-45岁,5,0.0,2012-12-19
323,204488.0,2016-03-18 09:08:00,4,61,26-35岁,5,1.0,2008-11-12
324,222686.0,2016-03-01 08:43:00,4,61,36-45岁,5,0.0,2013-12-12
325,222686.0,2016-03-01 11:19:00,4,61,36-45岁,5,0.0,2013-12-12
326,222686.0,2016-03-01 11:19:00,4,61,36-45岁,5,0.0,2013-12-12
327,277037.0,2016-02-18 22:54:00,4,61,36-45岁,5,2.0,2012-09-12
328,222686.0,2016-03-01 11:19:00,4,61,36-45岁,5,0.0,2013-12-12
329,222686.0,2016-03-14 17:35:00,4,61,36-45岁,5,0.0,2013-12-12
330,222686.0,2016-04-01 09:31:00,4,61,36-45岁,5,0.0,2013-12-12
331,222686.0,2016-04-14 08:11:00,4,61,36-45岁,5,0.0,2013-12-12
332,256828.0,2016-02-21 12:08:00,4,61,36-45岁,5,0.0,2014-10-08
333,277037.0,2016-04-07 11:53:00,4,61,36-45岁,5,2.0,2012-09-12
334,290054.0,2016-02-04 17:22:00,4,61,36-45岁,5,0.0,2012-12-19
335,222686.0,2016-03-01 11:19:00,4,61,36-45岁,5,0.0,2013-12-12
336,290054.0,2016-04-03 23:57:00,4,61,36-45岁,5,0.0,2012-12-19
337,290054.0,2016-02-15 13:49:00,4,61,36-45岁,5,0.0,2012-12-19
338,290054.0,2016-04-14 14:23:00,4,61,36-45岁,5,0.0,2012-12-19
339,290054.0,2016-03-27 23:02:00,4,61,36-45岁,5,0.0,2012-12-19
340,290054.0,2016-03-31 14:54:00,4,61,36-45岁,5,0.0,2012-12-19
341,290710.0,2016-02-24 16:28:00,4,61,26-35岁,5,2.0,2012-12-24
342,290054.0,2016-04-15 11:13:00,4,61,36-45岁,5,0.0,2012-12-19
343,290054.0,2016-04-15 10:31:00,4,61,36-45岁,5,0.0,2012-12-19
344,290054.0,2016-04-15 10:31:00,4,61,36-45岁,5,0.0,2012-12-19
345,290054.0,2016-04-14 14:17:00,4,61,36-45岁,5,0.0,2012-12-19
346,266827.0,2016-03-12 08:50:00,4,61,26-35岁,4,0.0,2012-06-20

In [26]:
load_60_days_user.iloc[29:59]

,user_id,time,type,load_days,age,user_lv_cd,sex,user_reg_tm
651829,294834.0,2016-03-24 21:27:00,4,65,-1,5,2.0,2015-10-31
648003,294834.0,2016-02-24 11:12:00,4,65,-1,5,2.0,2015-10-31
646636,294834.0,2016-02-19 09:28:00,4,65,-1,5,2.0,2015-10-31
650367,294834.0,2016-03-16 18:35:00,4,65,-1,5,2.0,2015-10-31
649907,294834.0,2016-03-08 16:15:00,4,65,-1,5,2.0,2015-10-31
646741,294834.0,2016-02-19 17:21:00,4,65,-1,5,2.0,2015-10-31
645952,294834.0,2016-02-02 22:10:00,4,65,-1,5,2.0,2015-10-31
647875,294834.0,2016-02-23 20:29:00,4,65,-1,5,2.0,2015-10-31
646282,294834.0,2016-02-16 16:14:00,4,65,-1,5,2.0,2015-10-31
646499,294834.0,2016-02-17 22:09:00,4,65,-1,5,2.0,2015-10-31
650214,294834.0,2016-03-13 11:30:00,4,65,-1,5,2.0,2015-10-31
647766,294834.0,2016-02-23 13:50:00,4,65,-1,5,2.0,2015-10-31
649756,294834.0,2016-03-07 00:02:00,4,65,-1,5,2.0,2015-10-31
649690,294834.0,2016-03-06 15:58:00,4,65,-1,5,2.0,2015-10-31
649878,294834.0,2016-03-08 12:59:00,4,65,-1,5,2.0,2015-10-31
646493,294834.0,2016-02-17 13:51:00,4,65,-1,5,2.0,2015-10-31
649418,294834.0,2016-03-03 10:51:00,4,65,-1,5,2.0,2015-10-31
650392,294834.0,2016-03-18 09:17:00,4,65,-1,5,2.0,2015-10-31
649989,294834.0,2016-03-10 09:48:00,4,65,-1,5,2.0,2015-10-31
650021,294834.0,2016-03-10 11:29:00,4,65,-1,5,2.0,2015-10-31
648933,294834.0,2016-02-25 16:42:00,4,65,-1,5,2.0,2015-10-31
649824,294834.0,2016-03-08 12:03:00,4,65,-1,5,2.0,2015-10-31
649720,294834.0,2016-03-06 16:28:00,4,65,-1,5,2.0,2015-10-31
649479,294834.0,2016-03-04 08:27:00,4,65,-1,5,2.0,2015-10-31
651182,294834.0,2016-03-20 20:18:00,4,65,-1,5,2.0,2015-10-31
649137,294834.0,2016-03-03 08:23:00,4,65,-1,5,2.0,2015-10-31
651305,294834.0,2016-03-21 13:36:00,4,65,-1,5,2.0,2015-10-31
647829,294834.0,2016-02-23 17:43:00,4,65,-1,5,2.0,2015-10-31
647140,294834.0,2016-02-21 11:50:00,4,65,-1,5,2.0,2015-10-31
646278,294834.0,2016-02-16 16:07:00,4,65,-1,5,2.0,2015-10-31

In [27]:
load_60_days_user.iloc[59:99]

,user_id,time,type,load_days,age,user_lv_cd,sex,user_reg_tm
646211,294834.0,2016-02-16 08:54:00,4,65,-1,5,2.0,2015-10-31
650433,294834.0,2016-03-20 08:19:00,4,65,-1,5,2.0,2015-10-31
646946,294834.0,2016-02-20 13:39:00,4,65,-1,5,2.0,2015-10-31
647298,294834.0,2016-02-22 12:05:00,4,65,-1,5,2.0,2015-10-31
641735,293135.0,2016-02-13 13:05:00,4,68,26-35岁,3,2.0,2015-10-19
641736,293135.0,2016-02-13 13:07:00,4,68,26-35岁,3,2.0,2015-10-19
640876,292813.0,2016-03-14 21:35:00,4,63,26-35岁,4,2.0,2013-01-10
639230,292813.0,2016-02-25 15:57:00,4,63,26-35岁,4,2.0,2013-01-10
639182,292813.0,2016-02-22 12:31:00,4,63,26-35岁,4,2.0,2013-01-10
633712,292301.0,2016-03-10 00:22:00,4,71,-1,5,0.0,2015-10-08
624224,291249.0,2016-04-08 00:21:00,4,67,26-35岁,5,0.0,2010-06-18
622483,291249.0,2016-02-23 22:45:00,4,67,26-35岁,5,0.0,2010-06-18
623404,291249.0,2016-03-18 10:31:00,4,67,26-35岁,5,0.0,2010-06-18
605589,290710.0,2016-04-06 13:05:00,4,61,26-35岁,5,2.0,2012-12-24
604301,290710.0,2016-02-24 16:28:00,4,61,26-35岁,5,2.0,2012-12-24
584376,290054.0,2016-03-04 10:38:00,4,61,36-45岁,5,0.0,2012-12-19
584628,290054.0,2016-03-07 00:31:00,4,61,36-45岁,5,0.0,2012-12-19
587329,290054.0,2016-04-11 03:57:00,4,61,36-45岁,5,0.0,2012-12-19
584255,290054.0,2016-02-28 16:55:00,4,61,36-45岁,5,0.0,2012-12-19
587044,290054.0,2016-04-08 04:22:00,4,61,36-45岁,5,0.0,2012-12-19
587643,290054.0,2016-04-14 12:00:00,4,61,36-45岁,5,0.0,2012-12-19
584238,290054.0,2016-02-27 16:14:00,4,61,36-45岁,5,0.0,2012-12-19
585526,290054.0,2016-03-27 23:02:00,4,61,36-45岁,5,0.0,2012-12-19
583694,290054.0,2016-02-16 16:29:00,4,61,36-45岁,5,0.0,2012-12-19
585280,290054.0,2016-03-16 16:52:00,4,61,36-45岁,5,0.0,2012-12-19
583411,290054.0,2016-02-04 17:22:00,4,61,36-45岁,5,0.0,2012-12-19
585183,290054.0,2016-03-16 11:14:00,4,61,36-45岁,5,0.0,2012-12-19
585036,290054.0,2016-03-12 05:23:00,4,61,36-45岁,5,0.0,2012-12-19
584377,290054.0,2016-03-04 10:38:00,4,61,36-45岁,5,0.0,2012-12-19
583564,290054.0,2016-02-15 13:49:00,4,61,36-45岁,5,0.0,2012-12-19
586220,290054.0,2016-04-03 23:57:00,4,61,36-45岁,5,0.0,2012-12-19
587861,290054.0,2016-04-15 10:31:00,4,61,36-45岁,5,0.0,2012-12-19
583565,290054.0,2016-02-15 13:49:00,4,61,36-45岁,5,0.0,2012-12-19
583645,290054.0,2016-02-15 15:57:00,4,61,36-45岁,5,0.0,2012-12-19
583574,290054.0,2016-02-15 13:50:00,4,61,36-45岁,5,0.0,2012-12-19
585876,290054.0,2016-03-31 14:54:00,4,61,36-45岁,5,0.0,2012-12-19
587704,290054.0,2016-04-14 14:23:00,4,61,36-45岁,5,0.0,2012-12-19
584629,290054.0,2016-03-07 00:31:00,4,61,36-45岁,5,0.0,2012-12-19
586728,290054.0,2016-04-07 16:07:00,4,61,36-45岁,5,0.0,2012-12-19
587043,290054.0,2016-04-08 04:22:00,4,61,36-45岁,5,0.0,2012-12-19

In [28]:
load_60_days_user.iloc[99:159]

,user_id,time,type,load_days,age,user_lv_cd,sex,user_reg_tm
587895,290054.0,2016-04-15 11:13:00,4,61,36-45岁,5,0.0,2012-12-19
586824,290054.0,2016-04-08 03:22:00,4,61,36-45岁,5,0.0,2012-12-19
587676,290054.0,2016-04-14 14:17:00,4,61,36-45岁,5,0.0,2012-12-19
587860,290054.0,2016-04-15 10:31:00,4,61,36-45岁,5,0.0,2012-12-19
586729,290054.0,2016-04-07 16:07:00,4,61,36-45岁,5,0.0,2012-12-19
585381,290054.0,2016-03-24 15:31:00,4,61,36-45岁,5,0.0,2012-12-19
586730,290054.0,2016-04-07 16:07:00,4,61,36-45岁,5,0.0,2012-12-19
583129,289645.0,2016-04-14 00:29:00,4,63,26-35岁,5,2.0,2012-12-15
576977,288734.0,2016-02-25 05:39:00,4,62,26-35岁,5,1.0,2012-12-10
577992,288734.0,2016-03-14 00:02:00,4,62,26-35岁,5,1.0,2012-12-10
576102,285802.0,2016-04-10 20:57:00,4,68,36-45岁,5,0.0,2015-07-24
575274,285802.0,2016-03-10 00:38:00,4,68,36-45岁,5,0.0,2015-07-24
574853,285802.0,2016-02-18 22:26:00,4,68,36-45岁,5,0.0,2015-07-24
575836,285802.0,2016-03-25 14:52:00,4,68,36-45岁,5,0.0,2015-07-24
573882,285685.0,2016-04-03 12:14:00,4,64,36-45岁,5,0.0,2010-05-24
571357,285685.0,2016-03-12 02:25:00,4,64,36-45岁,5,0.0,2010-05-24
568149,284862.0,2016-02-27 17:06:00,4,66,36-45岁,5,2.0,2012-11-15
562248,282710.0,2016-02-07 21:51:00,4,62,26-35岁,5,2.0,2012-11-02
567497,282710.0,2016-04-05 11:19:00,4,62,26-35岁,5,2.0,2012-11-02
567037,282710.0,2016-04-03 15:43:00,4,62,26-35岁,5,2.0,2012-11-02
563737,282710.0,2016-03-05 00:07:00,4,62,26-35岁,5,2.0,2012-11-02
561708,282710.0,2016-02-01 10:28:00,4,62,26-35岁,5,2.0,2012-11-02
551193,281131.0,2016-02-14 02:11:00,4,70,36-45岁,5,2.0,2015-06-10
541063,277037.0,2016-04-07 11:53:00,4,61,36-45岁,5,2.0,2012-09-12
537264,277037.0,2016-02-18 22:54:00,4,61,36-45岁,5,2.0,2012-09-12
532800,276851.0,2016-03-15 10:15:00,4,72,26-35岁,5,0.0,2012-09-10
536085,276851.0,2016-04-08 12:19:00,4,72,26-35岁,5,0.0,2012-09-10
532516,276851.0,2016-03-11 11:04:00,4,72,26-35岁,5,0.0,2012-09-10
531679,276851.0,2016-03-04 09:07:00,4,72,26-35岁,5,0.0,2012-09-10
534247,276851.0,2016-03-27 16:12:00,4,72,26-35岁,5,0.0,2012-09-10
531705,276851.0,2016-03-04 13:36:00,4,72,26-35岁,5,0.0,2012-09-10
534248,276851.0,2016-03-27 16:12:00,4,72,26-35岁,5,0.0,2012-09-10
532515,276851.0,2016-03-11 11:04:00,4,72,26-35岁,5,0.0,2012-09-10
535179,276851.0,2016-04-02 13:19:00,4,72,26-35岁,5,0.0,2012-09-10
532514,276851.0,2016-03-11 11:04:00,4,72,26-35岁,5,0.0,2012-09-10
529566,276851.0,2016-02-19 14:01:00,4,72,26-35岁,5,0.0,2012-09-10
535938,276851.0,2016-04-07 23:14:00,4,72,26-35岁,5,0.0,2012-09-10
531942,276851.0,2016-03-07 09:57:00,4,72,26-35岁,5,0.0,2012-09-10
531783,276851.0,2016-03-05 16:05:00,4,72,26-35岁,5,0.0,2012-09-10
536087,276851.0,2016-04-08 12:19:00,4,72,26-35岁,5,0.0,2012-09-10
535796,276851.0,2016-04-07 18:04:00,4,72,26-35岁,5,0.0,2012-09-10
535940,276851.0,2016-04-07 23:14:00,4,72,26-35岁,5,0.0,2012-09-10
530775,276851.0,2016-02-27 11:29:00,4,72,26-35岁,5,0.0,2012-09-10
536088,276851.0,2016-04-08 12:19:00,4,72,26-35岁,5,0.0,2012-09-10
529585,276851.0,2016-02-19 22:15:00,4,72,26-35岁,5,0.0,2012-09-10
534249,276851.0,2016-03-27 16:12:00,4,72,26-35岁,5,0.0,2012-09-10
536086,276851.0,2016-04-08 12:19:00,4,72,26-35岁,5,0.0,2012-09-10
535939,276851.0,2016-04-07 23:14:00,4,72,26-35岁,5,0.0,2012-09-10
532227,276851.0,2016-03-08 22:30:00,4,72,26-35岁,5,0.0,2012-09-10
522468,274217.0,2016-02-20 13:48:00,4,67,26-35岁,4,2.0,2012-08-22
523229,274217.0,2016-02-29 12:57:00,4,67,26-35岁,4,2.0,2012-08-22
526257,274217.0,2016-04-07 21:45:00,4,67,26-35岁,4,2.0,2012-08-22
523677,274217.0,2016-03-04 15:39:00,4,67,26-35岁,4,2.0,2012-08-22
518772,272379.0,2016-03-07 06:08:00,4,67,26-35岁,5,0.0,2012-08-14
512765,271592.0,2016-04-01 00:21:00,4,72,36-45岁,5,0.0,2015-03-20
515007,271592.0,2016-04-09 19:31:00,4,72,36-45岁,5,0.0,2015-03-20
516159,271592.0,2016-04-14 07:54:00,4,72,36-45岁,5,0.0,2015-03-20
500152,271592.0,2016-02-13 21:25:00,4,72,36-45岁,5,0.0,2015-03-20
500581,271592.0,2016-02-14 11:36:00,4,72,36-45岁,5,0.0,2015-03-20
507071,271592.0,2016-03-15 00:25:00,4,72,36-45岁,5,0.0,2015-03-20

In [50]:
find_number = load_60_days_user[['user_id','type']]
find_number

         user_id  type
710058  303392.0     4
693585  301094.0     4
693584  301094.0     4
682956  301052.0     4
682959  301052.0     4
683346  301052.0     4
676588  296588.0     4
675016  296588.0     4
662184  296107.0     4
658177  295876.0     4
657031  295876.0     4
658400  295876.0     4
655217  295090.0     4
646686  294834.0     4
646433  294834.0     4
646090  294834.0     4
652320  294834.0     4
651902  294834.0     4
651198  294834.0     4
645837  294834.0     4
651554  294834.0     4
652467  294834.0     4
651812  294834.0     4
647180  294834.0     4
649656  294834.0     4
650370  294834.0     4
650135  294834.0     4
646041  294834.0     4
650377  294834.0     4
651829  294834.0     4
...          ...   ...
151183  218222.0     4
136372  217662.0     4
131647  217662.0     4
134739  217662.0     4
125381  217349.0     4
127108  217349.0     4
123625  216844.0     4
124548  216844.0     4
121366  216844.0     4
123626  216844.0     4
123627  216844.0     4
121658  216844.0     4
123853  216844.0     4
123773  216844.0     4
109553  215544.0     4
101363  214468.0     4
91596   214289.0     4
94834   214289.0     4
88722   213882.0     4
88723   213882.0     4
90557   213882.0     4
80784   212090.0     4
45440   207005.0     4
42139   206084.0     4
38334   205515.0     4
29783   204488.0     4
10455   201971.0     4
6653    201971.0     4
11185   201971.0     4
10454   201971.0     4

[347 rows x 2 columns]

In [48]:
type_dummies = pd.get_dummies(find_number['type'],prefix='type')
find_number1 = pd.concat([find_number,type_dummies],axis=1)[['user_id','type_4']]
find_number1 = find_number1.groupby('user_id',as_index=False).sum()

In [55]:
find_number1 = find_number1.sort_values('type_4',ascending=True)

In [59]:
ll = find_number1.iloc[70:]['user_id']
ll = pd.DataFrame(ll)

In [43]:
load_60_days_user[load_60_days_user.age=='46-45岁']

,user_id,time,type,load_days,age,user_lv_cd,sex,user_reg_tm
299403,237793.0,2016-03-07 06:26:00,4,69,46-55岁,5,0.0,2011-10-16
308544,237793.0,2016-03-27 20:24:00,4,69,46-55岁,5,0.0,2011-10-16
309559,237793.0,2016-04-15 17:45:00,4,69,46-55岁,5,0.0,2011-10-16
381774,255206.0,2016-02-02 10:11:00,4,67,46-55岁,5,2.0,2014-09-22
381775,255206.0,2016-02-02 10:11:00,4,67,46-55岁,5,2.0,2014-09-22
381782,255206.0,2016-02-02 11:26:00,4,67,46-55岁,5,2.0,2014-09-22
381890,255206.0,2016-02-05 14:21:00,4,67,46-55岁,5,2.0,2014-09-22
382177,255206.0,2016-02-14 17:38:00,4,67,46-55岁,5,2.0,2014-09-22
382458,255206.0,2016-02-23 17:54:00,4,67,46-55岁,5,2.0,2014-09-22
382534,255206.0,2016-02-23 23:01:00,4,67,46-55岁,5,2.0,2014-09-22
382535,255206.0,2016-02-23 23:01:00,4,67,46-55岁,5,2.0,2014-09-22
382564,255206.0,2016-02-23 23:02:00,4,67,46-55岁,5,2.0,2014-09-22
382565,255206.0,2016-02-23 23:02:00,4,67,46-55岁,5,2.0,2014-09-22
383074,255206.0,2016-03-07 12:30:00,4,67,46-55岁,5,2.0,2014-09-22
383768,255206.0,2016-03-18 20:40:00,4,67,46-55岁,5,2.0,2014-09-22
384959,255206.0,2016-04-14 14:45:00,4,67,46-55岁,5,2.0,2014-09-22

In [34]:
with open('./cache/load_more_60_days_user_info','wb') as f:
    pickle.dump(load_60_days_user,f)

In [29]:
# delta_user = load_60_days_user['user_id']
# delta_user = pd.DataFrame(delta_user).drop_duplicates()
# load_60 = pd.merge(m,delta_user,on='user_id',how='left')
# load_60.fillna(value=0)
# load_60 = load_60[load_60.type!=0]['user_id']
# load_60 = pd.DataFrame(load_60)
load_60=load_60.drop_duplicates()

In [30]:
a = pd.read_csv('./a2.csv')['user_id']
a = pd.DataFrame(a)
a = pd.concat([a,load_60],axis=0)
a

         user_id
0       200094.0
1       200210.0
2       200288.0
3       200690.0
4       200958.0
5       201931.0
6       203534.0
7       204253.0
8       204359.0
9       204399.0
10      204642.0
11      204693.0
12      204978.0
13      205066.0
14      205230.0
15      205615.0
16      205719.0
17      205792.0
18      206631.0
19      206704.0
20      206980.0
21      206995.0
22      207197.0
23      207210.0
24      207215.0
25      207234.0
26      207377.0
27      207401.0
28      207404.0
29      207437.0
...          ...
542038  277439.0
546305  281131.0
558088  282052.0
561669  282710.0
567748  284862.0
569764  285685.0
574384  285802.0
576327  288734.0
579409  289645.0
583385  290054.0
587949  290470.0
602926  290710.0
606001  290880.0
621920  291249.0
625038  291811.0
629847  292301.0
636767  292748.0
638543  292813.0
641544  293135.0
644673  294771.0
645729  294834.0
652750  295090.0
656688  295876.0
658654  296107.0
669055  296588.0
678688  298651.0
681769  301052.0
689095  301094.0
697229  301519.0
706759  303392.0

[474 rows x 1 columns]

In [36]:
a['sku_id'] = [x for x in range(len(a))]
a = pd.DataFrame(a).astype(int)
a.to_csv('a4.csv',index=False)

In [37]:
c = pd.read_csv('a4.csv')
c

     user_id  sku_id
0     200094       0
1     200210       1
2     200288       2
3     200690       3
4     200958       4
5     201931       5
6     203534       6
7     204253       7
8     204359       8
9     204399       9
10    204642      10
11    204693      11
12    204978      12
13    205066      13
14    205230      14
15    205615      15
16    205719      16
17    205792      17
18    206631      18
19    206704      19
20    206980      20
21    206995      21
22    207197      22
23    207210      23
24    207215      24
25    207234      25
26    207377      26
27    207401      27
28    207404      28
29    207437      29
..       ...     ...
444   277439     444
445   281131     445
446   282052     446
447   282710     447
448   284862     448
449   285685     449
450   285802     450
451   288734     451
452   289645     452
453   290054     453
454   290470     454
455   290710     455
456   290880     456
457   291249     457
458   291811     458
459   292301     459
460   292748     460
461   292813     461
462   293135     462
463   294771     463
464   294834     464
465   295090     465
466   295876     466
467   296107     467
468   296588     468
469   298651     469
470   301052     470
471   301094     471
472   301519     472
473   303392     473

[474 rows x 2 columns]

In [25]:
load_60_days_user['time']=pd.to_datetime(load_60_days_user['time'])
load_60_days_user

6653     2016-03-16 15:33:00
10454    2016-04-11 00:49:00
10455    2016-04-11 00:49:00
11185    2016-04-15 23:39:00
29783    2016-03-18 09:08:00
38334    2016-03-07 12:07:00
42139    2016-02-16 10:15:00
45440    2016-04-06 21:40:00
80784    2016-03-19 04:14:00
88722    2016-03-01 08:33:00
88723    2016-03-01 08:33:00
90557    2016-04-12 21:25:00
91596    2016-02-18 17:31:00
94834    2016-03-19 14:25:00
101363   2016-03-28 18:12:00
109553   2016-03-21 10:21:00
121366   2016-03-04 23:53:00
121658   2016-03-06 20:24:00
123625   2016-03-29 12:29:00
123626   2016-03-29 12:29:00
123627   2016-03-29 12:29:00
123773   2016-03-31 15:10:00
123853   2016-04-01 18:02:00
124548   2016-04-14 00:11:00
125381   2016-02-05 16:24:00
127108   2016-03-11 17:59:00
131647   2016-03-07 21:56:00
134739   2016-03-30 16:34:00
136372   2016-04-11 00:17:00
151183   2016-04-08 23:00:00
                 ...
650021   2016-03-10 11:29:00
650135   2016-03-10 16:27:00
650214   2016-03-13 11:30:00
650367   2016-03-16 18:35:00
650370   2016-03-17 11:19:00
650377   2016-03-17 13:06:00
650392   2016-03-18 09:17:00
650433   2016-03-20 08:19:00
651182   2016-03-20 20:18:00
651198   2016-03-20 21:23:00
651305   2016-03-21 13:36:00
651554   2016-03-23 21:32:00
651812   2016-03-24 19:44:00
651829   2016-03-24 21:27:00
651902   2016-03-24 23:11:00
652320   2016-04-03 13:55:00
652467   2016-04-05 15:18:00
655217   2016-03-28 08:28:00
657031   2016-02-03 13:17:00
658177   2016-03-31 09:01:00
658400   2016-04-08 22:43:00
662184   2016-02-11 20:59:00
675016   2016-03-01 16:43:00
676588   2016-03-07 19:14:00
682956   2016-02-13 13:51:00
682959   2016-02-13 13:52:00
683346   2016-02-13 17:04:00
693584   2016-02-29 11:13:00
693585   2016-02-29 11:13:00
710058   2016-03-30 14:41:00
Name: time, dtype: datetime64[ns]

In [24]:
df[df.load_days>10]          #此方法没用，这个特征并不理想

,user_id,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,2016-02-06,2016-02-07,2016-02-08,2016-02-09,...,2016-04-07,2016-04-08,2016-04-09,2016-04-10,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,load_days
0,200001.0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,0,1,22
1,200002.0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,19
2,200003.0,0,1,1,0,0,0,0,0,0,...,1,0,0,1,0,0,1,1,0,13
7,200008.0,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,12
11,200012.0,0,0,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,1,14
12,200013.0,0,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,15
13,200014.0,0,0,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,1,0,21
14,200015.0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,1,1,0,1,21
15,200016.0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,12
21,200022.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,12
26,200027.0,0,0,0,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,18
27,200028.0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,1,1,1,24
29,200030.0,0,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,20
30,200031.0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,14
31,200032.0,0,0,0,1,1,1,1,1,1,...,0,1,1,0,0,0,1,0,1,28
32,200033.0,0,1,0,0,1,0,0,0,0,...,0,1,1,0,1,1,1,1,1,16
35,200036.0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,1,0,0,0,17
36,200037.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,1,11
37,200038.0,1,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,1,1,35
40,200041.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,14
42,200043.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,0,0,0,16
43,200044.0,1,1,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,27
44,200045.0,0,0,1,1,1,1,1,1,1,...,0,0,1,0,1,1,1,1,0,37
45,200046.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,12
46,200047.0,1,0,1,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,25
48,200049.0,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,0,0,0,0,12
51,200052.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
52,200053.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,0,25
53,200054.0,0,0,0,0,0,0,0,0,0,...,1,1,0,1,1,1,1,1,1,15
54,200055.0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105087,305228.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14
105091,305232.0,1,0,0,0,1,0,0,0,0,...,1,1,1,1,1,0,0,1,1,20
105098,305239.0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,13
105099,305240.0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,18
105104,305245.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,1,1,14
105105,305246.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23
105109,305250.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,1,16
105110,305251.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,11
105114,305255.0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16
105116,305257.0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,1,1,1,0,16
105117,305258.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,19
105118,305259.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
105119,305260.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12
105123,305264.0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,26
105126,305267.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14
105128,305269.0,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,1,1,1,1,16
105136,305277.0,0,0,0,1,0,0,0,0,0,...,0,0,1,1,1,1,0,0,0,15
105139,305280.0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,1,1,1,0,1,16
105141,305283.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12
105147,305289.0,1,0,1,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,22
105149,305291.0,0,1,0,0,1,0,0,0,0,...,1,1,1,1,1,0,1,1,0,18
105154,305296.0,0,0,0,0,0,0,1,0,0,...,1,0,1,0,0,1,0,1,1,30
105157,305299.0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,12
105159,305301.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,20
105160,305302.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,18
105164,305306.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,16
105168,305310.0,1,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,1,19
105169,305311.0,1,0,0,1,1,1,0,0,0,...,0,0,0,0,1,1,0,1,1,33
105170,305312.0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,1,1,1,1,19
105175,305317.0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,12

In [6]:
dump_path = './cache/Action_2016-02-01_2016-04-16_0'
if os.path.exists(dump_path):
    with open(dump_path,'rb') as f:
        df = pickle.load(f)
df

,user_id,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,2016-02-06,2016-02-07,2016-02-08,2016-02-09,...,2016-04-08,2016-04-09,2016-04-10,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,last_7_sum,all_days_sum
0,200001.0,0,0,0,0,0,0,0,0,0,...,19,6,0,1,0,2,0,1,9,671.0
1,200002.0,16,7,46,0,0,0,0,0,0,...,0,0,0,0,0,92,41,0,133,856.0
2,200003.0,0,31,20,0,0,0,0,0,0,...,0,0,11,0,0,23,25,0,59,706.0
3,200004.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,43,0,34,0,77,190.0
4,200005.0,0,0,0,0,0,0,0,0,0,...,0,36,0,0,0,0,0,0,36,311.0
5,200006.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,7,0,369.0
6,200007.0,0,0,0,0,0,22,0,4,0,...,0,0,26,0,0,0,0,0,26,818.0
7,200008.0,28,0,0,0,0,29,0,21,0,...,0,0,0,0,0,0,0,0,0,311.0
8,200009.0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,2,3,4,15.0
9,200010.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,90.0
10,200011.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,88.0
11,200012.0,0,0,0,0,0,0,0,0,0,...,10,0,14,0,0,0,0,7,14,204.0
12,200013.0,0,0,0,46,77,0,0,66,0,...,0,0,0,0,0,0,5,0,5,327.0
13,200014.0,0,0,0,0,0,0,0,0,0,...,81,0,46,0,0,0,2,0,48,1206.0
14,200015.0,0,0,0,0,0,0,0,0,0,...,15,6,0,0,328,678,0,71,1012,4275.0
15,200016.0,0,0,0,0,0,0,40,8,0,...,0,0,0,0,0,0,0,0,0,314.0
16,200017.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,305.0
17,200018.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,65.0
18,200019.0,0,0,0,0,0,0,0,0,0,...,48,0,0,0,9,0,0,0,9,107.0
19,200020.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,119.0
20,200021.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,100.0
21,200022.0,0,0,0,0,0,0,0,0,0,...,0,0,0,12,0,0,0,0,12,153.0
22,200023.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
23,200024.0,0,0,0,0,5,13,0,0,0,...,0,0,0,1,0,46,0,0,47,321.0
24,200025.0,0,0,0,0,0,0,0,0,0,...,0,21,0,67,315,117,215,105,735,1575.0
25,200026.0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,2,14.0
26,200027.0,0,0,0,24,3,0,0,0,0,...,0,52,0,0,0,0,0,0,52,666.0
27,200028.0,0,0,0,0,0,0,0,0,0,...,9,34,15,0,37,94,83,28,263,1007.0
28,200029.0,0,0,0,0,0,0,0,12,0,...,0,0,0,0,0,0,0,3,0,105.0
29,200030.0,0,22,3,9,39,14,3,9,40,...,0,0,0,0,0,0,0,0,0,422.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105150,305292.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,93.0
105151,305293.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,330.0
105152,305294.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,19.0
105153,305295.0,0,0,0,0,0,0,0,0,0,...,0,0,0,48,26,21,7,42,102,246.0
105154,305296.0,0,0,0,0,0,0,5,0,0,...,0,14,0,0,6,0,6,12,26,475.0
105155,305297.0,0,0,0,0,15,0,0,0,0,...,0,0,0,0,0,0,0,0,0,31.0
105156,305298.0,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,52.0
105157,305299.0,0,0,0,0,0,0,0,0,31,...,0,7,0,7,0,0,0,0,14,289.0
105158,305300.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,591.0
105159,305301.0,0,21,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,18,0,779.0
105160,305302.0,0,0,0,0,12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,194.0
105161,305303.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,112.0
105162,305304.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,243.0
105163,305305.0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,2,2,15.0
105164,305306.0,0,0,0,0,0,0,0,0,0,...,0,0,29,0,0,0,0,0,29,144.0
105165,305307.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7.0
105166,305308.0,0,0,0,0,0,0,0,0,0,...,151,93,70,113,36,26,55,24,393,961.0
105167,305309.0,0,0,0,0,0,0,0,0,0,...,0,7,0,0,0,0,0,0,7,274.0
105168,305310.0,11,0,0,0,0,0,0,0,0,...,24,11,27,0,0,0,0,6,38,497.0
105169,305311.0,24,0,0,6,83,6,0,0,0,...,0,0,0,9,10,0,6,21,25,4514.0
105170,305312.0,0,0,23,0,0,0,0,0,0,...,0,0,0,0,3,8,1,37,12,307.0
105171,305313.0,0,0,0,0,0,0,0,0,0,...,76,0,0,2,10,0,0,0,12,139.0
105172,305314.0,0,0,0,0,0,0,0,0,0,...,0,0,0,7,0,0,0,43,7,312.0
105173,305315.0,0,0,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,0,6,37.0
105174,305316.0,8,0,0,8,20,0,0,0,0,...,0,0,0,0,0,0,0,0,0,36.0
105175,305317.0,0,0,0,0,0,0,0,0,0,...,37,0,0,0,0,160,0,0,160,658.0
105176,305318.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,150.0
105177,305319.0,0,0,0,0,0,0,0,0,0,...,235,3,0,0,0,0,0,0,3,1785.0
105178,305320.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,219.0
105179,305321.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,38.0

In [6]:
#查看用户等级高的用户的行为数据
def user_level_high():
    dump_path = './cache/Action_high_user_level'
    if os.path.exists(dump_path):
        with open(dump_path,'rb') as f:
            df = pickle.load(f)
    else:
        df = pd.read_csv(USER_FILE,encoding='gbk')
        df = df[df.user_lv_cd==5]
        with open('./cache/Action_2016-02-01_2016-04-16_0','rb') as f:
            browse_info = pickle.load(f)
        df = pd.merge(df,browse_info,how='left',on='user_id')
        with open(dump_path,'wb') as f:
            pickle.dump(df,f)
    return df

In [8]:
user_level_high()

,user_id,age,sex,user_lv_cd,user_reg_tm,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,...,2016-04-08,2016-04-09,2016-04-10,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,last_7_sum,all_days_sum
0,200001,56岁以上,2.0,5,2016-01-26,0.0,0.0,0.0,0.0,0.0,...,19.0,6.0,0.0,1.0,0.0,2.0,0.0,1.0,9.0,671.0
1,200011,-1,0.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,88.0
2,200022,26-35岁,0.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,12.0,153.0
3,200027,26-35岁,1.0,5,2013-04-10,0.0,0.0,0.0,24.0,3.0,...,0.0,52.0,0.0,0.0,0.0,0.0,0.0,0.0,52.0,666.0
4,200033,36-45岁,2.0,5,2016-02-02,0.0,18.0,0.0,0.0,7.0,...,96.0,99.0,0.0,73.0,1.0,7.0,136.0,8.0,316.0,1009.0
5,200037,26-35岁,2.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,17.0,63.0,0.0,0.0,4.0,80.0,329.0
6,200038,26-35岁,0.0,5,2013-04-10,84.0,24.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,45.0,25.0,45.0,3062.0
7,200045,26-35岁,2.0,5,2013-04-10,0.0,0.0,90.0,12.0,73.0,...,0.0,20.0,0.0,9.0,22.0,7.0,26.0,0.0,84.0,833.0
8,200054,16-25岁,2.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,31.0,0.0,250.0,10.0,80.0,23.0,230.0,336.0,593.0,1902.0
9,200059,26-35岁,2.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,109.0,14.0,7.0,0.0,17.0,6.0,0.0,33.0,44.0,484.0
10,200068,56岁以上,0.0,5,2016-01-27,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,6.0,21.0,13.0,43.0,41.0,351.0
11,200069,36-45岁,2.0,5,2016-01-27,0.0,0.0,0.0,0.0,0.0,...,18.0,30.0,177.0,0.0,6.0,5.0,0.0,17.0,218.0,549.0
12,200071,36-45岁,0.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,22.0,0.0,0.0,0.0,21.0,0.0,8.0,0.0,29.0,250.0
13,200072,36-45岁,0.0,5,2010-08-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,23.0,2.0,0.0,0.0,0.0,0.0,25.0,84.0
14,200074,-1,2.0,5,2013-04-11,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,18.0,0.0,23.0,142.0
15,200075,36-45岁,0.0,5,2013-04-11,0.0,0.0,6.0,0.0,0.0,...,11.0,108.0,104.0,0.0,237.0,18.0,7.0,15.0,474.0,1038.0
16,200077,26-35岁,2.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,7.0,634.0
17,200092,26-35岁,2.0,5,2016-01-27,57.0,83.0,60.0,17.0,23.0,...,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,8.0,1107.0
18,200093,16-25岁,2.0,5,2016-01-27,0.0,0.0,0.0,0.0,0.0,...,8.0,0.0,9.0,0.0,45.0,0.0,1.0,0.0,55.0,324.0
19,200097,-1,2.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,263.0
20,200107,16-25岁,0.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,25.0,6.0,8.0,4.0,53.0,2.0,96.0,194.0
21,200120,36-45岁,2.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,18.0,0.0,0.0,23.0,855.0
22,200130,26-35岁,0.0,5,2016-01-27,5.0,0.0,0.0,0.0,7.0,...,6.0,1.0,0.0,0.0,0.0,5.0,17.0,1.0,23.0,1034.0
23,200132,26-35岁,2.0,5,2013-04-11,34.0,0.0,15.0,11.0,114.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,603.0
24,200143,46-55岁,0.0,5,2010-08-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,410.0
25,200147,26-35岁,2.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,439.0
26,200150,46-55岁,1.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,15.0,0.0,3.0,0.0,0.0,18.0,166.0
27,200156,26-35岁,2.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,529.0
28,200160,26-35岁,0.0,5,2010-08-10,0.0,0.0,0.0,0.0,0.0,...,8.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,6.0,43.0
29,200180,26-35岁,1.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,128.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36058,305095,-1,2.0,5,2016-01-24,80.0,1.0,0.0,40.0,6.0,...,0.0,42.0,10.0,0.0,23.0,0.0,0.0,0.0,75.0,624.0
36059,305096,36-45岁,2.0,5,2013-04-09,0.0,0.0,0.0,0.0,34.0,...,0.0,0.0,0.0,133.0,0.0,0.0,0.0,0.0,133.0,398.0
36060,305103,26-35岁,0.0,5,2013-04-09,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,7.0,151.0
36061,305105,26-35岁,2.0,5,2016-01-24,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,131.0
36062,305110,26-35岁,2.0,5,2013-04-09,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,154.0
36063,305120,36-45岁,2.0,5,2013-04-09,0.0,18.0,0.0,30.0,14.0,...,123.0,49.0,30.0,5.0,6.0,0.0,0.0,90.0,90.0,1228.0
36064,305130,36-45岁,2.0,5,2016-01-24,0.0,0.0,0.0,0.0,0.0,...,51.0,30.0,0.0,0.0,0.0,88.0,28.0,0.0,146.0,1053.0
36065,305138,26-35岁,0.0,5,2013-04-09,0.0,0.0,2.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,133.0
36066,305144,36-45岁,0.0,5,2007-01-24,0.0,2.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,50.0
36067,305145,26-35岁,0.0,5,2013-04-09,137.0,0.0,0.0,17.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,249.0
36068,305157,26-35岁,0.0,5,2013-04-09,0.0,0.0,0.0,0.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,277.0
36069,305164,46-55岁,0.0,5,2008-11-01,10.0,106.0,0.0,22.0,18.0,...,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,6.0,185.0
36070,305170,36-45岁,2.0,5,2013-04-09,0.0,0.0,0.0,0.0,0.0,...,50.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,1473.0
36071,305175,36-45岁,0.0,5,2008-11-01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0,348.0
36072,305180,36-45岁,0.0,5,2016-01-25,0.0,0.0,0.0,0.0,0.0,...,38.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2115.0
36073,305189,26-35岁,2.0,5,2013-04-09,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,418.0
36074,305210,26-35岁,0.0,5,2008-11-01,0.0,0.0,0.0,0.0,0.0,...,134.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,5.0,174.0
36075,305244,36-45岁,0.0,5,2013-04-10,2.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,40.0
36076,305251,56岁以上,2.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0,11.0,333.0
36077,305258,26-35岁,2.0,5,2010-08-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,2.0,3.0,525.0
36078,305264,26-35岁,0.0,5,2010-08-10,0.0,0.0,0.0,15.0,0.0,...,45.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,10.0,896.0
36079,305267,36-45岁,0.0,5,2013-04-10,0.0,0.0,21.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,848.0
36080,305272,16-25岁,0.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,113.0
36081,305279,26-35岁,0.0,5,2008-11-01,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52.0
36082,305282,26-35岁,0.0,5,2016-01-26,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36083,305286,36-45岁,0.0,5,2007-01-24,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,31.0,0.0,0.0,31.0,222.0
36084,305296,26-35岁,2.0,5,2016-01-26,0.0,0.0,0.0,0.0,0.0,...,0.0,14.0,0.0,0.0,6.0,0.0,6.0,12.0,26.0,475.0
36085,305301,56岁以上,2.0,5,2016-01-26,0.0,21.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,779.0
36086,305312,26-35岁,0.0,5,2008-11-01,0.0,0.0,23.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,8.0,1.0,37.0,12.0,307.0
36087,305314,26-35岁,1.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,7.0,0.0,0.0,0.0,43.0,7.0,312.0

In [7]:
user_dataset = user_level_high()
user_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36088 entries, 0 to 36087
Data columns (total 82 columns):
user_id         36088 non-null int64
age             36088 non-null object
sex             36088 non-null float64
user_lv_cd      36088 non-null int64
user_reg_tm     36088 non-null object
2016-02-01      36048 non-null float64
2016-02-02      36048 non-null float64
2016-02-03      36048 non-null float64
2016-02-04      36048 non-null float64
2016-02-05      36048 non-null float64
2016-02-06      36048 non-null float64
2016-02-07      36048 non-null float64
2016-02-08      36048 non-null float64
2016-02-09      36048 non-null float64
2016-02-10      36048 non-null float64
2016-02-11      36048 non-null float64
2016-02-12      36048 non-null float64
2016-02-13      36048 non-null float64
2016-02-14      36048 non-null float64
2016-02-15      36048 non-null float64
2016-02-16      36048 non-null float64
2016-02-17      36048 non-null float64
2016-02-18      36048 non-null float64
2016-02-19      36048 non-null float64
2016-02-20      36048 non-null float64
2016-02-21      36048 non-null float64
2016-02-22      36048 non-null float64
2016-02-23      36048 non-null float64
2016-02-24      36048 non-null float64
2016-02-25      36048 non-null float64
2016-02-26      36048 non-null float64
2016-02-27      36048 non-null float64
2016-02-28      36048 non-null float64
2016-02-29      36048 non-null float64
2016-03-01      36048 non-null float64
2016-03-02      36048 non-null float64
2016-03-03      36048 non-null float64
2016-03-04      36048 non-null float64
2016-03-05      36048 non-null float64
2016-03-06      36048 non-null float64
2016-03-07      36048 non-null float64
2016-03-08      36048 non-null float64
2016-03-09      36048 non-null float64
2016-03-10      36048 non-null float64
2016-03-11      36048 non-null float64
2016-03-12      36048 non-null float64
2016-03-13      36048 non-null float64
2016-03-14      36048 non-null float64
2016-03-15      36048 non-null float64
2016-03-16      36048 non-null float64
2016-03-17      36048 non-null float64
2016-03-18      36048 non-null float64
2016-03-19      36048 non-null float64
2016-03-20      36048 non-null float64
2016-03-21      36048 non-null float64
2016-03-22      36048 non-null float64
2016-03-23      36048 non-null float64
2016-03-24      36048 non-null float64
2016-03-25      36048 non-null float64
2016-03-26      36048 non-null float64
2016-03-27      36048 non-null float64
2016-03-28      36048 non-null float64
2016-03-29      36048 non-null float64
2016-03-30      36048 non-null float64
2016-03-31      36048 non-null float64
2016-04-01      36048 non-null float64
2016-04-02      36048 non-null float64
2016-04-03      36048 non-null float64
2016-04-04      36048 non-null float64
2016-04-05      36048 non-null float64
2016-04-06      36048 non-null float64
2016-04-07      36048 non-null float64
2016-04-08      36048 non-null float64
2016-04-09      36048 non-null float64
2016-04-10      36048 non-null float64
2016-04-11      36048 non-null float64
2016-04-12      36048 non-null float64
2016-04-13      36048 non-null float64
2016-04-14      36048 non-null float64
2016-04-15      36048 non-null float64
last_7_sum      36048 non-null float64
all_days_sum    36048 non-null float64
dtypes: float64(78), int64(2), object(2)
memory usage: 22.9+ MB

In [8]:
load_user = user_dataset[(user_dataset.last_7_sum!=0)]
load_user['last_7_days_ratio'] = load_user['last_7_sum']/load_user['all_days_sum']
load_user

D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,user_id,age,sex,user_lv_cd,user_reg_tm,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,...,2016-04-09,2016-04-10,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,last_7_sum,all_days_sum,last_7_days_ratio
0,200001,56岁以上,2.0,5,2016-01-26,0.0,0.0,0.0,0.0,0.0,...,6.0,0.0,1.0,0.0,2.0,0.0,1.0,9.0,671.0,0.013413
2,200022,26-35岁,0.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,12.0,0.0,0.0,0.0,0.0,12.0,153.0,0.078431
3,200027,26-35岁,1.0,5,2013-04-10,0.0,0.0,0.0,24.0,3.0,...,52.0,0.0,0.0,0.0,0.0,0.0,0.0,52.0,666.0,0.078078
4,200033,36-45岁,2.0,5,2016-02-02,0.0,18.0,0.0,0.0,7.0,...,99.0,0.0,73.0,1.0,7.0,136.0,8.0,316.0,1009.0,0.313181
5,200037,26-35岁,2.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,17.0,63.0,0.0,0.0,4.0,80.0,329.0,0.243161
6,200038,26-35岁,0.0,5,2013-04-10,84.0,24.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,45.0,25.0,45.0,3062.0,0.014696
7,200045,26-35岁,2.0,5,2013-04-10,0.0,0.0,90.0,12.0,73.0,...,20.0,0.0,9.0,22.0,7.0,26.0,0.0,84.0,833.0,0.100840
8,200054,16-25岁,2.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,250.0,10.0,80.0,23.0,230.0,336.0,593.0,1902.0,0.311777
9,200059,26-35岁,2.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,14.0,7.0,0.0,17.0,6.0,0.0,33.0,44.0,484.0,0.090909
10,200068,56岁以上,0.0,5,2016-01-27,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,6.0,21.0,13.0,43.0,41.0,351.0,0.116809
11,200069,36-45岁,2.0,5,2016-01-27,0.0,0.0,0.0,0.0,0.0,...,30.0,177.0,0.0,6.0,5.0,0.0,17.0,218.0,549.0,0.397086
12,200071,36-45岁,0.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,21.0,0.0,8.0,0.0,29.0,250.0,0.116000
13,200072,36-45岁,0.0,5,2010-08-10,0.0,0.0,0.0,0.0,0.0,...,0.0,23.0,2.0,0.0,0.0,0.0,0.0,25.0,84.0,0.297619
14,200074,-1,2.0,5,2013-04-11,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,18.0,0.0,23.0,142.0,0.161972
15,200075,36-45岁,0.0,5,2013-04-11,0.0,0.0,6.0,0.0,0.0,...,108.0,104.0,0.0,237.0,18.0,7.0,15.0,474.0,1038.0,0.456647
16,200077,26-35岁,2.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,7.0,0.0,0.0,0.0,0.0,0.0,7.0,634.0,0.011041
17,200092,26-35岁,2.0,5,2016-01-27,57.0,83.0,60.0,17.0,23.0,...,4.0,4.0,0.0,0.0,0.0,0.0,0.0,8.0,1107.0,0.007227
18,200093,16-25岁,2.0,5,2016-01-27,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,45.0,0.0,1.0,0.0,55.0,324.0,0.169753
19,200097,-1,2.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,263.0,0.026616
20,200107,16-25岁,0.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,6.0,8.0,4.0,53.0,2.0,96.0,194.0,0.494845
21,200120,36-45岁,2.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,18.0,0.0,0.0,23.0,855.0,0.026901
22,200130,26-35岁,0.0,5,2016-01-27,5.0,0.0,0.0,0.0,7.0,...,1.0,0.0,0.0,0.0,5.0,17.0,1.0,23.0,1034.0,0.022244
26,200150,46-55岁,1.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,15.0,0.0,3.0,0.0,0.0,18.0,166.0,0.108434
28,200160,26-35岁,0.0,5,2010-08-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6.0,0.0,0.0,0.0,0.0,6.0,43.0,0.139535
29,200180,26-35岁,1.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,128.0,0.015625
30,200181,36-45岁,2.0,5,2013-04-11,5.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,45.0,0.066667
32,200213,16-25岁,2.0,5,2016-01-27,22.0,12.0,2.0,0.0,0.0,...,21.0,16.0,17.0,17.0,0.0,12.0,0.0,83.0,652.0,0.127301
34,200224,26-35岁,2.0,5,2013-04-11,24.0,96.0,0.0,38.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,10.0,514.0,0.019455
35,200226,-1,2.0,5,2016-01-27,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,1.0,0.0,0.0,10.0,70.0,0.142857
37,200235,26-35岁,0.0,5,2013-04-11,13.0,0.0,0.0,0.0,0.0,...,0.0,20.0,0.0,0.0,0.0,0.0,0.0,20.0,380.0,0.052632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36043,305003,-1,1.0,5,2016-01-23,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,27.0,0.185185
36044,305012,26-35岁,2.0,5,2016-01-23,0.0,11.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,13.0,0.0,18.0,304.0,0.059211
36046,305030,36-45岁,2.0,5,2013-04-09,0.0,0.0,0.0,0.0,8.0,...,0.0,0.0,6.0,0.0,0.0,0.0,0.0,6.0,365.0,0.016438
36047,305060,36-45岁,2.0,5,2013-04-09,33.0,5.0,0.0,0.0,0.0,...,556.0,34.0,992.0,31.0,175.0,11.0,3.0,1799.0,7162.0,0.251187
36048,305063,36-45岁,0.0,5,2010-08-09,0.0,0.0,0.0,0.0,0.0,...,5.0,8.0,21.0,0.0,0.0,0.0,0.0,34.0,538.0,0.063197
36052,305076,36-45岁,0.0,5,2010-08-09,0.0,0.0,0.0,0.0,0.0,...,50.0,0.0,0.0,5.0,49.0,25.0,2.0,129.0,267.0,0.483146
36053,305077,26-35岁,0.0,5,2013-04-09,0.0,0.0,0.0,0.0,0.0,...,44.0,150.0,9.0,0.0,7.0,0.0,0.0,210.0,1101.0,0.190736
36055,305088,36-45岁,2.0,5,2010-08-09,0.0,0.0,0.0,8.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,5.0,631.0,0.007924
36056,305090,26-35岁,0.0,5,2008-11-01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,12.0,0.0,0.0,0.0,0.0,12.0,98.0,0.122449
36057,305092,36-45岁,1.0,5,2013-04-09,0.0,0.0,0.0,0.0,0.0,...,5.0,56.0,6.0,0.0,0.0,26.0,0.0,93.0,528.0,0.176136
36058,305095,-1,2.0,5,2016-01-24,80.0,1.0,0.0,40.0,6.0,...,42.0,10.0,0.0,23.0,0.0,0.0,0.0,75.0,624.0,0.120192
36059,305096,36-45岁,2.0,5,2013-04-09,0.0,0.0,0.0,0.0,34.0,...,0.0,0.0,133.0,0.0,0.0,0.0,0.0,133.0,398.0,0.334171
36060,305103,26-35岁,0.0,5,2013-04-09,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.0,0.0,0.0,7.0,151.0,0.046358
36063,305120,36-45岁,2.0,5,2013-04-09,0.0,18.0,0.0,30.0,14.0,...,49.0,30.0,5.0,6.0,0.0,0.0,90.0,90.0,1228.0,0.073290
36064,305130,36-45岁,2.0,5,2016-01-24,0.0,0.0,0.0,0.0,0.0,...,30.0,0.0,0.0,0.0,88.0,28.0,0.0,146.0,1053.0,0.138651
36066,305144,36-45岁,0.0,5,2007-01-24,0.0,2.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,50.0,0.060000
36069,305164,46-55岁,0.0,5,2008-11-01,10.0,106.0,0.0,22.0,18.0,...,0.0,0.0,6.0,0.0,0.0,0.0,0.0,6.0,185.0,0.032432
36070,305170,36-45岁,2.0,5,2013-04-09,0.0,0.0,0.0,0.0,0.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,1473.0,0.004073
36071,305175,36-45岁,0.0,5,2008-11-01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,7.0,0.0,7.0,348.0,0.020115
36073,305189,26-35岁,2.0,5,2013-04-09,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,418.0,0.004785
36074,305210,26-35岁,0.0,5,2008-11-01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,5.0,174.0,0.028736
36075,305244,36-45岁,0.0,5,2013-04-10,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,40.0,0.025000
36076,305251,56岁以上,2.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,11.0,0.0,0.0,0.0,0.0,11.0,333.0,0.033033
36077,305258,26-35岁,2.0,5,2010-08-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,2.0,3.0,525.0,0.005714
36078,305264,26-35岁,0.0,5,2010-08-10,0.0,0.0,0.0,15.0,0.0,...,0.0,0.0,0.0,10.0,0.0,0.0,0.0,10.0,896.0,0.011161
36082,305282,26-35岁,0.0,5,2016-01-26,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36083,305286,36-45岁,0.0,5,2007-01-24,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,31.0,0.0,0.0,31.0,222.0,0.139640
36084,305296,26-35岁,2.0,5,2016-01-26,0.0,0.0,0.0,0.0,0.0,...,14.0,0.0,0.0,6.0,0.0,6.0,12.0,26.0,475.0,0.054737
36086,305312,26-35岁,0.0,5,2008-11-01,0.0,0.0,23.0,0.0,0.0,...,0.0,0.0,0.0,3.0,8.0,1.0,37.0,12.0,307.0,0.039088
36087,305314,26-35岁,1.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,7.0,0.0,0.0,0.0,43.0,7.0,312.0,0.022436

In [9]:
load_user.sort_values(by=['all_days_sum'],ascending=False).dropna(axis=0)

,user_id,age,sex,user_lv_cd,user_reg_tm,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,...,2016-04-09,2016-04-10,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,last_7_sum,all_days_sum,last_7_days_ratio
27582,271592,36-45岁,0.0,5,2015-03-20,44.0,403.0,31.0,145.0,256.0,...,758.0,451.0,151.0,60.0,350.0,897.0,257.0,2667.0,22861.0,0.116662
15266,237793,46-55岁,0.0,5,2011-10-16,12.0,0.0,83.0,21.0,755.0,...,11.0,57.0,26.0,0.0,0.0,41.0,47.0,135.0,22191.0,0.006084
34351,296877,36-45岁,0.0,5,2015-11-11,0.0,0.0,0.0,0.0,0.0,...,308.0,129.0,645.0,548.0,350.0,785.0,1151.0,2765.0,21813.0,0.126759
15692,238543,26-35岁,1.0,5,2011-10-28,348.0,0.0,420.0,895.0,368.0,...,113.0,3.0,454.0,287.0,191.0,468.0,334.0,1516.0,20472.0,0.074052
3244,212090,36-45岁,0.0,5,2013-07-18,148.0,86.0,6.0,32.0,10.0,...,761.0,292.0,321.0,128.0,151.0,1216.0,86.0,2869.0,19284.0,0.148776
26841,269325,26-35岁,0.0,5,2012-07-20,617.0,78.0,136.0,68.0,101.0,...,469.0,735.0,133.0,75.0,192.0,948.0,510.0,2552.0,16747.0,0.152386
29981,279524,26-35岁,0.0,5,2010-04-09,0.0,0.0,0.0,41.0,0.0,...,1157.0,131.0,4.0,172.0,85.0,39.0,79.0,1588.0,16438.0,0.096605
1143,207081,26-35岁,0.0,5,2013-05-25,1103.0,904.0,222.0,80.0,8.0,...,138.0,0.0,0.0,0.0,0.0,0.0,6.0,138.0,16286.0,0.008474
15510,238222,26-35岁,0.0,5,2011-10-23,0.0,5.0,0.0,0.0,0.0,...,227.0,2153.0,3166.0,467.0,0.0,83.0,0.0,6096.0,16224.0,0.375740
25517,265648,26-35岁,2.0,5,2012-06-13,0.0,0.0,0.0,0.0,0.0,...,276.0,150.0,404.0,191.0,294.0,411.0,14.0,1726.0,15880.0,0.108690
1495,208048,16-25岁,2.0,5,2013-06-04,0.0,0.0,25.0,0.0,0.0,...,247.0,1163.0,741.0,858.0,262.0,596.0,1909.0,3867.0,15797.0,0.244793
4864,215480,26-35岁,0.0,5,2010-11-27,0.0,0.0,0.0,0.0,0.0,...,1914.0,2545.0,1391.0,552.0,483.0,128.0,30.0,7013.0,14642.0,0.478965
20877,250141,36-45岁,2.0,5,2014-07-18,0.0,0.0,92.0,46.0,5.0,...,12.0,74.0,104.0,105.0,71.0,27.0,15.0,393.0,14144.0,0.027786
21889,253398,-1,2.0,5,2014-08-27,0.0,0.0,0.0,0.0,0.0,...,234.0,437.0,268.0,906.0,901.0,337.0,66.0,3083.0,14036.0,0.219649
30353,280668,36-45岁,2.0,5,2012-10-17,0.0,0.0,0.0,0.0,0.0,...,671.0,363.0,735.0,351.0,289.0,107.0,313.0,2516.0,13268.0,0.189629
3086,211730,26-35岁,0.0,5,2010-10-02,5.0,0.0,0.0,0.0,0.0,...,9.0,13.0,26.0,72.0,0.0,105.0,115.0,225.0,12889.0,0.017457
27846,272477,26-35岁,0.0,5,2015-03-26,0.0,6.0,0.0,0.0,0.0,...,70.0,73.0,53.0,52.0,0.0,137.0,7.0,385.0,12713.0,0.030284
26465,268149,26-35岁,0.0,5,2012-07-10,0.0,0.0,0.0,0.0,0.0,...,309.0,1021.0,2438.0,1819.0,30.0,82.0,48.0,5699.0,12665.0,0.449980
20473,248857,16-25岁,0.0,5,2014-06-24,0.0,0.0,0.0,75.0,161.0,...,0.0,57.0,420.0,289.0,563.0,1248.0,48.0,2577.0,12608.0,0.204394
23257,257532,26-35岁,0.0,5,2014-10-16,304.0,237.0,289.0,211.0,28.0,...,80.0,351.0,275.0,370.0,902.0,460.0,391.0,2438.0,12608.0,0.193369
19270,245237,56岁以上,0.0,5,2012-02-06,5.0,310.0,232.0,373.0,22.0,...,0.0,0.0,0.0,70.0,0.0,234.0,0.0,304.0,12488.0,0.024343
28126,273354,36-45岁,0.0,5,2010-03-18,2.0,0.0,0.0,0.0,0.0,...,55.0,235.0,96.0,101.0,146.0,5.0,372.0,638.0,12416.0,0.051385
32069,287142,26-35岁,0.0,5,2010-06-02,0.0,0.0,0.0,0.0,0.0,...,0.0,6.0,0.0,11.0,0.0,0.0,0.0,17.0,12384.0,0.001373
16862,240535,36-45岁,0.0,5,2011-11-29,15.0,0.0,0.0,0.0,0.0,...,250.0,26.0,54.0,211.0,8.0,63.0,36.0,612.0,12256.0,0.049935
30545,281131,36-45岁,2.0,5,2015-06-10,122.0,47.0,169.0,44.0,238.0,...,57.0,19.0,70.0,11.0,54.0,33.0,69.0,244.0,12027.0,0.020288
30766,281993,26-35岁,0.0,5,2010-04-29,0.0,0.0,0.0,0.0,2.0,...,789.0,484.0,103.0,448.0,54.0,156.0,69.0,2034.0,12017.0,0.169260
23380,257965,26-35岁,2.0,5,2009-11-14,0.0,0.0,0.0,258.0,23.0,...,1086.0,534.0,111.0,83.0,19.0,184.0,248.0,2017.0,11479.0,0.175712
4490,214718,26-35岁,0.0,5,2013-09-04,2.0,0.0,0.0,9.0,371.0,...,74.0,20.0,346.0,198.0,139.0,221.0,22.0,998.0,11472.0,0.086994
34715,298282,16-25岁,0.0,5,2013-02-26,0.0,0.0,0.0,0.0,0.0,...,54.0,61.0,0.0,843.0,2112.0,1366.0,458.0,4436.0,11471.0,0.386714
8492,223800,36-45岁,2.0,5,2014-01-06,0.0,0.0,0.0,7.0,0.0,...,902.0,500.0,107.0,24.0,28.0,233.0,72.0,1794.0,11375.0,0.157714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30239,280277,36-45岁,2.0,5,2012-10-13,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,12.0,0.166667
11630,230703,36-45岁,0.0,5,2011-07-01,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,12.0,0.166667
22070,253938,36-45岁,0.0,5,2014-09-05,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,12.0,0.083333
25675,266202,-1,2.0,5,2015-02-04,0.0,0.0,0.0,0.0,0.0,...,0.0,6.0,0.0,0.0,0.0,0.0,0.0,6.0,12.0,0.500000
30227,280237,36-45岁,0.0,5,2010-04-16,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6.0,0.0,0.0,0.0,0.0,6.0,12.0,0.500000
30295,280477,-1,2.0,5,2015-06-07,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.272727
15532,238261,26-35岁,0.0,5,2011-10-24,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,11.0,0.181818
23715,258912,56岁以上,2.0,5,2014-10-30,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,3.0,11.0,0.272727
9188,225275,46-55岁,0.0,5,2011-04-19,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,10.0,0.200000
869,205662,26-35岁,2.0,5,2013-05-13,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,10.0,0.300000
3825,213314,26-35岁,2.0,5,2013-08-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,3.0,0.0,0.0,0.0,5.0,10.0,0.500000
19607,246171,26-35岁,0.0,5,2012-02-13,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,5.0,10.0,0.500000
26424,268042,36-45岁,0.0,5,2012-07-08,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,10.0,0.200000
25544,265765,-1,2.0,5,2012-06-14,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,10.0,0.500000
6606,219079,-1,0.0,5,2011-01-22,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,10.0,0.500000
11452,230274,26-35岁,0.0,5,2011-06-27,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,10.0,0.500000
32404,288644,26-35岁,1.0,5,2010-06-08,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,9.0,0.222222
34549,297550,36-45岁,0.0,5,2010-07-12,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,9.0,0.333333
19726,246603,36-45岁,1.0,5,2014-06-06,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,8.0,0.500000
20224,248065,26-35岁,2.0,5,2014-06-16,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,0.375000
15322,237882,26-35岁,0.0,5,2011-10-18,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,8.0,0.500000
2654,210836,36-45岁,0.0,5,2010-09-22,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,8.0,0.375000
24257,261352,36-45岁,2.0,5,2014-11-28,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,7.0,0.142857
17858,242344,36-45岁,0.0,5,2011-12-31,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,6.0,0.166667
34976,299439,26-35岁,2.0,5,2013-03-05,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,4.0,1.0,6.0,0.166667
2843,211223,26-35岁,2.0,5,2013-07-01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,6.0,0.500000
21363,251755,26-35岁,0.0,5,2012-03-17,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,4.0,0.500000
957,206256,36-45岁,0.0,5,2010-08-31,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,3.0,0.333333
23356,257885,46-55岁,0.0,5,2012-05-13,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.500000
6314,218434,36-45岁,0.0,5,2011-01-15,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.500000

In [13]:
user_id_5 = load_user[['user_id','last_7_days_ratio']].dropna(axis=0)
with open('./cache/Action_2016-02-01_2016-04-16_with_cate-time-type-user_id','rb') as f:
    all_data =pickle.load(f)
all_data = all_data[all_data.cate ==8][['user_id','type','time']]
user_id_5 = pd.merge(user_id_5,all_data,how='left',on='user_id')[['user_id','last_7_days_ratio','type','time']]
user_id_5

         user_id  last_7_days_ratio  type                 time
0         200001           0.013413   NaN                  NaN
1         200022           0.078431   6.0  2016-02-22 18:55:16
2         200022           0.078431   1.0  2016-02-22 18:55:16
3         200022           0.078431   6.0  2016-02-22 18:55:16
4         200022           0.078431   6.0  2016-02-22 18:55:26
5         200022           0.078431   6.0  2016-02-22 18:55:50
6         200022           0.078431   6.0  2016-02-22 18:56:19
7         200022           0.078431   1.0  2016-03-02 22:17:11
8         200022           0.078431   6.0  2016-03-02 22:17:12
9         200022           0.078431   1.0  2016-03-02 22:17:19
10        200022           0.078431   6.0  2016-03-02 22:17:20
11        200022           0.078431   6.0  2016-03-02 22:17:35
12        200022           0.078431   6.0  2016-03-02 22:27:13
13        200022           0.078431   1.0  2016-03-02 22:27:29
14        200022           0.078431   6.0  2016-03-02 22:27:30
15        200022           0.078431   6.0  2016-03-10 11:47:53
16        200022           0.078431   1.0  2016-03-10 11:47:53
17        200022           0.078431   1.0  2016-03-10 11:47:53
18        200022           0.078431   6.0  2016-03-10 11:47:53
19        200022           0.078431   6.0  2016-03-10 11:47:53
20        200022           0.078431   1.0  2016-03-10 11:48:23
21        200022           0.078431   1.0  2016-03-10 11:48:23
22        200022           0.078431   1.0  2016-03-10 11:48:23
23        200022           0.078431   1.0  2016-03-10 11:48:23
24        200022           0.078431   6.0  2016-03-10 11:48:23
25        200022           0.078431   6.0  2016-03-10 11:49:24
26        200022           0.078431   1.0  2016-03-10 12:04:24
27        200022           0.078431   1.0  2016-03-10 12:04:24
28        200022           0.078431   1.0  2016-03-10 17:36:40
29        200022           0.078431   6.0  2016-03-10 17:36:41
...          ...                ...   ...                  ...
1506302   305312           0.039088   6.0  2016-02-03 00:32:08
1506303   305312           0.039088   1.0  2016-03-10 08:29:39
1506304   305312           0.039088   6.0  2016-03-10 08:29:39
1506305   305312           0.039088   1.0  2016-03-10 08:29:39
1506306   305312           0.039088   6.0  2016-03-10 08:29:39
1506307   305312           0.039088   6.0  2016-03-10 08:29:39
1506308   305312           0.039088   5.0  2016-03-10 08:30:04
1506309   305312           0.039088   6.0  2016-03-10 08:30:04
1506310   305312           0.039088   6.0  2016-03-10 08:30:04
1506311   305312           0.039088   1.0  2016-03-10 08:30:04
1506312   305312           0.039088   1.0  2016-03-10 08:30:04
1506313   305312           0.039088   6.0  2016-03-10 08:30:04
1506314   305312           0.039088   6.0  2016-03-10 08:30:44
1506315   305312           0.039088   6.0  2016-03-10 08:30:44
1506316   305312           0.039088   6.0  2016-03-10 08:30:44
1506317   305312           0.039088   1.0  2016-03-10 08:30:44
1506318   305312           0.039088   1.0  2016-03-10 08:30:44
1506319   305312           0.039088   6.0  2016-03-10 08:30:44
1506320   305312           0.039088   6.0  2016-03-10 08:31:44
1506321   305312           0.039088   1.0  2016-03-10 08:32:17
1506322   305312           0.039088   6.0  2016-03-10 08:32:17
1506323   305312           0.039088   1.0  2016-03-10 08:32:17
1506324   305312           0.039088   6.0  2016-03-10 08:32:17
1506325   305312           0.039088   6.0  2016-03-10 08:32:17
1506326   305312           0.039088   6.0  2016-03-10 08:32:17
1506327   305312           0.039088   5.0  2016-03-10 08:32:18
1506328   305312           0.039088   6.0  2016-03-10 08:33:25
1506329   305312           0.039088   1.0  2016-03-10 08:33:25
1506330   305312           0.039088   1.0  2016-03-10 08:33:25
1506331   305314           0.022436   NaN                  NaN

[1506332 rows x 4 columns]

In [14]:
user_id_5.dropna(axis=0)

         user_id  last_7_days_ratio  type                 time
1         200022           0.078431   6.0  2016-02-22 18:55:16
2         200022           0.078431   1.0  2016-02-22 18:55:16
3         200022           0.078431   6.0  2016-02-22 18:55:16
4         200022           0.078431   6.0  2016-02-22 18:55:26
5         200022           0.078431   6.0  2016-02-22 18:55:50
6         200022           0.078431   6.0  2016-02-22 18:56:19
7         200022           0.078431   1.0  2016-03-02 22:17:11
8         200022           0.078431   6.0  2016-03-02 22:17:12
9         200022           0.078431   1.0  2016-03-02 22:17:19
10        200022           0.078431   6.0  2016-03-02 22:17:20
11        200022           0.078431   6.0  2016-03-02 22:17:35
12        200022           0.078431   6.0  2016-03-02 22:27:13
13        200022           0.078431   1.0  2016-03-02 22:27:29
14        200022           0.078431   6.0  2016-03-02 22:27:30
15        200022           0.078431   6.0  2016-03-10 11:47:53
16        200022           0.078431   1.0  2016-03-10 11:47:53
17        200022           0.078431   1.0  2016-03-10 11:47:53
18        200022           0.078431   6.0  2016-03-10 11:47:53
19        200022           0.078431   6.0  2016-03-10 11:47:53
20        200022           0.078431   1.0  2016-03-10 11:48:23
21        200022           0.078431   1.0  2016-03-10 11:48:23
22        200022           0.078431   1.0  2016-03-10 11:48:23
23        200022           0.078431   1.0  2016-03-10 11:48:23
24        200022           0.078431   6.0  2016-03-10 11:48:23
25        200022           0.078431   6.0  2016-03-10 11:49:24
26        200022           0.078431   1.0  2016-03-10 12:04:24
27        200022           0.078431   1.0  2016-03-10 12:04:24
28        200022           0.078431   1.0  2016-03-10 17:36:40
29        200022           0.078431   6.0  2016-03-10 17:36:41
30        200022           0.078431   6.0  2016-03-10 17:42:01
...          ...                ...   ...                  ...
1506301   305312           0.039088   6.0  2016-02-03 00:32:08
1506302   305312           0.039088   6.0  2016-02-03 00:32:08
1506303   305312           0.039088   1.0  2016-03-10 08:29:39
1506304   305312           0.039088   6.0  2016-03-10 08:29:39
1506305   305312           0.039088   1.0  2016-03-10 08:29:39
1506306   305312           0.039088   6.0  2016-03-10 08:29:39
1506307   305312           0.039088   6.0  2016-03-10 08:29:39
1506308   305312           0.039088   5.0  2016-03-10 08:30:04
1506309   305312           0.039088   6.0  2016-03-10 08:30:04
1506310   305312           0.039088   6.0  2016-03-10 08:30:04
1506311   305312           0.039088   1.0  2016-03-10 08:30:04
1506312   305312           0.039088   1.0  2016-03-10 08:30:04
1506313   305312           0.039088   6.0  2016-03-10 08:30:04
1506314   305312           0.039088   6.0  2016-03-10 08:30:44
1506315   305312           0.039088   6.0  2016-03-10 08:30:44
1506316   305312           0.039088   6.0  2016-03-10 08:30:44
1506317   305312           0.039088   1.0  2016-03-10 08:30:44
1506318   305312           0.039088   1.0  2016-03-10 08:30:44
1506319   305312           0.039088   6.0  2016-03-10 08:30:44
1506320   305312           0.039088   6.0  2016-03-10 08:31:44
1506321   305312           0.039088   1.0  2016-03-10 08:32:17
1506322   305312           0.039088   6.0  2016-03-10 08:32:17
1506323   305312           0.039088   1.0  2016-03-10 08:32:17
1506324   305312           0.039088   6.0  2016-03-10 08:32:17
1506325   305312           0.039088   6.0  2016-03-10 08:32:17
1506326   305312           0.039088   6.0  2016-03-10 08:32:17
1506327   305312           0.039088   5.0  2016-03-10 08:32:18
1506328   305312           0.039088   6.0  2016-03-10 08:33:25
1506329   305312           0.039088   1.0  2016-03-10 08:33:25
1506330   305312           0.039088   1.0  2016-03-10 08:33:25

[1499951 rows x 4 columns]

In [15]:
user_id_5[user_id_5.type==4.0]

         user_id  last_7_days_ratio  type                 time
1040      200074           0.161972   4.0  2016-03-04 14:49:00
3177      200299           0.004768   4.0  2016-03-01 15:31:00
6418      200683           0.074627   4.0  2016-03-03 18:57:00
6943      200833           0.036810   4.0  2016-02-01 20:05:00
6944      200833           0.036810   4.0  2016-02-01 20:05:00
8603      201048           0.023790   4.0  2016-03-07 12:56:00
11584     201444           0.044510   4.0  2016-02-21 20:22:00
11716     201457           0.057665   4.0  2016-03-09 20:32:00
16891     202633           0.006369   4.0  2016-02-06 18:46:00
20247     203144           0.335861   4.0  2016-02-22 14:57:00
20632     203295           0.050903   4.0  2016-02-14 15:17:00
21252     203438           0.009662   4.0  2016-03-01 12:06:00
21881     203465           0.159582   4.0  2016-03-07 00:01:00
22650     203636           0.030087   4.0  2016-03-01 16:02:00
24012     203788           0.006868   4.0  2016-03-10 15:44:00
27873     204330           0.014925   4.0  2016-03-02 14:20:00
30604     204986           0.035455   4.0  2016-03-10 23:16:00
30605     204986           0.035455   4.0  2016-03-10 23:16:00
30606     204986           0.035455   4.0  2016-03-10 23:16:00
30607     204986           0.035455   4.0  2016-03-10 23:16:00
31513     205214           0.025881   4.0  2016-02-25 22:23:00
31618     205248           0.007634   4.0  2016-02-15 09:22:00
33046     205580           0.085106   4.0  2016-02-19 12:09:00
36785     206265           0.018970   4.0  2016-03-08 00:09:00
37932     206353           0.018462   4.0  2016-02-18 10:56:00
38330     206492           0.123570   4.0  2016-03-10 10:52:00
41207     206731           0.054754   4.0  2016-03-12 13:11:00
41441     206751           0.039474   4.0  2016-03-03 15:16:00
41507     206766           0.077170   4.0  2016-02-03 14:03:00
42301     206864           0.007422   4.0  2016-03-03 13:27:00
...          ...                ...   ...                  ...
1466470   299662           0.157480   4.0  2016-03-09 22:42:00
1468303   300044           0.012308   4.0  2016-03-07 15:57:00
1468787   300092           0.021538   4.0  2016-03-07 00:01:00
1470527   300404           0.015152   4.0  2016-02-28 17:29:00
1471368   300471           0.027415   4.0  2016-02-19 21:04:00
1471544   300473           0.153218   4.0  2016-03-01 12:02:00
1471545   300473           0.153218   4.0  2016-03-01 12:02:00
1471554   300473           0.153218   4.0  2016-03-01 12:03:00
1471555   300473           0.153218   4.0  2016-03-01 12:03:00
1473823   300779           0.053211   4.0  2016-02-22 22:18:00
1474121   300800           0.275591   4.0  2016-02-22 21:05:00
1480287   301273           0.008143   4.0  2016-02-02 13:09:00
1481371   301383           0.006106   4.0  2016-03-03 07:30:00
1485945   302025           0.001488   4.0  2016-02-22 10:45:00
1486059   302036           0.407035   4.0  2016-03-07 09:48:00
1487267   302224           0.019608   4.0  2016-03-09 13:42:00
1488488   302274           0.023061   4.0  2016-03-08 10:25:00
1488512   302274           0.023061   4.0  2016-03-08 10:53:00
1488563   302274           0.023061   4.0  2016-03-08 18:35:00
1489766   302413           0.000892   4.0  2016-03-01 11:37:00
1492671   302904           0.045849   4.0  2016-03-01 10:57:00
1492993   302956           0.253968   4.0  2016-02-04 13:49:00
1493163   302992           0.185972   4.0  2016-03-07 19:24:00
1494341   303258           0.058419   4.0  2016-02-19 14:51:00
1496410   303345           0.037975   4.0  2016-03-12 07:17:00
1500589   304285           0.040892   4.0  2016-03-02 07:48:00
1502707   304836           0.067708   4.0  2016-03-04 17:51:00
1503815   304979           0.150000   4.0  2016-03-08 14:55:00
1504288   305030           0.016438   4.0  2016-02-24 09:26:00
1506258   305258           0.005714   4.0  2016-03-05 23:22:00

[793 rows x 4 columns]

In [63]:
c = pd.read_csv('pre_5_07_2.csv')
# a = pd.read_csv('a2.csv')
a = pd.read_csv('./新建文件夹/a1.csv')
m =pd.merge(c,a,how='left',on='user_id')
l = m.loc[m.sku_id_y>0]

In [64]:
l = l[['user_id','sku_id_x']]
l.columns = ['user_id','sku_id']
l.to_csv('a3副本.csv',index=False)

In [66]:
l = pd.concat([l,ll],axis=0)['user_id']
l =pd.DataFrame(l).astype(int)
l = l.drop_duplicates()
l['sku_id'] = [x for x in range(len(l))]
l.to_csv('副本a3.csv',index=False)

In [67]:
len(l)

202

In [11]:
with open('./cache/Action_2016-02-01_2016-04-16_with_cate-type-user_id','rb') as f:
    m = pickle.load(f)
len(m['user_id'].drop_duplicates())

59790

In [13]:
#查看用户等级高的用户的行为数据
def user_level_high():
    dump_path = './cache/Action_high_user_level_1'
    if os.path.exists(dump_path):
        with open(dump_path,'rb') as f:
            df = pickle.load(f)
    else:
        df = pd.read_csv(USER_FILE,encoding='gbk')
        df = df[df.user_lv_cd==5]
        with open('./cache/Action_2016-02-01_2016-04-16_2','rb') as f:
            browse_info = pickle.load(f)
        df = pd.merge(df,browse_info,how='left',on='user_id')
        with open(dump_path,'wb') as f:
            pickle.dump(df,f)
    return df

In [14]:
load_user_1 = user_level_high()
load_user_1 = load_user_1[load_user_1.load_days>0]
load_user_1

,user_id,age,sex,user_lv_cd,user_reg_tm,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,...,2016-04-07,2016-04-08,2016-04-09,2016-04-10,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,load_days
0,200001,56岁以上,2.0,5,2016-01-26,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,22.0
1,200011,-1,0.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,200022,26-35岁,0.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,12.0
3,200027,26-35岁,1.0,5,2013-04-10,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
4,200033,36-45岁,2.0,5,2016-02-02,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,16.0
5,200037,26-35岁,2.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,11.0
6,200038,26-35岁,0.0,5,2013-04-10,1.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,35.0
7,200045,26-35岁,2.0,5,2013-04-10,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,37.0
8,200054,16-25岁,2.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,15.0
9,200059,26-35岁,2.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,22.0
10,200068,56岁以上,0.0,5,2016-01-27,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,19.0
11,200069,36-45岁,2.0,5,2016-01-27,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,12.0
12,200071,36-45岁,0.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,13.0
13,200072,36-45岁,0.0,5,2010-08-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,8.0
14,200074,-1,2.0,5,2013-04-11,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,8.0
15,200075,36-45岁,0.0,5,2013-04-11,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,15.0
16,200077,26-35岁,2.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,9.0
17,200092,26-35岁,2.0,5,2016-01-27,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,41.0
18,200093,16-25岁,2.0,5,2016-01-27,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,16.0
19,200097,-1,2.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0
20,200107,16-25岁,0.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,6.0
21,200120,36-45岁,2.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,25.0
22,200130,26-35岁,0.0,5,2016-01-27,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,44.0
23,200132,26-35岁,2.0,5,2013-04-11,1.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
24,200143,46-55岁,0.0,5,2010-08-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
25,200147,26-35岁,2.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
26,200150,46-55岁,1.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,24.0
27,200156,26-35岁,2.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
28,200160,26-35岁,0.0,5,2010-08-10,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0
29,200180,26-35岁,1.0,5,2013-04-11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36057,305092,36-45岁,1.0,5,2013-04-09,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,20.0
36058,305095,-1,2.0,5,2016-01-24,1.0,1.0,0.0,1.0,1.0,...,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,23.0
36059,305096,36-45岁,2.0,5,2013-04-09,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,5.0
36060,305103,26-35岁,0.0,5,2013-04-09,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,15.0
36061,305105,26-35岁,2.0,5,2016-01-24,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
36062,305110,26-35岁,2.0,5,2013-04-09,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
36063,305120,36-45岁,2.0,5,2013-04-09,0.0,1.0,0.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,28.0
36064,305130,36-45岁,2.0,5,2016-01-24,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,33.0
36065,305138,26-35岁,0.0,5,2013-04-09,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
36066,305144,36-45岁,0.0,5,2007-01-24,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
36067,305145,26-35岁,0.0,5,2013-04-09,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
36068,305157,26-35岁,0.0,5,2013-04-09,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,14.0
36069,305164,46-55岁,0.0,5,2008-11-01,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,8.0
36070,305170,36-45岁,2.0,5,2013-04-09,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0
36071,305175,36-45岁,0.0,5,2008-11-01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5.0
36072,305180,36-45岁,0.0,5,2016-01-25,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0
36073,305189,26-35岁,2.0,5,2013-04-09,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,14.0
36074,305210,26-35岁,0.0,5,2008-11-01,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5.0
36075,305244,36-45岁,0.0,5,2013-04-10,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.0
36076,305251,56岁以上,2.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,11.0
36077,305258,26-35岁,2.0,5,2010-08-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,19.0
36078,305264,26-35岁,0.0,5,2010-08-10,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,26.0
36079,305267,36-45岁,0.0,5,2013-04-10,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0
36080,305272,16-25岁,0.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
36081,305279,26-35岁,0.0,5,2008-11-01,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
36083,305286,36-45岁,0.0,5,2007-01-24,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,6.0
36084,305296,26-35岁,2.0,5,2016-01-26,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,30.0
36085,305301,56岁以上,2.0,5,2016-01-26,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,20.0
36086,305312,26-35岁,0.0,5,2008-11-01,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,19.0
36087,305314,26-35岁,1.0,5,2013-04-10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,9.0

In [29]:
b = last_day_load_and_outnumber_two_days()
b.to_csv('a.csv',index=False)

In [36]:
not_buy_user()

     user_id
0     200094
1     200210
2     200288
3     200690
5     200958
7     201568
9     201931
10    203534
11    204014
12    204253
13    204359
14    204399
16    204642
17    204693
18    204978
19    205066
20    205230
21    205615
22    205719
23    205792
25    206631
26    206704
29    206980
30    206995
31    207174
32    207197
33    207210
34    207215
35    207234
36    207307
..       ...
425   301701
426   301735
427   301809
428   301812
429   301882
430   302034
432   302166
433   302183
434   302484
435   302767
436   302853
437   303061
438   303343
439   303559
440   303774
441   303799
442   303838
443   303874
444   303922
445   304223
446   304248
447   304478
449   304561
451   304629
452   304833
453   304895
454   305084
455   305131
456   305197
457   305287

[381 rows x 1 columns]

In [2]:
# #数据扩充
# def add_data():
#     dump_path = './cache/Action_2016-02-01_2016-04-16_2'
#     with open(dump_path,'rb') as f:
#         df = pickle.load(f)
#     #最后5天登陆过，并且两个月登陆次数很高或者最后5天登陆过，并且加入购物车的用户
#     df1 = df[['2016-04-11','2016-04-12','2016-04-13','2016-04-14','2016-04-15']]
#     df['last_five_day_load'] = df1.sum(axis=0)
#     last_five_days = df[(df.last_five_day_load>=2)&(df.load_days>10)]['user_id']
#     last_five_days = pd.DataFrame(last_five_days)
#     #最后5天登陆了并购买了的用户
#     path = './cache/Action_2016-02-01_2016-04-16_with_sku_id-time-type-user_id'
#     with open(path,'rb') as f:
#         df2 = pickle.load(f)
#     last_five_date = df2[df2.time>='2016-04-11']
#     last_five_date = last_five_date[last_five_date.type==4][['user_id','sku_id']]
#     trust_buy = pd.merge(last_five_days,last_five_date,on='user_id',how='left')
#     trust_buy = trust_buy.fillna(value=0)
#     user_id = trust_buy[trust_buy.sku_id==0]['user_id']
#     user_id = pd.DataFrame(user_id) 
#     with open('./cache/after_some_day_buy','wb') as f:
#         pickle(user_id,f)
#     return user_id

#符合要求的太多

In [ ]:
add_data()

In [6]:
m = pd.read_csv('./新建文件夹/a1.csv')
m

     user_id  sku_id
0     200094       0
1     200210       1
2     200288       2
3     200690       3
4     200958       4
5     201568       5
6     201931       6
7     203534       7
8     204014       8
9     204253       9
10    204359      10
11    204399      11
12    204642      12
13    204693      13
14    204978      14
15    205066      15
16    205230      16
17    205615      17
18    205719      18
19    205792      19
20    206631      20
21    206704      21
22    206980      22
23    206995      23
24    207174      24
25    207197      25
26    207210      26
27    207215      27
28    207234      28
29    207307      29
..       ...     ...
351   301701     351
352   301735     352
353   301809     353
354   301812     354
355   301882     355
356   302034     356
357   302166     357
358   302183     358
359   302484     359
360   302767     360
361   302853     361
362   303061     362
363   303343     363
364   303559     364
365   303774     365
366   303799     366
367   303838     367
368   303874     368
369   303922     369
370   304223     370
371   304248     371
372   304478     372
373   304561     373
374   304629     374
375   304833     375
376   304895     376
377   305084     377
378   305131     378
379   305197     379
380   305287     380

[381 rows x 2 columns]

In [8]:
pp = pd.read_csv('./datafile/JData_Product.csv')
pp

       sku_id  a1  a2  a3  cate  brand
0          10   3   1   1     8    489
1      100002   3   2   2     8    489
2      100003   1  -1  -1     8     30
3      100006   1   2   1     8    545
4       10001  -1   1   2     8    244
5      100016   3  -1   2     8    214
6      100029   3   2   2     8    214
7       10003   3   1   2     8    214
8      100045   2   2   2     8    124
9      100057   3   1   2     8    306
10     100069   1   2  -1     8    403
11     100076   3   2   1     8    214
12     100097   1   1   2     8    545
13      10011   3   1   1     8    214
14     100112   3   1   2     8    489
15     100117  -1   1   2     8    174
16     100119   2   1   2     8    812
17     100129   3   1   2     8    214
18     100134   3   1   2     8    214
19     100137   1  -1   1     8    403
20     100141   3   1   2     8    214
21      10015   2   1   1     8    124
22     100150   3  -1  -1     8    214
23     100152   3   1  -1     8    306
24     100154   3   1   1     8    489
25     100155   3   2   2     8    214
26     100172   3   1   1     8    214
27     100174   2   2   1     8    812
28     100177   3   2   1     8    489
29     100183   3  -1   2     8    489
...       ...  ..  ..  ..   ...    ...
24157   99794   3   1   2     8    489
24158   99795   3   1  -1     8    214
24159   99802   3   2   1     8    214
24160    9981   3   1  -1     8    214
24161   99837  -1   1   2     8    766
24162   99844   3   1   1     8    489
24163   99853   3   2   2     8    489
24164   99859   3   2   2     8    489
24165   99862   2   2   2     8    812
24166   99868   3   1   1     8    214
24167   99869   3   1   2     8    214
24168    9987   2   1  -1     8    623
24169   99875   1   1  -1     8    545
24170   99887   3   1   2     8    489
24171   99890  -1   2   1     8    484
24172   99909   3   2   2     8    214
24173    9991   1   1   2     8     30
24174   99913   3   2   2     8    306
24175   99919   3   1   2     8    214
24176   99921   3   1   2     8    214
24177   99926   2   2   2     8    812
24178   99929   1  -1   1     8    800
24179   99941   2   1   2     8    623
24180   99955   3   2   2     8    214
24181   99962   3   1  -1     8    306
24182   99964   3   1   1     8    214
24183   99972   3   1   1     8    214
24184   99979  -1  -1   1     8    484
24185   99980   3  -1   2     8    214
24186   99999   3   2   1     8    214

[24187 rows x 6 columns]

In [65]:
with open('./cache/Action_2016-02-01_2016-04-16_with_sku_id-time-type-user_id','rb') as f:
    cc = pickle.load(f)
cc = cc[['user_id','type']]
cc = pd.DataFrame(cc).astype(int)
cc = pd.merge(m,cc,on='user_id',how='left')[['user_id','type']].drop_duplicates()
cc = cc.dropna(axis=0)
cc = cc[cc.type==3]
cc.reset_index(inplace=True)

In [60]:
cc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 716 entries, 0 to 715
Data columns (total 3 columns):
user_id    716 non-null int64
sku_id     716 non-null int64
type       354 non-null float64
dtypes: float64(1), int64(2)
memory usage: 22.4 KB

In [42]:
mm.last_two_days.describe()

count    381.000000
mean      46.713911
std       88.242367
min        1.000000
25%        7.000000
50%       20.000000
75%       51.000000
max      995.000000
Name: last_two_days, dtype: float64

In [21]:
nn = mm[(mm.last_two_days<446)&(mm.last_two_days>=4)]
nn

     user_id  2016-04-14  2016-04-15  last_two_days
0     200094           0           6              6
1     200210           0          25             25
2     200288           0         140            140
3     200690           0           5              5
4     200958           0          28             28
6     201931           0          20             20
7     203534           0         127            127
9     204253          15          54             69
10    204359           0           4              4
11    204399           0           6              6
12    204642           0           8              8
13    204693           0          23             23
14    204978          28          36             64
15    205066           0          19             19
16    205230           0          15             15
17    205615           0          10             10
18    205719           4          26             30
19    205792           0          51             51
20    206631           0          15             15
21    206704           0          30             30
22    206980          22           6             28
23    206995           0          35             35
25    207197           0           6              6
26    207210           2           3              5
27    207215           0           5              5
28    207234           0          24             24
30    207377           0          24             24
31    207401          61          56            117
32    207404           0          30             30
33    207437          11          10             21
..       ...         ...         ...            ...
350   301262           0          80             80
351   301701           0          12             12
352   301735          34          17             51
353   301809           0          83             83
354   301812          68          65            133
355   301882           0           5              5
356   302034           0         139            139
357   302166           0          36             36
358   302183          17          27             44
359   302484           0           6              6
360   302767           0          11             11
361   302853           0           6              6
362   303061           0         117            117
363   303343           0          10             10
364   303559           0          72             72
365   303774          32           1             33
366   303799           0          10             10
367   303838           0          13             13
368   303874           0          15             15
369   303922           0          23             23
370   304223           0           7              7
371   304248           0           4              4
372   304478           0          44             44
373   304561           0          17             17
374   304629           0          37             37
375   304833          31           2             33
376   304895           0          43             43
377   305084           0           7              7
378   305131           6          20             26
380   305287         247         102            349

[349 rows x 4 columns]

In [22]:
nn = nn['user_id']
nn = pd.DataFrame(nn)
nn['sku_id'] = [x for x in range(len(nn))]
nn.to_csv('a2.csv',index=False)

In [19]:
len(mm[mm.last_two_days<=4])

37

In [10]:
mm.sort_values('last_two_days',ascending=False)

     user_id  2016-04-14  2016-04-15  last_two_days
38    207458           0         995            995
46    207511           0         777            777
329   294735           0         446            446
332   295066          71         323            394
93    220271           0         393            393
266   276780           0         352            352
380   305287         247         102            349
58    208003           0         335            335
303   286634           0         293            293
35    207450         157         136            293
165   248314           0         266            266
293   284629          53         208            261
133   233485           0         246            246
232   266767          96         109            205
44    207494           0         191            191
200   258474         108          69            177
237   268485           0         174            174
211   260717           0         167            167
105   225297          12         145            157
34    207440          77          80            157
66    209686           0         152            152
275   279436           0         152            152
326   294142           0         148            148
260   275910         135           6            141
2     200288           0         140            140
356   302034           0         139            139
79    213533           0         138            138
63    209077           0         133            133
354   301812          68          65            133
57    207982           0         132            132
..       ...         ...         ...            ...
159   246026           0           4              4
340   297361           0           3              3
348   299144           0           3              3
240   269488           0           3              3
201   258718           0           3              3
296   285408           0           3              3
344   297836           0           3              3
117   228188           0           3              3
5     201568           0           3              3
280   280674           0           3              3
48    207519           0           3              3
241   270040           0           3              3
181   251858           0           3              3
379   305197           0           2              2
203   259380           0           2              2
43    207493           0           2              2
24    207174           0           2              2
279   280566           0           2              2
29    207307           0           2              2
8     204014           0           2              2
101   223863           0           2              2
230   266069           0           2              2
236   267625           0           2              2
335   295982           0           2              2
111   225855           0           2              2
276   279716           1           1              2
253   274289           0           1              1
318   290758           0           1              1
307   287656           0           1              1
39    207464           0           1              1

[381 rows x 4 columns]

In [9]:
mm=pd.merge(m,df,on='user_id',how='left')[['user_id','2016-04-14','2016-04-15']]
mm['last_two_days'] = mm.sum(axis=1) -mm.user_id
mm

     user_id  2016-04-14  2016-04-15  last_two_days
0     200094           0           6              6
1     200210           0          25             25
2     200288           0         140            140
3     200690           0           5              5
4     200958           0          28             28
5     201568           0           3              3
6     201931           0          20             20
7     203534           0         127            127
8     204014           0           2              2
9     204253          15          54             69
10    204359           0           4              4
11    204399           0           6              6
12    204642           0           8              8
13    204693           0          23             23
14    204978          28          36             64
15    205066           0          19             19
16    205230           0          15             15
17    205615           0          10             10
18    205719           4          26             30
19    205792           0          51             51
20    206631           0          15             15
21    206704           0          30             30
22    206980          22           6             28
23    206995           0          35             35
24    207174           0           2              2
25    207197           0           6              6
26    207210           2           3              5
27    207215           0           5              5
28    207234           0          24             24
29    207307           0           2              2
..       ...         ...         ...            ...
351   301701           0          12             12
352   301735          34          17             51
353   301809           0          83             83
354   301812          68          65            133
355   301882           0           5              5
356   302034           0         139            139
357   302166           0          36             36
358   302183          17          27             44
359   302484           0           6              6
360   302767           0          11             11
361   302853           0           6              6
362   303061           0         117            117
363   303343           0          10             10
364   303559           0          72             72
365   303774          32           1             33
366   303799           0          10             10
367   303838           0          13             13
368   303874           0          15             15
369   303922           0          23             23
370   304223           0           7              7
371   304248           0           4              4
372   304478           0          44             44
373   304561           0          17             17
374   304629           0          37             37
375   304833          31           2             33
376   304895           0          43             43
377   305084           0           7              7
378   305131           6          20             26
379   305197           0           2              2
380   305287         247         102            349

[381 rows x 4 columns]

In [51]:
last_two_days = df
#last_two_days.columns = [x for x in range(77)]
#last_two_days = last_two_days.rename({0:'user_id',76:'load_days'},inplace=True)
last_two_days = last_two_days[(last_two_days.load_days<=2)&(last_two_days.loc[:,'2016-04-15']==1)]
last_two_days

,user_id,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,2016-02-06,2016-02-07,2016-02-08,2016-02-09,...,2016-04-07,2016-04-08,2016-04-09,2016-04-10,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,load_days
93,200094.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
209,200210.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
287,200288.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
689,200690.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
807,200808.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
957,200958.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
1175,201176.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1567,201568.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1671,201672.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
1929,201931.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
3528,203534.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4008,204014.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
4247,204253.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
4353,204359.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
4393,204399.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,2
4588,204595.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,2
4634,204642.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4685,204693.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,2
4970,204978.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
5058,205066.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
5221,205230.0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,2
5605,205615.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,2
5709,205719.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
5782,205792.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
6448,206459.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
6620,206631.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,2
6693,206704.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
6854,206865.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
6876,206887.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
6968,206980.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101676,301812.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
101746,301882.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
101898,302034.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
101986,302122.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
102030,302166.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
102047,302183.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
102348,302484.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
102631,302767.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
102717,302853.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
102925,303061.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
103206,303343.0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,2
103422,303559.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
103637,303774.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
103662,303799.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
103701,303838.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,2
103737,303874.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
103785,303922.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
104086,304223.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
104111,304248.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
104340,304478.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
104393,304531.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
104423,304561.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,2
104464,304602.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
104491,304629.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
104693,304833.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
104755,304895.0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,2
104943,305084.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,2
104990,305131.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
105056,305197.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
105145,305287.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2

In [85]:
buy_user_id = last_two_days['user_id']
buy_user_id = pd.DataFrame(buy_user_id)
buy_user_id

         user_id
93      200094.0
209     200210.0
287     200288.0
689     200690.0
807     200808.0
957     200958.0
1175    201176.0
1567    201568.0
1671    201672.0
1929    201931.0
3528    203534.0
4008    204014.0
4247    204253.0
4353    204359.0
4393    204399.0
4588    204595.0
4634    204642.0
4685    204693.0
4970    204978.0
5058    205066.0
5221    205230.0
5605    205615.0
5709    205719.0
5782    205792.0
6448    206459.0
6620    206631.0
6693    206704.0
6854    206865.0
6876    206887.0
6968    206980.0
...          ...
101676  301812.0
101746  301882.0
101898  302034.0
101986  302122.0
102030  302166.0
102047  302183.0
102348  302484.0
102631  302767.0
102717  302853.0
102925  303061.0
103206  303343.0
103422  303559.0
103637  303774.0
103662  303799.0
103701  303838.0
103737  303874.0
103785  303922.0
104086  304223.0
104111  304248.0
104340  304478.0
104393  304531.0
104423  304561.0
104464  304602.0
104491  304629.0
104693  304833.0
104755  304895.0
104943  305084.0
104990  305131.0
105056  305197.0
105145  305287.0

[453 rows x 1 columns]

In [87]:
buy_user_id['sku_id'] = [x for x in range(len(buy_user_id))]
buy_user_id.user_id = buy_user_id['user_id'].astype(int)
buy_user_id.to_csv('aa.csv',index=False)

In [66]:
path = './cache/Action_2016-02-01_2016-04-16_with_sku_id-time-user_id'
with open(path,'rb') as f:
    buy_sku_id = pickle.load(f)
buy_sku_id
# buy_user_sku_id = pd.merge(buy_user_id,buy_sku_id,on='user_id',how='left').drop_duplicates()
# buy_user_sku_id

          sku_id                 time   user_id
0         107774  2016-02-01 00:00:00  272629.0
1         107774  2016-02-01 00:00:00  272629.0
2         107774  2016-02-01 00:00:00  272629.0
3         107774  2016-02-01 00:00:00  272629.0
4         107774  2016-02-01 00:00:00  272629.0
5         107774  2016-02-01 00:00:00  272629.0
6         107774  2016-02-01 00:00:00  272629.0
7          87598  2016-02-01 00:00:01  284046.0
8         153817  2016-02-01 00:00:01  208720.0
9          87598  2016-02-01 00:00:01  284046.0
10         87598  2016-02-01 00:00:01  284046.0
11          4732  2016-02-01 00:00:03  202552.0
12        123773  2016-02-01 00:00:03  200719.0
13          4732  2016-02-01 00:00:03  202552.0
14        123773  2016-02-01 00:00:03  200719.0
15        123773  2016-02-01 00:00:04  200719.0
16         41958  2016-02-01 00:00:05  214894.0
17         41958  2016-02-01 00:00:05  214894.0
18         41958  2016-02-01 00:00:05  214894.0
19         41958  2016-02-01 00:00:05  214894.0
20         41958  2016-02-01 00:00:05  214894.0
21        126791  2016-02-01 00:00:06  269489.0
22         91145  2016-02-01 00:00:06  236628.0
23        126791  2016-02-01 00:00:06  269489.0
24        126791  2016-02-01 00:00:06  269489.0
25         91145  2016-02-01 00:00:06  236628.0
26        126791  2016-02-01 00:00:06  269489.0
27         91145  2016-02-01 00:00:06  236628.0
28        126791  2016-02-01 00:00:06  269489.0
29         91145  2016-02-01 00:00:06  236628.0
...          ...                  ...       ...
50601677  111778  2016-04-15 23:59:55  209445.0
50601678  111778  2016-04-15 23:59:55  209445.0
50601679  111778  2016-04-15 23:59:55  209445.0
50601680  111778  2016-04-15 23:59:55  209445.0
50601681   46990  2016-04-15 23:59:55  266330.0
50601682   46990  2016-04-15 23:59:55  266330.0
50601683   10959  2016-04-15 23:59:55  289369.0
50601684   10959  2016-04-15 23:59:55  289369.0
50601685  111778  2016-04-15 23:59:55  209445.0
50601686  147757  2016-04-15 23:59:56  255329.0
50601687  147757  2016-04-15 23:59:56  255329.0
50601688  147757  2016-04-15 23:59:56  255329.0
50601689   84389  2016-04-15 23:59:56  208003.0
50601690  147757  2016-04-15 23:59:56  255329.0
50601691  147757  2016-04-15 23:59:56  255329.0
50601692  147757  2016-04-15 23:59:56  255329.0
50601693  119111  2016-04-15 23:59:57  216375.0
50601694  119111  2016-04-15 23:59:57  216375.0
50601695    7199  2016-04-15 23:59:57  236482.0
50601696    7199  2016-04-15 23:59:57  236482.0
50601697    7199  2016-04-15 23:59:57  236482.0
50601698    7199  2016-04-15 23:59:57  236482.0
50601699   37009  2016-04-15 23:59:57  236482.0
50601700   37009  2016-04-15 23:59:57  236482.0
50601701   37009  2016-04-15 23:59:57  236482.0
50601702    7199  2016-04-15 23:59:57  236482.0
50601703    7199  2016-04-15 23:59:57  236482.0
50601704   85780  2016-04-15 23:59:58  228530.0
50601705   85780  2016-04-15 23:59:58  228530.0
50601706   35464  2016-04-15 23:59:59  251186.0

[50601707 rows x 3 columns]

In [68]:
buy_sku_id = buy_sku_id.drop_duplicates()
buy_user_sku_id = pd.merge(buy_user_id,buy_sku_id,on='user_id',how='left').drop_duplicates()
buy_user_sku_id

        user_id  sku_id                 time
0      200094.0   47193  2016-04-15 15:39:52
1      200210.0     211  2016-03-16 01:20:17
2      200210.0     211  2016-03-16 01:20:18
3      200210.0   55497  2016-03-16 01:20:49
4      200210.0     211  2016-03-16 01:20:49
5      200210.0     211  2016-03-16 01:20:53
6      200210.0   89098  2016-03-16 01:23:12
7      200210.0   89098  2016-03-16 01:23:13
8      200210.0   89098  2016-03-16 01:23:47
9      200210.0  107012  2016-03-16 01:29:03
10     200210.0  107012  2016-03-16 01:29:04
11     200210.0  107012  2016-03-16 01:29:35
12     200210.0  107012  2016-03-16 01:29:44
13     200210.0  146926  2016-03-16 17:42:54
14     200210.0  125699  2016-03-16 17:44:44
15     200210.0   69262  2016-03-16 17:55:01
16     200210.0   41390  2016-04-15 13:16:25
17     200210.0   25218  2016-04-15 13:17:09
18     200210.0   79937  2016-04-15 13:17:42
19     200210.0    6851  2016-04-15 13:17:42
20     200210.0    6851  2016-04-15 14:30:50
21     200210.0   41390  2016-04-15 14:36:53
22     200288.0  166707  2016-04-15 12:03:47
23     200288.0  166707  2016-04-15 12:04:07
24     200288.0  166707  2016-04-15 12:04:29
25     200288.0  166707  2016-04-15 12:05:57
26     200288.0  166707  2016-04-15 12:08:31
27     200288.0  166707  2016-04-15 12:09:23
28     200288.0  166707  2016-04-15 12:10:13
29     200288.0  166707  2016-04-15 12:12:11
...         ...     ...                  ...
13416  305287.0   63434  2016-04-14 15:05:53
13417  305287.0   75824  2016-04-14 15:05:53
13418  305287.0   83148  2016-04-14 15:06:35
13419  305287.0   84409  2016-04-14 15:07:06
13420  305287.0   83148  2016-04-14 15:07:06
13421  305287.0  160750  2016-04-14 15:29:32
13422  305287.0  103652  2016-04-14 15:30:06
13423  305287.0   81462  2016-04-14 15:30:06
13424  305287.0   14163  2016-04-14 15:30:42
13425  305287.0   75824  2016-04-14 15:30:42
13426  305287.0  149854  2016-04-15 01:17:15
13427  305287.0  149854  2016-04-15 01:17:58
13428  305287.0   57161  2016-04-15 01:17:58
13429  305287.0  149854  2016-04-15 01:18:45
13430  305287.0   57161  2016-04-15 01:19:16
13431  305287.0   37995  2016-04-15 01:19:16
13432  305287.0   12540  2016-04-15 01:19:52
13433  305287.0  159528  2016-04-15 01:19:52
13434  305287.0  104468  2016-04-15 01:20:27
13435  305287.0  142543  2016-04-15 01:20:27
13436  305287.0   12540  2016-04-15 23:51:39
13437  305287.0   12540  2016-04-15 23:52:48
13438  305287.0   12540  2016-04-15 23:54:39
13439  305287.0   12540  2016-04-15 23:54:45
13440  305287.0    4723  2016-04-15 23:55:20
13441  305287.0   12540  2016-04-15 23:55:20
13442  305287.0    4723  2016-04-15 23:55:39
13443  305287.0    4723  2016-04-15 23:56:30
13444  305287.0  159528  2016-04-15 23:57:07
13445  305287.0    4723  2016-04-15 23:57:07

[13446 rows x 3 columns]

In [71]:
buy_user_sku_id['time'] = buy_user_sku_id.time.apply(lambda t :t[:10])
buy_user_sku_id = buy_user_sku_id[buy_user_sku_id.time>='2016-04-14'][['user_id','sku_id']]
buy_user_sku_id

D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

        user_id  sku_id
0      200094.0   47193
16     200210.0   41390
17     200210.0   25218
18     200210.0   79937
19     200210.0    6851
20     200210.0    6851
21     200210.0   41390
22     200288.0  166707
23     200288.0  166707
24     200288.0  166707
25     200288.0  166707
26     200288.0  166707
27     200288.0  166707
28     200288.0  166707
29     200288.0  166707
30     200288.0  130900
31     200288.0  166707
32     200288.0  131300
33     200288.0   18412
34     200288.0  116246
35     200288.0   18412
36     200288.0   18412
37     200288.0   39387
38     200288.0  149854
39     200288.0  149854
40     200288.0  149854
41     200288.0  166707
42     200288.0  166707
43     200288.0  166707
44     200288.0  166707
...         ...     ...
13416  305287.0   63434
13417  305287.0   75824
13418  305287.0   83148
13419  305287.0   84409
13420  305287.0   83148
13421  305287.0  160750
13422  305287.0  103652
13423  305287.0   81462
13424  305287.0   14163
13425  305287.0   75824
13426  305287.0  149854
13427  305287.0  149854
13428  305287.0   57161
13429  305287.0  149854
13430  305287.0   57161
13431  305287.0   37995
13432  305287.0   12540
13433  305287.0  159528
13434  305287.0  104468
13435  305287.0  142543
13436  305287.0   12540
13437  305287.0   12540
13438  305287.0   12540
13439  305287.0   12540
13440  305287.0    4723
13441  305287.0   12540
13442  305287.0    4723
13443  305287.0    4723
13444  305287.0  159528
13445  305287.0    4723

[10500 rows x 2 columns]

In [82]:
# buy_user_sku_id = buy_user_sku_id.groupby(['user_id','sku_id']).sku_id.count()
# buy_user_sku_id = pd.DataFrame(buy_user_sku_id)
buy_user_sku_id

                 sku_id
user_id  sku_id
200094.0 47193        1
200210.0 6851         2
         25218        1
         41390        2
         79937        1
200288.0 18412        3
         39387        1
         116246       1
         130900       1
         131300       1
         149854       3
         166707      16
200690.0 149641       1
200808.0 154636       6
200958.0 20308        8
         44854        3
         132782       4
         142140       7
         154636       1
201176.0 31662       12
         44854       15
         65520        3
201568.0 12564        3
201672.0 79520       11
         81708        1
         147796       1
201931.0 6033         9
         113997       4
203534.0 20308        9
         32465        7
...                 ...
305131.0 84544        2
305197.0 52343        2
305287.0 4285         2
         4723         4
         12540        6
         14163        1
         15259        1
         17242        1
         24371        6
         37957        4
         37995        1
         47193        3
         57161        2
         63434        1
         66169        1
         75824        2
         77221        1
         78335        2
         81462        1
         83148        2
         84409        3
         103132       1
         103652       2
         104468       1
         128567       1
         142543       2
         145990       1
         149854       5
         159528       2
         160750       2

[2395 rows x 1 columns]

In [ ]:
m = buy_user_sku_id

In [3]:
# #
# def get_fifty_days_data(start_date ='2016-02-01 00:00:00',end_date='2016-02-16 00:00:00'):
#     dump_path = './cache/Action_fifty_days_{0}_{1}'.format(start_date[:10],end_date[:10])
#     if os.path.exists(dump_path):
#         with open(dump_path,'rb') as f:
#             df = pickle.load(f)
#     else:
#         with open('./cache/Action_2016-02-01_2016-04-16_with_time-type-user_id','rb') as m:
#             df = pickle.load(m)
#         df = df[(df.time<end_date)&(df.time>start_date)]
#         df['time'] = df.time.apply(lambda t: t[:10])
#         type_dummies = pd.get_dummies(df['type'],prefix='Action_user')
#         user_data = pd.concat(df,type_dummies,axis=1)
        
#         user_data = user_data.groupby(['user_id','time'],as_index=False).sum
#         user_data = user_data[user_data.Action_user_4>0][['user_id','time']]
#         user_data = pd.merge(user_data,df,how='left',on=['user_id','time'])
#         dd = user_data.dropna(axis=0)

In [14]:

# a =np.random.randn(10,4)

# b = pd.DataFrame(a,columns=['a','b','c','d'])
# b.iloc[3:7,2:4] =np.nan
# b.dropna(axis=0)

          a         b         c         d
0  0.367581 -0.718925  0.419468 -0.118477
1  0.383625 -0.022122  0.822760  0.552877
2  0.509588  1.310190  0.881322 -1.206136
7 -0.450910  1.664112  1.207873 -0.311591
8  0.053854 -1.014994  0.694994  0.958569
9  1.321522  0.304714  2.439444 -0.145038