In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime,timedelta
import math
import os
import pickle
import re

In [2]:
ACTION_FILE = './datafile/JData_Action.csv'
COMMENT_FILE = './datafile/JData_Comment.csv'
PRODUCT_FILE = './datafile/JData_Product.csv'
USER_FILE = './datafile/JData_User.csv'

In [2]:
# with open('./cache/Action_user_load_browse_buy_time_frame','rb') as f:
#     user_load_buy_frame = pickle.load(f)
# with open('./cache/Action_2016-02-01_2016-04-16_with_cate-sku_id-type-user_id','rb') as f:
#     user_dataset = pickle.load(f)
# with open('./cache/Action_2016-02-01_2016-04-16_with_sku_id-time-type-user_id','rb') as f:
#     user_sku_info = pickle.load(f)
# comment_dataset = pd.read_csv(COMMENT_FILE)
# product_dataset = pd.read_csv(PRODUCT_FILE)

# b= pd.read_csv('pre_5_22.csv')
# b = pd.DataFrame(b['user_id'])
# test_data = pd.merge(b,a,on='user_id',how='left')
# test_data = pd.DataFrame(test_data[test_data.sku_id.isnull()]['user_id'])
# test_data = pd.merge(test_data,user_dataset,on='user_id',how='left')
# test_data = test_data[test_data['cate']==8][['user_id','sku_id']]
# a = pd.read_csv('pre_5_22 - 副本.csv')
# a = a.sort_values(by='user_id',ascending=True)
# a.to_csv('pre_4_22_2.csv',index=False)

In [7]:
#选择登陆天数小于7天的用户,并且最后7天中必须登录2到3天,又小于5天
def get_load_less_7():
    dump_path = './cache/Action_2016-02-01_2016-04-16_load_less_7'
    if os.path.exists(dump_path):
        with open(dump_path,'rb') as f:
            df = pickle.load(f)
    else:
        with open('./cache/Action_user_load_browse_buy_time_frame','rb') as f:
            user_load_buy_frame = pickle.load(f)
        df = user_load_buy_frame[user_load_buy_frame['load_days']<=7][['user_id','2016-04-09','2016-04-10','2016-04-11','2016-04-12','2016-04-13','2016-04-14','2016-04-15']]
        df['last_week_load_days'] = df.sum(axis=1) - df['user_id']
        df = df[(df['last_week_load_days']>=1)&(df['last_week_load_days']<=5)][['user_id','last_week_load_days']]
        df = pd.merge(df,user_load_buy_frame,on='user_id',how='left')
        df = df.drop(['2016-02-01','2016-02-02','2016-02-03','2016-02-04','2016-02-05','2016-02-06','2016-02-07',\
                      '2016-02-08','2016-02-09','2016-02-10','2016-02-11','2016-02-12','2016-02-13','2016-02-14','2016-02-15',\
                      '2016-02-16','2016-02-17','2016-02-18','2016-02-19','2016-02-20','2016-02-21','2016-02-22','2016-02-23',\
                      '2016-02-24','2016-02-25','2016-02-26','2016-02-27','2016-02-28','2016-02-29','2016-03-01',\
                      '2016-03-02','2016-03-03','2016-03-04','2016-03-05','2016-03-06','2016-03-07','2016-03-08','2016-03-09',\
                      '2016-03-10','2016-03-11','2016-03-12','2016-03-13','2016-03-14','2016-03-15','2016-03-16','2016-03-17',\
                      '2016-03-18','2016-03-19','2016-03-20','2016-03-21','2016-03-22','2016-03-23','2016-03-24','2016-03-25',\
                      '2016-03-26','2016-03-27','2016-03-28','2016-03-29','2016-03-30','2016-03-31',\
                      'cate_4','cate_5','cate_6','cate_7','cate_9','cate_10','cate_11'],axis=1)
        df = df[(df['last_buy_cate']!=8)]
        df = df[df['cate_8']>0]
        df = df[df['last_buy_time']<'2016-03-01 00:00:00']
        with open(dump_path,'wb') as f:
                pickle.dump(df,f)
    return df

In [1]:
# b = get_load_less_7()
# df = pd.DataFrame(b['user_id'])
# df = pd.merge(df,user_dataset,on='user_id',how='left')
# df = df[df['cate']==8][['user_id','time']]
# #新加上去的
# df = df[df['time']>'2016-04-09 00:00:00']
# df['time0'] = df.time.apply(lambda x :int(x[5:7]))
# df['time1'] = df.time.apply(lambda x :int(x[8:10]))
# df['time2'] = df.time.apply(lambda x :int(x[11:13]))
# df['time3'] = df.time.apply(lambda x :int(x[14:16]))
# df['time_point'] = df['time0']*30*24*60+df['time1']*24*60+df['time2']*60+df['time3']
# df = df[['user_id','time_point','time','time2']]
# # df.groupby(['user_id','time_point'],as_index=False).count()
# df1 = df.groupby(['user_id'],as_index=False).time_point.max()
# df2 = df.groupby(['user_id'],as_index=False).time_point.min()
# df1.columns = ['user_id','max_time']
# df2.columns = ['user_id','min_time']
# df3 = pd.merge(df1,df2,on='user_id',how='left')
# df3['see_longtime'] = df3['max_time'] - df3['min_time']
# df = pd.merge(df,df3,on='user_id',how='left')
# df = pd.merge(df,type2,on='user_id',how='left')
# not_buy_user = pd.DataFrame(df[(df['see_longtime']<=10)&(df['time']<'2016-04-13 00:00:00')&(df['type_2']==0)&(df['type_3']==0)&(df['type_5']==0)]\
#              ['user_id']).drop_duplicates()    #432    173
# not_buy_user['label'] = 0
# df4 = pd.merge(df,not_buy_user,on='user_id',how='left')
# df4 = df4[df4.label!=0][['user_id','see_longtime','time2','time','type_1','type_2','type_3','type_5','type_6','cate_8_num']]     # 6400条左右
# pd.DataFrame(df4[df4['see_longtime']<=10]['user_id']).drop_duplicates()                  #1984条
# df4[(df4['see_longtime']<=5)&(df4['type_2']>0)]
# df4['ratio'] = df4['cate_8_num'] / df4['see_longtime']

# df4 = pd.merge(df4,b,on='user_id',how='left')
# df4 = df4.drop(['last_buy_cate','last_buy_cate_8_time'],axis=1)

# ###将所有在22-24，0-2,11-13，浏览的用户保存下来
# retain_user_dataset_1 = df4[(df4['time2']>=22)]
# retain_user_dataset_2 =df4[(df4['time2']>=11)&(df4['time2']<=13)]
# retain_user_dataset_3 = df4[(df4['time2']<=2)]
# retain_user_dataset = pd.concat([retain_user_dataset_1,retain_user_dataset_2,retain_user_dataset_3],axis=0)
# pd.DataFrame(retain_user_dataset['user_id']).drop_duplicates()                 #3602

# temp_retain = retain_user_dataset[(retain_user_dataset['type_2']>0)&(retain_user_dataset['type_5']>0)]
# temp_retain = temp_retain.drop(['time2','time'],axis=1).drop_duplicates()
# pd.DataFrame(temp_retain[temp_retain['time']>'2016-04-13 00:00:00']['user_id']).drop_duplicates()    #104
# temp_retain[temp_retain['last_week_load_days']==3]   #23   31   45

# with open('./cache/Action_2016-02-01_2016-04-16_with_cate-sku_id-type-user_id','rb') as f:
#     user_dataset = pickle.load(f)
# comment_dataset = pd.read_csv(COMMENT_FILE)
# product_dataset = pd.read_csv(PRODUCT_FILE)
# pre_user_data = temp_retain
# pre_user_id_data = pd.DataFrame(pre_user_data['user_id'])
# pre_user_id_data = pd.merge(pre_user_id_data,user_dataset,on='user_id',how='left')
# pre_user_id_data = pre_user_id_data[pre_user_id_data['cate']==8][['user_id','sku_id']]

# pre_user_id_data_1 = pd.merge(pre_user_id_data,user_sku_info,on=('user_id','sku_id'),how='left')
# pre_user_id_data_1

In [47]:
# temp = clean_data()
# temp1 = temp[['user_id','type']]
# type_dummies = pd.get_dummies(temp1['type'],prefix='type')
# type2 = pd.concat([temp1,type_dummies],axis=1)
# type2 = type2.drop(['cate','time','type'])
# type2 = type2.groupby(['user_id'],as_index=False).sum()
# type2['cate_8_num'] = type2.sum(axis=1) - type2['user_id']
type2

        user_id  type_1  type_2  type_3  type_5  type_6  cate_8_num
0      200005.0    14.0     0.0     0.0     0.0    22.0        36.0
1      200054.0    60.0     0.0     0.0     0.0    69.0       129.0
2      200055.0     6.0     0.0     0.0     0.0     7.0        13.0
3      200083.0    18.0     0.0     0.0     0.0    34.0        52.0
4      200088.0    62.0     0.0     0.0     0.0   114.0       176.0
5      200092.0     4.0     0.0     0.0     0.0     4.0         8.0
6      200117.0     3.0     0.0     0.0     0.0     9.0        12.0
7      200128.0     2.0     0.0     0.0     0.0     9.0        11.0
8      200141.0    18.0     0.0     0.0     0.0    22.0        40.0
9      200160.0     4.0     0.0     0.0     0.0     2.0         6.0
10     200181.0     1.0     0.0     0.0     0.0     2.0         3.0
11     200190.0    42.0     3.0     0.0     0.0    77.0       122.0
12     200202.0     2.0     0.0     0.0     0.0     3.0         5.0
13     200208.0     2.0     1.0     0.0     0.0    13.0        16.0
14     200229.0    30.0     0.0     0.0     2.0    49.0        81.0
15     200288.0    62.0     1.0     0.0     0.0    73.0       136.0
16     200298.0    14.0     0.0     0.0     0.0    33.0        47.0
17     200307.0     2.0     0.0     0.0     0.0     4.0         6.0
18     200308.0     2.0     0.0     0.0     0.0     3.0         5.0
19     200316.0     6.0     0.0     0.0     0.0     9.0        15.0
20     200317.0     2.0     0.0     0.0     0.0     5.0         7.0
21     200328.0     8.0     1.0     0.0     0.0    17.0        26.0
22     200371.0     4.0     0.0     0.0     0.0    10.0        14.0
23     200372.0     6.0     0.0     0.0     0.0     8.0        14.0
24     200374.0    26.0     1.0     0.0     0.0    32.0        59.0
25     200396.0    42.0     0.0     0.0     0.0    42.0        84.0
26     200398.0     2.0     0.0     0.0     0.0     4.0         6.0
27     200427.0     2.0     0.0     0.0     0.0     4.0         6.0
28     200434.0     1.0     0.0     0.0     0.0     1.0         2.0
29     200438.0    14.0     1.0     0.0     0.0    17.0        32.0
...         ...     ...     ...     ...     ...     ...         ...
11061  305009.0     0.0     0.0     2.0     0.0     0.0         2.0
11062  305019.0    42.0     2.0     0.0     1.0    39.0        84.0
11063  305024.0     4.0     0.0     0.0     0.0    13.0        17.0
11064  305055.0     6.0     0.0     0.0     0.0     7.0        13.0
11065  305071.0    34.0     0.0     0.0     0.0    29.0        63.0
11066  305076.0    39.0     2.0     0.0     0.0    68.0       109.0
11067  305077.0    10.0     0.0     0.0     0.0     9.0        19.0
11068  305078.0    14.0     0.0     0.0     0.0    24.0        38.0
11069  305084.0    24.0     0.0     0.0     0.0    21.0        45.0
11070  305096.0    22.0     2.0     0.0     0.0    28.0        52.0
11071  305106.0    16.0     0.0     0.0     0.0    24.0        40.0
11072  305131.0     1.0     1.0     0.0     0.0     2.0         4.0
11073  305149.0     4.0     0.0     0.0     0.0     4.0         8.0
11074  305164.0     2.0     0.0     0.0     0.0     4.0         6.0
11075  305181.0    10.0     0.0     0.0     0.0     6.0        16.0
11076  305184.0    10.0     0.0     0.0     0.0    12.0        22.0
11077  305185.0     4.0     0.0     0.0     0.0     4.0         8.0
11078  305197.0     1.0     0.0     0.0     0.0     1.0         2.0
11079  305206.0     8.0     0.0     0.0     0.0    13.0        21.0
11080  305213.0     2.0     2.0     0.0     0.0    19.0        23.0
11081  305231.0    10.0     8.0     0.0     0.0     0.0        18.0
11082  305234.0     2.0     0.0     0.0     0.0     4.0         6.0
11083  305248.0     2.0     0.0     0.0     0.0     4.0         6.0
11084  305249.0    20.0     0.0     0.0     0.0    54.0        74.0
11085  305275.0    12.0     1.0     0.0     0.0    17.0        30.0
11086  305276.0    54.0     0.0     0.0     0.0    77.0       131.0
11087  305287.0   150.0     2.0     0.0     0.0   197.0       349.0
11088  305290.0     4.0     0.0     1.0     0.0     8.0        13.0
11089  305305.0     2.0     0.0     0.0     0.0     0.0         2.0
11090  305309.0     2.0     0.0     0.0     0.0     5.0         7.0

[11091 rows x 7 columns]

In [116]:
# a = pd.read_csv('pre_5_25_1.csv')
# d = pd.read_csv('pre_5_22.csv')
# d = pd.DataFrame(d['user_id'])
# d = pd.merge(d,a,on='user_id',how='left')
# b = pd.read_csv('pre_5_25.csv')
# b = pd.DataFrame(b['user_id']).drop_duplicates()
# c= pd.merge(b,a,on='user_id',how='left')
# c
# a= a.sort_values(by='proba',ascending=False)
# a.iloc[:1000]
# d[d['proba']>=0.089]

     user_id     proba
0     200208  0.157169
1     200288  0.257368
2     200690  0.102714
3     200756  0.196890
4     201123  0.184755
5     201385  0.206888
6     201568  0.554301
7     202469  0.108600
10    203534  0.565907
11    203624  0.218739
13    204253  0.215778
14    204399  0.210319
15    204535  0.518695
16    204642  0.108560
18    205514  0.123358
19    205981  0.097678
21    206318  0.203215
22    206565  0.104605
24    206994  0.151733
25    206995  0.407898
26    207268  0.317733
27    207276  0.211222
28    207285  0.090713
29    207310  0.092001
30    207317  0.304187
31    207338  0.250540
32    207344  0.305256
33    207390  0.194527
34    207391  0.171850
35    207398  0.140330
..       ...       ...
454   298461  0.355270
455   298529  0.274335
456   299117  0.366251
457   299363  0.096090
458   299443  0.179670
460   299869  0.351283
461   300118  0.199917
462   301262  0.180953
463   301809  0.320410
464   301812  0.179631
465   302019  0.101488
468   302166  0.092772
469   302853  0.170142
470   302865  0.179398
471   302982  0.284664
472   303061  0.150069
473   303069  0.270504
474   303245  0.195946
475   303400  0.232983
476   303520  0.143046
477   303774  0.419487
478   303838  0.333698
479   303874  0.245575
480   303949  0.153144
481   304248  0.589664
482   304478  0.390655
483   304561  0.135966
486   304895  0.194584
487   305131  0.397667
488   305287  0.209570

[369 rows x 2 columns]

In [126]:
# with open('./cache/Action_user_load_browse_buy_time_frame','rb') as f:
#     user_load_buy_frame = pickle.load(f)
# with open('./cache/Action_2016-02-01_2016-04-16_with_cate-sku_id-type-user_id','rb') as f:
#     user_dataset = pickle.load(f)
# comment_dataset = pd.read_csv(COMMENT_FILE)
# product_dataset = pd.read_csv(PRODUCT_FILE)
# ##引入商品信息
# pre_user_data = temp_retain
# pre_user_id_data = pd.DataFrame(pre_user_data['user_id'])
# pre_user_id_data = pd.merge(pre_user_id_data,user_dataset,on='user_id',how='left')
# pre_user_id_data = pre_user_id_data[pre_user_id_data['cate']==8]
# pre_user_id_data_1 = pd.merge(pre_user_id_data,comment_dataset,on='sku_id',how='left')
# pre_user_id_data_1 = pd.merge(pre_user_id_data_1,product_dataset,on='sku_id',how='left')
# pre_user_id_data_1 = pre_user_id_data_1.drop(['dt','a1','a2','a3'],axis=1)




# temp_1 = pre_user_id_data_1[(pre_user_id_data_1['type']==2)&(pre_user_id_data_1['type']==3)&(pre_user_id_data_1['type']==5)].drop_duplicates()
# temp_2 = temp_1[['user_id','sku_id','type','comment_num','has_bad_comment','bad_comment_rate']]
# pre_user_id_data_1
# temp_2 = temp_2.groupby(['user_id','sku_id','type','comment_num','has_bad_comment'],as_index=False).bad_comment_rate.min()
# delta_sku_id = temp_2[temp_2['type']==3][['user_id','sku_id']]
# delta_sku_id['label'] = 0
# retain_data = pd.merge(temp_2,delta_sku_id,on=('user_id','sku_id'),how='left')
# retain_data = retain_data[retain_data['label']!=0]
# retain_data = temp_2
# retain_data['label'] = np.nan
# temp_3 = retain_data.groupby(['user_id'],as_index=False).bad_comment_rate.min()
# temp_3['first'] = 1
# retain_data = pd.merge(retain_data,temp_3,on=('user_id','bad_comment_rate'),how='left')
# temp_4 = retain_data.groupby(['user_id'],as_index=False).bad_comment_rate.max()
# temp_4['last'] = 3
# retain_data = pd.merge(retain_data,temp_4,on=('user_id','bad_comment_rate'),how='left')
# retain_data_1 = retain_data[(retain_data['first']==1)&(retain_data['last']==3)][['user_id','sku_id','label']]
# a = retain_data_1.fillna(1)
# retain_data_2 = retain_data[(retain_data['first']!=1)&(retain_data['last']==3)][['user_id','sku_id','label']]
# b = retain_data_2.fillna(3)
# retain_data_3 = retain_data[(retain_data['first']!=1)&(retain_data['last']!=3)][['user_id','sku_id','label']]
# c = retain_data_3.fillna(2)
# retain_data = pd.concat([a,b,c],axis=0)
# retain_data
# d = retain_data

          cate  sku_id  type   user_id
0           10  107774     1  272629.0
1           10  107774     1  272629.0
2           10  107774     6  272629.0
3           10  107774     1  272629.0
4           10  107774     6  272629.0
5           10  107774     6  272629.0
6           10  107774     1  272629.0
7            9   87598     1  284046.0
8            6  153817     3  208720.0
9            9   87598     1  284046.0
10           9   87598     6  284046.0
11           6    4732     6  202552.0
12           8  123773     6  200719.0
13           6    4732     6  202552.0
14           8  123773     1  200719.0
15           8  123773     6  200719.0
16           6   41958     6  214894.0
17           6   41958     1  214894.0
18           6   41958     1  214894.0
19           6   41958     6  214894.0
20           6   41958     6  214894.0
21           5  126791     6  269489.0
22           9   91145     6  236628.0
23           5  126791     1  269489.0
24           5  126791     6  269489.0
25           9   91145     1  236628.0
26           5  126791     1  269489.0
27           9   91145     6  236628.0
28           5  126791     6  269489.0
29           9   91145     6  236628.0
...        ...     ...   ...       ...
35349941     6  127836     6  244589.0
35349942     8  103014     1  276429.0
35349943     8  103014     6  276429.0
35349944     8  103014     6  276429.0
35349945     8  103014     1  276429.0
35349946     8  103014     6  276429.0
35349947     5   59724     6  291572.0
35349948     5   59724     6  291572.0
35349949     8  115215     6  209135.0
35349950     8  115215     1  209135.0
35349951     9   45656     6  303392.0
35349952     9   90761     1  303392.0
35349953     8  115215     6  209135.0
35349954     9   45656     1  303392.0
35349955     9   45656     6  303392.0
35349956     9   45656     1  303392.0
35349957     9   45656     6  303392.0
35349958     9   90761     1  303392.0
35349959     8  115215     6  209135.0
35349960     9   11036     1  303392.0
35349961     9   90761     6  303392.0
35349962     9   90761     6  303392.0
35349963     9   11036     6  303392.0
35349964     9   11036     1  303392.0
35349965     9   90761     6  303392.0
35349966     9   11036     6  303392.0
35349967     9   11036     6  303392.0
35349968     4    6660     1  261650.0
35349969     4    6660     1  261650.0
35349970     9  109084     6  273785.0

[35349971 rows x 4 columns]

# 5.22

In [5]:
# with open('./cache/Action_2016-04-09_2016-04-16_with_cate-sku_id-type-user_id','rb') as f:
#     user_dataset = pickle.load(f)
# # pre_data = pd.read_csv('pre_5_20_3.csv')
# pre_user_id_data = pd.DataFrame(pre_data['user_id'])
# pre_user_id_data = pd.merge(pre_user_id_data,user_dataset,how='left',on='user_id')
# pre_user_id_data_1 = pre_user_id_data[pre_user_id_data['cate']==8]
# pre_user_id_data_2 = pre_user_id_data_1[['user_id','sku_id','type']]
# pre_1 = pre_user_id_data_1.groupby(['user_id','sku_id','type'],as_index = False).count()
# pre_2 = pre_user_id_data_2.groupby(['user_id','sku_id'],as_index=False).count()
# pre_2.columns = ['user_id','sku_id','number']
# temp_2 = pre_2.groupby(['user_id'],as_index=False).number.max()
# pre_3 = pd.merge(temp_2,pre_2,on=['user_id','number'],how='left')[['user_id','sku_id']]
#引进时间变量
# with open('./cache/Action_2016-02-01_2016-04-16_with_sku_id-time-type-user_id','rb') as f:
#     user_browse_time_dataset = pickle.load(f)
# pre_4 = pd.merge(pre_3,user_browse_time_dataset,how='left',on=['user_id','sku_id'])[['user_id','sku_id','time']]
# pre_5 = pre_4.groupby(['user_id'],as_index=False).time.max()
# pre_5 = pd.merge(pre_5,pre_4,on=['user_id','time'],how='left')[['user_id','sku_id']].drop-duplicates()
# a = pre_5.drop_duplicates()
# a.to_csv('pre_5_22.csv',index=False)

#引进商品优先级
# a = pd.read_csv('pre_5_22.csv')

          sku_id                 time  type   user_id
0         107774  2016-02-01 00:00:00     1  272629.0
1         107774  2016-02-01 00:00:00     1  272629.0
2         107774  2016-02-01 00:00:00     6  272629.0
3         107774  2016-02-01 00:00:00     1  272629.0
4         107774  2016-02-01 00:00:00     6  272629.0
5         107774  2016-02-01 00:00:00     6  272629.0
6         107774  2016-02-01 00:00:00     1  272629.0
7          87598  2016-02-01 00:00:01     1  284046.0
8         153817  2016-02-01 00:00:01     3  208720.0
9          87598  2016-02-01 00:00:01     1  284046.0
10         87598  2016-02-01 00:00:01     6  284046.0
11          4732  2016-02-01 00:00:03     6  202552.0
12        123773  2016-02-01 00:00:03     6  200719.0
13          4732  2016-02-01 00:00:03     6  202552.0
14        123773  2016-02-01 00:00:03     1  200719.0
15        123773  2016-02-01 00:00:04     6  200719.0
16         41958  2016-02-01 00:00:05     6  214894.0
17         41958  2016-02-01 00:00:05     1  214894.0
18         41958  2016-02-01 00:00:05     1  214894.0
19         41958  2016-02-01 00:00:05     6  214894.0
20         41958  2016-02-01 00:00:05     6  214894.0
21        126791  2016-02-01 00:00:06     6  269489.0
22         91145  2016-02-01 00:00:06     6  236628.0
23        126791  2016-02-01 00:00:06     1  269489.0
24        126791  2016-02-01 00:00:06     6  269489.0
25         91145  2016-02-01 00:00:06     1  236628.0
26        126791  2016-02-01 00:00:06     1  269489.0
27         91145  2016-02-01 00:00:06     6  236628.0
28        126791  2016-02-01 00:00:06     6  269489.0
29         91145  2016-02-01 00:00:06     6  236628.0
...          ...                  ...   ...       ...
50601677  111778  2016-04-15 23:59:55     1  209445.0
50601678  111778  2016-04-15 23:59:55     1  209445.0
50601679  111778  2016-04-15 23:59:55     1  209445.0
50601680  111778  2016-04-15 23:59:55     1  209445.0
50601681   46990  2016-04-15 23:59:55     6  266330.0
50601682   46990  2016-04-15 23:59:55     6  266330.0
50601683   10959  2016-04-15 23:59:55     1  289369.0
50601684   10959  2016-04-15 23:59:55     1  289369.0
50601685  111778  2016-04-15 23:59:55     6  209445.0
50601686  147757  2016-04-15 23:59:56     6  255329.0
50601687  147757  2016-04-15 23:59:56     6  255329.0
50601688  147757  2016-04-15 23:59:56     6  255329.0
50601689   84389  2016-04-15 23:59:56     2  208003.0
50601690  147757  2016-04-15 23:59:56     1  255329.0
50601691  147757  2016-04-15 23:59:56     1  255329.0
50601692  147757  2016-04-15 23:59:56     6  255329.0
50601693  119111  2016-04-15 23:59:57     1  216375.0
50601694  119111  2016-04-15 23:59:57     1  216375.0
50601695    7199  2016-04-15 23:59:57     6  236482.0
50601696    7199  2016-04-15 23:59:57     1  236482.0
50601697    7199  2016-04-15 23:59:57     1  236482.0
50601698    7199  2016-04-15 23:59:57     6  236482.0
50601699   37009  2016-04-15 23:59:57     1  236482.0
50601700   37009  2016-04-15 23:59:57     1  236482.0
50601701   37009  2016-04-15 23:59:57     6  236482.0
50601702    7199  2016-04-15 23:59:57     6  236482.0
50601703    7199  2016-04-15 23:59:57     6  236482.0
50601704   85780  2016-04-15 23:59:58     6  228530.0
50601705   85780  2016-04-15 23:59:58     6  228530.0
50601706   35464  2016-04-15 23:59:59     2  251186.0

[50601707 rows x 4 columns]

In [45]:
temp_1 = pd.merge(pre_3,pre_1,on=['user_id','sku_id'],how='left')
temp_1[temp_1['type']==2]

      user_id  sku_id  type  cate
3      200288  166707     2     1
8      200756   57018     2     1
11     201123   84389     2     1
14     201123  133436     2     1
19     201568   12564     2     1
30     202845   47895     2     1
38     203624   62351     2     1
41     203728   44854     2     1
46     204399   44854     2     1
49     204535  154636     2     1
63     206318   31662     2     3
69     206846   94944     2     1
72     206994   57018     2     1
75     206995   10089     2     1
79     207268   75877     2     1
82     207276   32465     2     1
85     207285  128988     2     1
88     207310   62351     2     2
91     207317   63006     2     1
93     207338   63006     2     1
98     207344  128988     2     1
104    207398  166354     2     1
107    207427  155233     2     1
112    207450   18412     2     1
115    207455  140807     2     2
121    207483   32465     2     3
127    207504  153395     2     1
132    207511   86942     2     1
135    207512   42199     2     1
139    207516   16141     2     1
...       ...     ...   ...   ...
1250   295210  154636     2     1
1253   295651   18412     2     1
1256   295982  107012     2     1
1259   296220   60586     2     1
1262   296240    5825     2     1
1267   296572  153551     2     2
1270   297122   37638     2     1
1273   297218    5505     2     3
1276   297250   65233     2     1
1281   298040  159397     2     2
1284   298228   52343     2     1
1287   298241   79520     2     1
1290   298461   65520     2     2
1293   298529  142140     2     1
1296   299117   62863     2     1
1299   299363  131300     2     1
1306   299869  128747     2     2
1309   300118    9702     2     1
1321   302019   37638     2     1
1324   302029   63006     2     1
1334   302865  131300     2     1
1337   302982   63006     2     1
1340   303061  107012     2     2
1350   303520   73469     2     1
1353   303774   84389     2     1
1357   303838  142140     2     1
1364   304248   57018     2     1
1369   304561   24371     2     2
1374   304873    5505     2     2
1378   305131   65520     2     1

[285 rows x 4 columns]

# 5.21

In [21]:
# a = pd.read_csv('pre_5_19_1.csv')
# a = pd.DataFrame(a['user_id'])
# b = pd.read_csv('pre_5_20_1.csv')
# b_1 = pd.DataFrame(b['user_id'])
# c = pd.concat([a,b_1],axis=0).drop_duplicates()
# d = pd.merge(c,b,on='user_id',how='left')
# e = d.fillna(range(176))
# e = e.astype(int)
# e.to_csv('pre_5_20_3.csv',index=False)
# b = b.astype(int)
# b.to_csv('pre_5_20_1.csv',index=False)
# e

ValueError: invalid fill value with a <class 'range'>

# 5.19号

In [ ]:
# with open('./cache/Action_user_load_browse_buy_time_frame','rb') as f:
#     user_load_buy_frame = pickle.load(f)
# with open('./cache/Action_2016-02-01_2016-04-16_with_cate-time-type-user_id','rb') as f:
#     user_dataset = pickle.load(f)
# user_info_dataset = pd.read_csv(USER_FILE,encoding='gbk')
# user_load_buy_frame = user_load_buy_frame.drop(['cate_4','cate_5','cate_6','cate_7','cate_9','cate_10','cate_11'],axis=1)
# user_load_buy_frame = user_load_buy_frame[user_load_buy_frame['last_buy_time']!=user_load_buy_frame['last_buy_cate_8_time']]
# user_load_buy_frame_1 = user_load_buy_frame[user_load_buy_frame['last_buy_time']=='2016-01-30 00:00:00']
# just_last_three_day_load = user_load_buy_frame_1[(user_load_buy_frame_1['load_days']<=3)]
# just_last_three_day_load = just_last_three_day_load[(user_load_buy_frame_1['2016-04-15']==1)|\
#             (user_load_buy_frame_1['2016-04-14']==1)|(user_load_buy_frame_1['2016-04-13']==1)]
# just_last_three_day_load_user = just_last_three_day_load[['user_id','cate_8','browse_count','cate_8_ratio']]
# just_last_three_day_load_user = pd.merge(just_last_three_day_load_user,user_dataset,on='user_id',how='left')
# a = just_last_three_day_load_user[(just_last_three_day_load_user['cate']==8)&(just_last_three_day_load_user['time']>'2016-04-13 00:00:00')]
#                     #  总共对了216条，
# c = pd.DataFrame(a[(a['type']==2)|(a['type']==3)|(a['type']==5)]['user_id']).drop_duplicates()
# d = pd.read_csv('pre_5_19_1.csv')
# b = pd.DataFrame(a['user_id']).drop_duplicates()
# e = pd.merge(b,d,on='user_id',how='left')
# f = e.fillna('2016-04-01')
# f = f[f['sku_id']=='2016-04-01']
# g = pd.DataFrame(f['user_id'])
#查找所有只看了第八类商品的用户
# browse_cate_8 = pd.merge(g,user_load_buy_frame,on='user_id',how='left')
# m = pd.DataFrame(browse_cate_8[(browse_cate_8['cate_8_ratio']>0.5)&(browse_cate_8['cate_8']>20)]['user_id']).drop_duplicates()
# l = pd.DataFrame(browse_cate_8[(browse_cate_8['cate_8_ratio']==1)&(browse_cate_8['cate_8']>49)]['user_id']).drop_duplicates()

# low_ratio_user_action_data = pd.merge(g,user_dataset,on='user_id',how='left')
# type_dummies = pd.get_dummies(low_ratio_user_action_data['type'],prefix='Action')
# type_dummies[type_dummies['Action_2']==1]


# low_ratio_user_action_data_1 =low_ratio_user_action_data[(low_ratio_user_action_data['cate']==8)&\
#                                                          (low_ratio_user_action_data['time']>'2016-04-09 00:00:00')]
# h = pd.DataFrame(low_ratio_user_action_data_1[(low_ratio_user_action_data_1['time']>'2016-04-09 00:00:00')&\
#                              (low_ratio_user_action_data_1['type']==2)]
# low_ratio_user_action_data_1[low_ratio_user_action_data_1['time']>'2016-04-14 00:00:00']
# low_ratio_user_action_data_1.groupby(['user_id','cate','type'],as_index=False).time.max()
# n = pd.DataFrame(low_ratio_user_action_data_1[(low_ratio_user_action_data_1['time']>'2016-04-09 00:00:00')&\
#                              ((low_ratio_user_action_data_1['type']==2)|(low_ratio_user_action_data_1['type']==3)|\
#                               (low_ratio_user_action_data_1['type']==5))]['user_id']).drop_duplicates()
# low_ratio_user_action_data_2 = low_ratio_user_action_data[(low_ratio_user_action_data['time']>'2016-04-15 20:00:00')&\
#                                                           (low_ratio_user_action_data['cate']==8)]
# s = pd.DataFrame(low_ratio_user_action_data_2['user_id']).drop_duplicates()
# p = pd.concat([h,n,s],axis=0).drop_duplicates()



#测试开始
# user_id = pd.read_csv('pre_5_19_1.csv')['user_id']
# user_id = pd.DataFrame(user_id)
# user_id = pd.concat([p,user_id],axis=0).drop_duplicates()
# user_sku_id = pd.merge(user_id,user_dataset,on='user_id',how='left')
# user_sku_id = user_sku_id[user_sku_id['cate']==8]
# user_sku_id_1 = user_sku_id[(user_sku_id['type']==2)|(user_sku_id['type']==3)|(user_sku_id['type']==5)]
# user_sku_id_2 = user_sku_id_1.groupby(['user_id'],as_index=False).time.max()
# with open('./cache/Action_2016-02-01_2016-04-16_with_sku_id-time-type-user_id','rb') as f:
#     sku_id_dataset = pickle.load(f)
# user_sku_id_2.columns = ['user_id','cart_time']
# user_sku_id_3 = pd.merge(user_sku_id_2,sku_id_dataset,on='user_id',how='left')
# user_sku_id_3 = user_sku_id_3[(user_sku_id_3['time']==user_sku_id_3['cart_time'])]
# user_sku_id_3 = user_sku_id_3[(user_sku_id_3['type']==2)|(user_sku_id_3['type']==5)]
# protect_data = user_sku_id_3[['user_id','sku_id']].drop_duplicates()
# protect_data.to_csv('pre_5_20_1.csv',index=False)

#点击次数最多的
# lost_user_id = pd.merge(user_id,protect_data,on='user_id',how='left')
# lost_user_id = lost_user_id.fillna('2016-10-10')
# lost_user_id = pd.DataFrame(lost_user_id[lost_user_id['sku_id']=='2016-10-10']['user_id'])
# with open('./cache/Action_2016-02-01_2016-04-16_with_cate-sku_id-type-user_id','rb') as f:
#     user_sku_cate_dataset = pickle.load(f)
# lost_user_id = pd.merge(lost_user_id,user_sku_cate_dataset,on='user_id',how='left')
# lost_user_id
# lost_user_id_1 = lost_user_id[lost_user_id['cate']==8][['user_id','sku_id']]
# lost_user_id_1.groupby(['user_id','sku_id'],as_index=False).count()

In [124]:
lost_user_id.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 588 entries, 0 to 587
Data columns (total 2 columns):
user_id    588 non-null float64
sku_id     334 non-null float64
dtypes: float64(2)
memory usage: 13.8 KB

# 5.18,在最后一次购买商品不是第8类的用户中寻找

In [45]:
# with open('./cache/Action_user_load_browse_buy_time_frame','rb') as f:
#     user_load_buy_frame = pickle.load(f)
# with open('./cache/Action_2016-02-01_2016-04-16_with_cate-time-type-user_id','rb') as f:
#     user_dataset = pickle.load(f)
# user_info_dataset = pd.read_csv(USER_FILE,encoding='gbk')
# user_load_buy_frame = user_load_buy_frame.drop(['cate_4','cate_5','cate_6','cate_7','cate_9','cate_10','cate_11'],axis=1)
# user_load_buy_frame = user_load_buy_frame[user_load_buy_frame['last_buy_time']!=user_load_buy_frame['last_buy_cate_8_time']]
# user_load_buy_frame_1 = user_load_buy_frame[user_load_buy_frame['last_buy_cate_8_time'].notnull()]
# user_browse_cate_8 = user_load_buy_frame_1[user_load_buy_frame_1['cate_8']>0]
# temp_1 = user_browse_cate_8[(user_browse_cate_8['2016-04-09']==1)|(user_browse_cate_8['2016-04-10']==1)|\
#                             (user_browse_cate_8['2016-04-11']==1)|(user_browse_cate_8['2016-04-12']==1)|\
#                            (user_browse_cate_8['2016-04-13']==1)|(user_browse_cate_8['2016-04-14']==1)|\
#                            (user_browse_cate_8['2016-04-15']==1)]                      #最后一个礼拜必须登录了
# temp_1.iloc[:,-14:]




#所有在这两个月买过第8类商品的用户在4.16号到4.20都不曾买过第八类商品

# 最后几天登陆了一天，且看了第8类商品的用户

In [87]:
# user_load_buy_frame_2 = user_load_buy_frame[user_load_buy_frame['last_buy_time']=='2016-01-30 00:00:00']
# just_last_day_load = user_load_buy_frame_2[(user_load_buy_frame_2['load_days']==1)&(user_load_buy_frame_2['2016-04-15']==1)]
# just_last_day_load_user = just_last_day_load[['user_id','cate_8','browse_count','cate_8_ratio']]
# just_last_day_load_user = pd.merge(just_last_day_load_user,user_dataset,on='user_id',how='left')
# just_last_day_load_user


#
# just_last_secend_day_load = user_load_buy_frame_2[(user_load_buy_frame_2['load_days']==1)&(user_load_buy_frame_2['2016-04-14']==1)]
# just_last_secend_day_load_user = just_last_secend_day_load[['user_id','cate_8','browse_count','cate_8_ratio']]
# just_last_secend_day_load_user = pd.merge(just_last_secend_day_load_user,user_dataset,on='user_id',how='left')
# just_last_secend_day_load_user


#
# just_last_third_day_load = user_load_buy_frame_2[(user_load_buy_frame_2['load_days']==1)&(user_load_buy_frame_2['2016-04-13']==1)]
# just_last_third_day_load_user = just_last_third_day_load[['user_id','cate_8','browse_count','cate_8_ratio']]
# just_last_third_day_load_user = pd.merge(just_last_third_day_load_user,user_dataset,on='user_id',how='left')
# just_last_third_day_load_user


# #最后三天登录了，且查看了第8类商品的用户
# just_last_three_day_load = user_load_buy_frame_2[(user_load_buy_frame_2['load_days']<=3)]
# just_last_three_day_load = just_last_three_day_load[(user_load_buy_frame_2['2016-04-15']==1)|(user_load_buy_frame_2['2016-04-14']==1)|(user_load_buy_frame_2['2016-04-13']==1)]
# just_last_three_day_load_user = just_last_three_day_load[['user_id','cate_8','browse_count','cate_8_ratio']]
# just_last_three_day_load_user = pd.merge(just_last_three_day_load_user,user_dataset,on='user_id',how='left')
# a = just_last_three_day_load_user[(just_last_three_day_load_user['cate']==8)&(just_last_three_day_load_user['time']>'2016-04-13 00:00:00')]
#总共对了216条，
# c = pd.DataFrame(a[(a['type']==2)|(a['type']==3)|(a['type']==5)]['user_id']).drop_duplicates()
# d = pd.concat([just_last_day_load_user,just_last_secend_day_load_user,just_last_third_day_load_user,c],axis=0)['user_id']
# d = pd.DataFrame(d).drop_duplicates()
d.drop_duplicates()

        user_id  sku_id
0      200288.0       0
140    200690.0       1
145    201568.0       2
148    203534.0       3
275    204642.0       4
283    206995.0       5
318    207468.0       6
385    207483.0       7
409    207493.0       8
411    207494.0       9
602    207504.0      10
659    207511.0      11
1436   207522.0      12
1462   207526.0      13
1474   207544.0      14
1489   207552.0      15
1578   207554.0      16
1591   207982.0      17
1723   208551.0      18
1739   208557.0      19
1843   209077.0      20
1976   209425.0      21
1981   209498.0      22
2042   210325.0      23
2102   210714.0      24
2113   211966.0      25
2171   213298.0      26
2220   215003.0      27
2230   217924.0      28
2235   218664.0      29
...         ...     ...
71626  292766.0     416
72037  293401.0     417
72268  294355.0     418
72410  294433.0     419
72631  294735.0     420
73064  294792.0     421
73551  295066.0     422
74090  295651.0     423
74201  295982.0     424
74283  296240.0     425
74451  296572.0     426
74632  297122.0     427
74816  297218.0     428
75663  298040.0     429
75719  298228.0     430
76077  299363.0     431
76206  300118.0     432
76842  301812.0     433
77151  302019.0     434
77226  302029.0     435
77997  303061.0     436
78208  303069.0     437
78593  303520.0     438
78799  303774.0     439
78826  303838.0     440
79099  304561.0     441
79320  304873.0     442
79384  304895.0     443
79481  305131.0     444
79802  305287.0     445

[446 rows x 2 columns]

In [67]:
just_last_three_day_load.describe()

,user_id,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,2016-02-06,2016-02-07,2016-02-08,2016-02-09,...,2016-04-10,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,load_days,cate_8,browse_count,cate_8_ratio
count,1158.000000,1158.000000,1158.000000,1158.000000,1158.000000,1158.000000,1158.000000,1158.000000,1158.000000,1158.000000,...,1158.000000,1158.000000,1158.000000,1158.000000,1158.000000,1158.000000,1158.000000,1158.000000,1158.000000,1158.000000
mean,251796.848877,0.007772,0.006045,0.005181,0.004318,0.006908,0.004318,0.002591,0.000864,0.005181,...,0.058722,0.071675,0.094128,0.292746,0.417098,0.491364,2.337651,49.623489,68.942142,0.794365
std,30885.963145,0.087854,0.077547,0.071826,0.065596,0.082865,0.065596,0.050855,0.029386,0.071826,...,0.235205,0.258061,0.292133,0.455219,0.493292,0.500141,0.759258,63.776741,87.001918,0.303261
min,200208.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,224813.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,12.000000,19.000000,0.613690
50%,252367.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,30.000000,42.000000,1.000000
75%,278602.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,3.000000,62.000000,82.750000,1.000000
max,305287.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,749.000000,822.000000,1.000000

In [88]:
# pd.DataFrame(just_last_three_day_load_user['user_id']).drop_duplicates()
# temp = pd.DataFrame(a['user_id']).drop_duplicates()            #1049
# temp['sku_id'] = [x for x in range(len(temp))]
# temp = temp.astype(int)
# temp.to_csv('pre_5_18_2.csv',index=False)
# pd.DataFrame(b['user_id']).drop_duplicates()
d['sku_id'] = [x for x in range(len(d))]
d = d.astype(int)
d.to_csv('pre_5_19_1.csv',index=False)

In [89]:
d

       user_id  sku_id
0       200288       0
140     200690       1
145     201568       2
148     203534       3
275     204642       4
283     206995       5
318     207468       6
385     207483       7
409     207493       8
411     207494       9
602     207504      10
659     207511      11
1436    207522      12
1462    207526      13
1474    207544      14
1489    207552      15
1578    207554      16
1591    207982      17
1723    208551      18
1739    208557      19
1843    209077      20
1976    209425      21
1981    209498      22
2042    210325      23
2102    210714      24
2113    211966      25
2171    213298      26
2220    215003      27
2230    217924      28
2235    218664      29
...        ...     ...
71626   292766     416
72037   293401     417
72268   294355     418
72410   294433     419
72631   294735     420
73064   294792     421
73551   295066     422
74090   295651     423
74201   295982     424
74283   296240     425
74451   296572     426
74632   297122     427
74816   297218     428
75663   298040     429
75719   298228     430
76077   299363     431
76206   300118     432
76842   301812     433
77151   302019     434
77226   302029     435
77997   303061     436
78208   303069     437
78593   303520     438
78799   303774     439
78826   303838     440
79099   304561     441
79320   304873     442
79384   304895     443
79481   305131     444
79802   305287     445

[446 rows x 2 columns]

In [62]:
just_last_third_day_load

,user_id,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,2016-02-06,2016-02-07,2016-02-08,2016-02-09,...,2016-04-13,2016-04-14,2016-04-15,load_days,last_buy_time,last_buy_cate,last_buy_cate_8_time,cate_8,browse_count,cate_8_ratio
3490,205514.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,7.0,19.0,0.368421
3532,205574.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,0.0,6.0,0.000000
3900,206161.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,23.0,23.0,1.000000
4802,207390.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,1.0,1.0,1.000000
4803,207391.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,5.0,5.0,1.000000
16048,219266.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,6.0,104.0,0.057692
20687,224213.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,6.0,6.0,1.000000
22830,226457.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,10.0,10.0,1.000000
26434,230274.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,5.0,5.0,1.000000
29240,233233.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,14.0,14.0,1.000000
30776,234872.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,12.0,12.0,1.000000
32061,236207.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,26.0,26.0,1.000000
32109,236261.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,31.0,31.0,1.000000
46857,252111.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,35.0,35.0,1.000000
46920,252177.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,52.0,52.0,1.000000
46993,252254.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,62.0,62.0,1.000000
47073,252351.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,4.0,4.0,1.000000
47585,252923.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,22.0,22.0,1.000000
52650,258540.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,2.0,2.0,1.000000
52776,258677.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,11.0,11.0,1.000000
56956,263575.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,2.0,2.0,1.000000
61552,268768.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,35.0,37.0,0.945946
62076,269363.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,16.0,16.0,1.000000
62348,269679.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,59.0,59.0,1.000000
64136,271697.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,110.0,110.0,1.000000
66374,274276.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,35.0,35.0,1.000000
68991,277309.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,4.0,4.0,1.000000
69715,278133.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,15.0,15.0,1.000000
69986,278433.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,0.0,6.0,0.000000
74067,283198.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,11.0,11.0,1.000000
76501,286109.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,40.0,40.0,1.000000
78106,288044.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,43.0,43.0,1.000000
78283,288249.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,6.0,6.0,1.000000
90108,303245.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,12.0,12.0,1.000000
91218,304805.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,5.0,5.0,1.000000

In [60]:
just_last_secend_day_load_user[(just_last_secend_day_load_user['type']==5)|(just_last_secend_day_load_user['type']==2)|(just_last_secend_day_load_user['type']==3)]

,user_id,cate_8,browse_count,cate_8_ratio,cate,time,type
11,202469.0,8.0,8.0,1.000000,8,2016-04-14 23:26:19,5
96,204535.0,14.0,14.0,1.000000,8,2016-04-14 17:46:42,2
125,207427.0,106.0,391.0,0.271100,8,2016-04-14 12:29:57,2
237,207427.0,106.0,391.0,0.271100,7,2016-04-14 14:07:13,2
403,207427.0,106.0,391.0,0.271100,7,2016-04-14 14:22:32,2
528,210190.0,7.0,36.0,0.194444,5,2016-04-14 16:32:31,2
550,210801.0,28.0,28.0,1.000000,8,2016-04-14 07:22:21,2
554,210801.0,28.0,28.0,1.000000,8,2016-04-14 07:22:52,2
642,218090.0,37.0,114.0,0.324561,5,2016-04-14 11:26:51,2
667,218090.0,37.0,114.0,0.324561,4,2016-04-14 12:12:46,2
672,218090.0,37.0,114.0,0.324561,4,2016-04-14 12:12:55,2
688,218090.0,37.0,114.0,0.324561,8,2016-04-14 12:20:14,2
695,218090.0,37.0,114.0,0.324561,8,2016-04-14 12:20:23,2
702,218090.0,37.0,114.0,0.324561,8,2016-04-14 12:22:52,2
708,218090.0,37.0,114.0,0.324561,4,2016-04-14 12:30:27,3
736,222559.0,10.0,10.0,1.000000,8,2016-04-14 20:33:57,2
843,236128.0,60.0,60.0,1.000000,8,2016-04-14 16:00:02,2
888,246825.0,10.0,10.0,1.000000,8,2016-04-14 23:15:09,2
1014,260403.0,5.0,64.0,0.078125,9,2016-04-14 10:39:52,2
1031,260403.0,5.0,64.0,0.078125,9,2016-04-14 10:47:06,2
1033,260403.0,5.0,64.0,0.078125,9,2016-04-14 10:47:15,3
1044,260403.0,5.0,64.0,0.078125,4,2016-04-14 12:10:21,2
1086,262884.0,21.0,21.0,1.000000,8,2016-04-14 15:01:54,2
1162,282670.0,7.0,7.0,1.000000,8,2016-04-14 12:45:21,2
1288,298461.0,33.0,33.0,1.000000,8,2016-04-14 14:50:01,2
1295,298461.0,33.0,33.0,1.000000,8,2016-04-14 14:54:51,2
1316,298529.0,20.0,24.0,0.833333,8,2016-04-14 18:41:16,2
1376,302982.0,58.0,58.0,1.000000,8,2016-04-14 14:08:19,2
1450,303400.0,98.0,98.0,1.000000,8,2016-04-14 21:01:04,2

# 下面提交的633条数据没一条是对的

In [44]:
#查看浏览了第8类商品的用户行为
# user_id = user_browse_cate_8[['user_id','last_buy_cate_8_time','last_buy_time']]
# user_id_action = pd.merge(user_id,user_dataset,on='user_id',how='left')
# last_15_days = user_id_action[(user_id_action['cate']==8)&(user_id_action['time']>user_id_action['last_buy_time'])]
# last_15_days = last_15_days[last_15_days['time']>'2016-04-01 00:00:00']
# last_15_days_1 = last_15_days.drop_duplicates()
# a = pd.DataFrame(last_15_days_1[last_15_days_1['type']==2]['user_id']).drop_duplicates()   #131
# b = pd.DataFrame(last_15_days_1['user_id']).drop_duplicates()
# temp_b = pd.merge(b,temp_1,on='user_id',how='left')
# temp_b.dropna(axis=0)
# temp_a = pd.merge(a,temp_1,on='user_id',how='left')
# temp_a.dropna(axis=0)
# temp_b_2 = pd.merge(b,user_browse_cate_8,on='user_id',how='left')   #mean cate_8 67
# temp_b_2[(temp_b_2['cate_8_ratio']>0.1)|(temp_)]
# b['sku_id'] = [x for x in range(len(b))]
# b = b.astype(int)
# b.to_csv('pre_5_18_1.csv',index=False)

In [39]:
temp_b_2.describe()

,user_id,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,2016-02-06,2016-02-07,2016-02-08,2016-02-09,...,2016-04-10,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,load_days,cate_8,browse_count,cate_8_ratio
count,633.000000,633.0,633.0,633.000000,633.000000,633.000000,633.000000,633.000000,633.000000,633.000000,...,633.000000,633.000000,633.000000,633.000000,633.000000,633.000000,633.000000,633.000000,633.000000,633.000000
mean,250114.148499,0.0,0.0,0.003160,0.004739,0.003160,0.004739,0.003160,0.001580,0.004739,...,0.244866,0.285940,0.255924,0.244866,0.417062,0.358610,6.740916,67.614534,242.955766,0.336980
std,29808.659328,0.0,0.0,0.056165,0.068734,0.056165,0.068734,0.056165,0.039746,0.068734,...,0.430348,0.452218,0.436725,0.430348,0.493463,0.479972,5.915479,137.256896,340.827053,0.273344
min,200077.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.004049
25%,225762.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,9.000000,48.000000,0.113744
50%,248681.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,24.000000,126.000000,0.250000
75%,275481.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,9.000000,67.000000,289.000000,0.523077
max,305258.000000,0.0,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,46.000000,1917.000000,3300.000000,1.000000

# 5.17

In [17]:
# with open('./cache/Action_user_load_info_2016-02-01_2016-04-15','rb') as f:
#     user_load = pickle.load(f)
# with open('./cache/Action_2016-02-01_2016-04-16_with_cate-time-type-user_id','rb') as f:
#     user_dataset = pickle.load(f)
# user_info_dataset = pd.read_csv(USER_FILE,encoding='gbk')
# user_info_dataset = pd.DataFrame(user_info_dataset[user_info_dataset['user_lv_cd']>=3]['user_id'].drop_duplicates())
# lv_bigger_3_user = pd.merge(user_info_dataset,user_dataset,on='user_id',how='left')
# user_load_browse_buy_frame = pd.merge(user_load,last_buy_cate_8_time,on='user_id',how='left')
# user_load_browse_buy_frame = pd.merge(user_load_browse_buy_frame,user_dataset_4,on='user_id',how='left')
# with open('./Action_user_load_browse_buy_time_frame','wb') as f:
#     pickle.dump(user_load_browse_buy_frame,f)
# with open('./cache/Action_user_load_browse_buy_time_frame','rb') as f:
#     user_load_browse_buy_frame = pickle.load(f)
# user_load_browse_buy_frame_1 = user_load_browse_buy_frame.drop(['cate_4','cate_5','cate_6','cate_7','cate_9','cate_10','cate_11'],axis=1)
# user_load_browse_buy_frame_1

,user_id,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,2016-02-06,2016-02-07,2016-02-08,2016-02-09,...,2016-04-13,2016-04-14,2016-04-15,load_days,last_buy_time,last_buy_cate,last_buy_cate_8_time,cate_8,browse_count,cate_8_ratio
0,200001.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,12.0,2016-03-27 19:54:00,8,2016-03-27 19:54:00,107.0,203.0,0.527094
1,200003.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,13.0,2016-01-30 00:00:00,NaN,NaN,585.0,647.0,0.904173
2,200005.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,2016-02-23 23:00:00,NaN,NaN,92.0,120.0,0.766667
3,200007.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,8.0,2016-01-30 00:00:00,NaN,NaN,21.0,792.0,0.026515
4,200008.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,12.0,2016-01-30 00:00:00,NaN,NaN,141.0,311.0,0.453376
5,200010.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,2016-01-30 00:00:00,NaN,NaN,90.0,90.0,1.000000
6,200011.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,2016-01-30 00:00:00,NaN,NaN,57.0,88.0,0.647727
7,200012.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,14.0,2016-01-30 00:00:00,NaN,NaN,141.0,190.0,0.742105
8,200013.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,15.0,2016-01-30 00:00:00,NaN,NaN,56.0,322.0,0.173913
9,200014.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,6.0,2016-04-05 10:47:00,NaN,NaN,7.0,165.0,0.042424
10,200015.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,15.0,2016-03-28 10:58:00,NaN,NaN,996.0,1918.0,0.519291
11,200016.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,12.0,2016-01-30 00:00:00,NaN,NaN,154.0,314.0,0.490446
12,200017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,2016-03-13 14:13:00,8,2016-03-13 14:13:00,0.0,6.0,0.000000
13,200022.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,12.0,2016-01-30 00:00:00,NaN,NaN,110.0,141.0,0.780142
14,200023.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,1.0,1.0,1.000000
15,200024.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,10.0,2016-01-30 00:00:00,NaN,NaN,187.0,274.0,0.682482
16,200025.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,6.0,2016-01-30 00:00:00,NaN,NaN,460.0,840.0,0.547619
17,200027.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,18.0,2016-01-30 00:00:00,NaN,NaN,316.0,614.0,0.514658
18,200028.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,16.0,2016-03-21 08:51:00,NaN,NaN,271.0,444.0,0.610360
19,200031.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,14.0,2016-01-30 00:00:00,NaN,NaN,81.0,306.0,0.264706
20,200032.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,0.0,1.0,26.0,2016-02-06 11:22:00,NaN,NaN,59.0,1443.0,0.040887
21,200033.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,8.0,2016-04-06 01:28:00,8,2016-04-06 01:28:00,226.0,457.0,0.494530
22,200034.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-04-14 08:18:00,8,2016-04-14 08:18:00,6.0,6.0,1.000000
23,200035.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,10.0,2016-01-30 00:00:00,NaN,NaN,954.0,986.0,0.967546
24,200036.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,17.0,2016-01-30 00:00:00,NaN,NaN,37.0,157.0,0.235669
25,200037.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,8.0,2016-02-27 19:26:00,NaN,NaN,46.0,149.0,0.308725
26,200038.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,22.0,2016-02-27 13:08:00,NaN,NaN,434.0,980.0,0.442857
27,200039.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,2016-01-30 00:00:00,NaN,NaN,14.0,49.0,0.285714
28,200041.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,14.0,2016-01-30 00:00:00,NaN,NaN,374.0,421.0,0.888361
29,200043.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,14.0,2016-03-12 00:45:00,NaN,NaN,23.0,294.0,0.078231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91551,305279.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,2016-01-30 00:00:00,NaN,NaN,39.0,52.0,0.750000
91552,305280.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,11.0,2016-03-10 12:48:00,NaN,NaN,169.0,675.0,0.250370
91553,305284.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,10.0,2016-01-30 00:00:00,NaN,NaN,306.0,325.0,0.941538
91554,305285.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,5.0,2016-01-30 00:00:00,NaN,NaN,50.0,152.0,0.328947
91555,305286.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,3.0,2016-03-14 14:51:00,8,2016-03-14 14:51:00,9.0,40.0,0.225000
91556,305287.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,NaN,NaN,349.0,349.0,1.000000
91557,305288.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,5.0,2016-01-30 00:00:00,NaN,NaN,18.0,65.0,0.276923
91558,305289.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,22.0,2016-01-30 00:00:00,NaN,NaN,239.0,588.0,0.406463
91559,305290.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,2016-04-06 14:09:00,NaN,NaN,65.0,137.0,0.474453
91560,305291.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,3.0,2016-04-11 12:29:00,NaN,NaN,0.0,40.0,0.000000
91561,305292.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,2016-03-07 09:45:00,8,2016-03-07 09:45:00,12.0,13.0,0.923077
91562,305294.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,2016-01-30 00:00:00,NaN,NaN,19.0,19.0,1.000000
91563,305295.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,3.0,2016-04-13 19:19:00,8,2016-04-13 19:19:00,54.0,67.0,0.805970
91564,305296.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,9.0,2016-04-01 11:41:00,NaN,NaN,122.0,144.0,0.847222
91565,305299.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,12.0,2016-01-30 00:00:00,NaN,NaN,215.0,275.0,0.781818
91566,305300.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,2016-01-30 00:00:00,NaN,NaN,448.0,591.0,0.758037
91567,305301.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,11.0,2016-03-04 15:59:00,NaN,NaN,394.0,532.0,0.740602
91568,305302.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,18.0,2016-01-30 00:00:00,NaN,NaN,55.0,194.0,0.283505
91569,305304.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,2016-01-30 00:00:00,NaN,NaN,243.0,243.0,1.000000
91570,305305.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,5.0,2016-01-30 00:00:00,NaN,NaN,11.0,13.0,0.846154
91571,305307.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,2016-01-30 00:00:00,NaN,NaN,7.0,7.0,1.000000
91572,305308.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,8.0,2016-04-08 18:40:00,8,2016-04-08 18:40:00,223.0,487.0,0.457906
91573,305309.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,2016-01-30 00:00:00,NaN,NaN,263.0,267.0,0.985019
91574,305312.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,19.0,2016-01-30 00:00:00,NaN,NaN,180.0,295.0,0.610169
91575,305313.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,2016-04-08 17:08:00,8,2016-04-08 17:08:00,12.0,12.0,1.000000
91576,305314.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,9.0,2016-01-30 00:00:00,NaN,NaN,220.0,305.0,0.721311
91577,305317.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,9.0,2016-03-16 20:31:00,NaN,NaN,106.0,341.0,0.310850
91578,305318.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,2016-04-01 00:05:00,8,2016-04-01 00:05:00,2.0,14.0,0.142857
91579,305319.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,2016-01-30 00:00:00,NaN,NaN,590.0,1782.0,0.331089
91580,305321.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,8.0,2016-01-30 00:00:00,NaN,NaN,38.0,38.0,1.000000

# 最后一次购买商品为第8类,最终没有一个用户在测试拿5天买了第8类商品

In [64]:
# temp_1 = user_load_browse_buy_frame_1[user_load_browse_buy_frame_1['last_buy_cate_8_time']==user_load_browse_buy_frame_1['last_buy_time']][['user_id','load_days','cate_8','browse_count','cate_8_ratio','last_buy_time']]
# temp_2 = temp_1[temp_1['load_days']<=3]     #1894
# # temp_3 = temp_2[(temp_2['cate_8_ratio']==1)|(temp_2['cate_8_ratio']==0)]    #1545
# # temp_4 = temp_2[(temp_2['cate_8_ratio']>0.815)&(temp_2['last_buy_time']>'2016-04-09 00:00:00')]
# temp_5 = temp_2[temp_2['last_buy_time']<'2016-04-09 00:00:00']
# temp_5 = temp_5.sort_values(by='cate_8',ascending=False)
# aa = pd.merge(temp_1,user_info_dataset,on='user_id',how='left')
# aa = aa[aa['user_lv_cd']>=3]
# bb = aa[(aa['age']!='46-55岁')]
# cc = pd.merge(bb,user_dataset,on='user_id',how='left')
# dd =cc
# dd = dd[dd['time']>dd['last_buy_time']]
# dd = dd[dd['cate']==8]
# dd = dd[dd['time']>'2016-04-09 00:00:00']
# dd = dd[dd['type']==2]
# # dd.describe()
# ee = pd.DataFrame(dd['user_id']).drop_duplicates()
# ee['sku_id'] = [x for x in range(len(ee))]
# ee = ee.astype(int)
# ee.to_csv('pre_5_17_3.csv',index=False)
# temp_6 = temp_1[(temp_1['cate_8_ratio']<1)&(temp_1['cate_8_ratio']>0)] 
# temp_6 = temp_6[temp_6['cate_8_ratio']>0.62]

In [77]:
temp_2[['cate_8','browse_count','cate_8_ratio']].describe()

            cate_8  browse_count  cate_8_ratio
count  1894.000000   1894.000000   1894.000000
mean     10.710665     14.216473      0.816193
std      20.728408     27.604666      0.341432
min       0.000000      1.000000      0.000000
25%       2.000000      3.000000      0.812500
50%       5.000000      6.000000      1.000000
75%      11.000000     15.000000      1.000000
max     376.000000    417.000000      1.000000

In [71]:
good_predect_area = user_load_browse_buy_frame_1[user_load_browse_buy_frame_1['last_buy_cate_8_time']==user_load_browse_buy_frame_1['last_buy_time']]
good_predect_area[['load_days','cate_8','browse_count','cate_8_ratio','last_buy_time']].describe()

         load_days       cate_8  browse_count  cate_8_ratio
count  9953.000000  9953.000000   9953.000000   9953.000000
mean      4.849392    76.305134    128.274490      0.716175
std       4.628081   149.029702    273.376847      0.319421
min       1.000000     0.000000      1.000000      0.000000
25%       2.000000    10.000000     16.000000      0.500000
50%       3.000000    31.000000     51.000000      0.850932
75%       6.000000    85.000000    138.000000      1.000000
max      44.000000  4535.000000  10756.000000      1.000000

# 5.16

In [57]:
# with open('./cache/Action_2016-02-01_2016-04-16_with_cate-time-type-user_id','rb') as f:
#     user_dataset = pickle.load(f)
# user_info_dataset = pd.read_csv(USER_FILE,encoding='gbk')
# #干掉用户等级低的，因为这群用户购买率非常低
# user_id = pd.DataFrame(user_dataset['user_id']).drop_duplicates()
# user_id_bigger_3 = pd.merge(user_id,user_info_dataset,on='user_id',how='left')
# user_id_bigger_3 = pd.DataFrame(user_id_bigger_3[user_id_bigger_3['user_lv_cd']>=3]['user_id'])
# user_dataset_1 = pd.merge(user_id_bigger_3,user_dataset,on='user_id',how='left')
# user_dataset_2 = user_dataset_1[user_dataset_1['type']==4]
# user_dataset_2 = user_dataset_2.groupby('user_id',as_index=False).time.max()
# user_dataset_2.columns = ['user_id','last_buy_time']
# user_dataset_3 = user_dataset_1[['user_id','time']]
# user_dataset_2 = pd.merge(user_dataset_3,user_dataset_2,on='user_id',how='left')
# user_dataset_2 = user_dataset_2.fillna('2016-01-30 00:00:00')
# user_dataset_2 = user_dataset_2[user_dataset_2['time']>user_dataset_2['last_buy_time']]
# user_dataset_4 = user_dataset_2[['user_id','time']]
# user_dataset_4['time'] = user_dataset_4.time.apply(lambda t:t[:10])
## user_dataset_4['last_buy_time'] = user_dataset_4.last_buy_time.apply(lambda t:t[:10])
# user_dataset_4 = user_dataset_4.drop_duplicates()
# user_dataset_4.to_csv('all_user_dataset.csv',index=False)
# type_dummies = pd.get_dummies(user_dataset_4['time'],prefix=None)
# user_load = pd.concat([user_dataset_4,type_dummies],axis=1)
# user_load = user_load.drop(['time'],axis=1)
# user_load = user_load.groupby('user_id',as_index=False).sum()
# user_load['load_days'] = user_load.sum(axis=1) - user_load['user_id']
# user_last_buy_data = user_dataset_2[['user_id','last_buy_time']].drop_duplicates()
# user_load = pd.merge(user_load,user_last_buy_data,on='user_id',how='left')
# with open('./cache/Action_user_load_info_2016-02-01_2016-04-15','wb') as f:
#     pickle.dump(user_load,f)
# user_dataset_1.groupby(['user_id','cate'],as_index=False).count()



#
# user_id = pd.DataFrame(user_dataset['user_id']).drop_duplicates()
# user_id_bigger_3 = pd.merge(user_id,user_info_dataset,on='user_id',how='left')
# user_id_bigger_3 = pd.DataFrame(user_id_bigger_3[user_id_bigger_3['user_lv_cd']>=3]['user_id'])
# user_dataset_1 = pd.merge(user_id_bigger_3,user_dataset,on='user_id',how='left')
# user_dataset_2 = user_dataset_1[user_dataset_1['type']==4]
# user_dataset_2 = user_dataset_2.groupby('user_id',as_index=False).time.max()
# user_dataset_2.columns = ['user_id','last_buy_time']
# user_dataset_3 = user_dataset_1[['user_id','time','cate']]
# user_dataset_2 = pd.merge(user_dataset_3,user_dataset_2,on='user_id',how='left')
# user_dataset_2 = user_dataset_2.fillna('2016-01-30 00:00:00')
# user_dataset_2 = user_dataset_2[user_dataset_2['time']>user_dataset_2['last_buy_time']]
# user_dataset_4 = user_dataset_2[['user_id','cate']]
# type_dummies = pd.get_dummies(user_dataset_4['cate'],prefix='cate')
# user_dataset_4 = pd.concat([user_dataset_4,type_dummies],axis=1)
# user_dataset_4 = user_dataset_4.drop(['cate'],axis=1)
# user_dataset_4 = user_dataset_4.groupby(['user_id'],as_index=False).sum()
# user_dataset_4['browse_count'] = user_dataset_4.sum(axis=1) - user_dataset_4['user_id']
# user_dataset_4['cate_8_ratio'] = user_dataset_4['cate_8']/user_dataset_4['browse_count']
# with open('./cache/Action_user_cate_ratio_2016-02-01_2016-04-15','wb') as f:
#     pickle.dump(user_dataset_4,f

#最后一次购买商品类型
# user_dataset_2 = user_dataset_1[user_dataset_1['type']==4]
# user_dataset_2 = user_dataset_2.groupby(['user_id','cate'],as_index=False).time.max()
# user_dataset_2.columns = ['user_id','last_buy_cate','last_buy_time']
# user_dataset_3 = user_dataset_1[['user_id','time']]
# user_dataset_2 = pd.merge(user_dataset_3,user_dataset_2,on='user_id',how='left')
# user_dataset_2['last_buy_time'] = user_dataset_2.last_buy_time.fillna('2016-01-30 00:00:00')
# user_dataset_2 = user_dataset_2[user_dataset_2['time']>user_dataset_2['last_buy_time']]
# user_dataset_2['last_buy_cate'] = user_dataset_2.last_buy_cate.replace('2016-01-30 00:00:00','NaN')
# last_buy_cate_user = user_dataset_2[['user_id','last_buy_cate','last_buy_time']].drop_duplicates()
# with open('./cache/Action_user_last_buy_cate','wb') as f:
#     pickle.dump(last_buy_cate_user,f)

In [18]:
with open('./cache/Action_user_load_info_2016-02-01_2016-04-15','rb') as f:
    user_load = pickle.load(f)
user_info_dataset = pd.read_csv(USER_FILE,encoding='gbk')
a = user_load[(user_load['load_days']<=3)&(user_load['last_buy_time']=='2016-01-30 00:00:00')]
b = a[(a['2016-04-15']==1)|(a['2016-04-14']==1)|(a['2016-04-13']==1)|(a['2016-04-12']==1)|(a['2016-04-11']==1)|(a['2016-04-10']==1)|(a['2016-04-09']==1)]
b = b[['user_id','2016-04-09','2016-04-10','2016-04-11','2016-04-12','2016-04-13','2016-04-14','2016-04-15','load_days','last_buy_time']]
b = pd.merge(b,user_info_dataset,on='user_id',how='left')
c = b[(b['age']=='-1')|(b['age']=='26-35岁')|(b['age']=='36-45岁')]
# c.sort_values(by='user_reg_tm',ascending=False)
user_id_b = pd.merge(c,user_dataset,on='user_id',how='left')
user_id_b

# temp = user_id_b[['user_id','cate','type']]
# temp.groupby(['user_id','cate'],as_index=False).count()

,user_id,2016-04-09,2016-04-10,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,load_days,last_buy_time,age,sex,user_lv_cd,user_reg_tm,cate,time,type
0,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,6,2016-03-04 15:53:49,1
1,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,6,2016-03-04 15:53:55,1
2,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,6,2016-03-04 15:54:45,1
3,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,6,2016-03-04 15:54:46,6
4,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,6,2016-03-04 15:54:58,1
5,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,6,2016-03-04 15:54:59,6
6,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,6,2016-03-04 15:55:06,1
7,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-03-04 15:55:13,1
8,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-03-04 15:56:49,1
9,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-03-04 15:56:50,6
10,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-03-04 15:58:31,1
11,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-03-04 15:58:31,6
12,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:43:10,1
13,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:43:11,6
14,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:43:37,6
15,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:43:37,6
16,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:43:58,6
17,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:44:00,6
18,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:44:02,6
19,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:44:04,6
20,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:44:05,6
21,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:44:14,6
22,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:44:26,1
23,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:44:26,6
24,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:45:50,6
25,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:45:50,6
26,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:45:54,2
27,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:45:54,6
28,200288.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,26-35岁,1.0,3,2016-01-29,8,2016-04-15 12:03:47,6
29,200288.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,26-35岁,1.0,3,2016-01-29,8,2016-04-15 12:03:47,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112878,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:55:20,6
112879,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:55:20,1
112880,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:55:20,1
112881,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:55:20,1
112882,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:55:20,1
112883,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:55:20,6
112884,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:55:20,6
112885,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:55:20,6
112886,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:55:39,2
112887,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:56:30,6
112888,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:56:30,6
112889,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:56:30,1
112890,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:56:30,1
112891,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:56:30,6
112892,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:56:30,6
112893,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:56:30,6
112894,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:56:30,6
112895,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:56:30,1
112896,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:56:30,1
112897,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:56:30,6
112898,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:57:07,6
112899,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:57:07,1
112900,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:57:07,1
112901,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:57:07,6
112902,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:57:07,1
112903,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:57:07,1
112904,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:57:07,1
112905,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:57:07,1
112906,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:57:07,6
112907,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:57:07,6

In [19]:
d = user_id_b[(user_id_b['cate']==8)]
d = d[d['time']>'2016-04-09 00:00:00']
d_2 = pd.DataFrame(d[d['type']==2]['user_id'].drop_duplicates())
d_2 = d[d['type']==2].drop_duplicates()
# d_type_3 = d[d['type']==3]
# d_type_3

In [22]:
d[d['user_id']==214957]

,user_id,2016-04-09,2016-04-10,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,load_days,last_buy_time,age,sex,user_lv_cd,user_reg_tm,cate,time,type
17335,214957.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2013-09-09,8,2016-04-10 10:41:03,2
17336,214957.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2013-09-09,8,2016-04-10 10:45:20,3
17337,214957.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2013-09-09,8,2016-04-10 10:45:20,3
17338,214957.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2013-09-09,8,2016-04-10 10:45:20,3

In [20]:
d_2

,user_id,2016-04-09,2016-04-10,2016-04-11,2016-04-12,2016-04-13,2016-04-14,2016-04-15,load_days,last_buy_time,age,sex,user_lv_cd,user_reg_tm,cate,time,type
26,200208.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-11,8,2016-04-14 11:45:54,2
34,200288.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,26-35岁,1.0,3,2016-01-29,8,2016-04-15 12:04:07,2
510,200756.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,3.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-02-01,8,2016-04-15 11:52:37,2
531,200756.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,3.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-02-01,8,2016-04-15 12:02:04,2
669,201123.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-02-04,8,2016-04-13 04:53:01,2
719,201123.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-02-04,8,2016-04-14 19:46:13,2
725,201123.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-02-04,8,2016-04-14 19:46:18,2
776,201409.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,2016-01-30 00:00:00,36-45岁,1.0,3,2010-08-15,8,2016-04-11 16:50:24,2
789,201409.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,2016-01-30 00:00:00,36-45岁,1.0,3,2010-08-15,8,2016-04-11 16:58:54,2
945,201568.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,36-45岁,2.0,4,2016-02-17,8,2016-04-15 16:54:38,2
1881,202845.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,3.0,2016-01-30 00:00:00,36-45岁,0.0,3,2016-02-23,8,2016-04-12 12:53:13,2
1997,203088.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-02-25,8,2016-04-09 07:17:12,2
2026,203088.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-02-25,8,2016-04-10 00:57:28,2
2027,203088.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-02-25,8,2016-04-10 00:57:35,2
2235,203309.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-02-27,8,2016-04-12 12:46:38,2
2415,203327.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-02-27,8,2016-04-10 16:33:20,2
2422,203624.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,3.0,2016-01-30 00:00:00,26-35岁,0.0,5,2010-08-21,8,2016-04-11 22:53:57,2
2454,203624.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,3.0,2016-01-30 00:00:00,26-35岁,0.0,5,2010-08-21,8,2016-04-15 22:28:29,2
2522,203728.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-03-01,8,2016-04-13 11:25:18,2
2752,204253.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,26-35岁,0.0,5,2013-05-04,8,2016-04-15 02:01:14,2
2836,204399.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,0.0,4,2013-05-05,8,2016-04-12 13:52:43,2
2931,204535.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2016-01-30 00:00:00,36-45岁,0.0,5,2013-05-06,8,2016-04-14 17:46:42,2
4203,206565.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-03-30,8,2016-04-13 14:39:31,2
4253,206565.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-03-30,8,2016-04-13 14:46:28,2
4835,206846.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,3.0,2016-01-30 00:00:00,26-35岁,2.0,4,2013-05-23,8,2016-04-13 19:39:07,2
5025,206994.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2016-04-06,8,2016-04-13 14:09:51,2
5037,206995.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-04-06,8,2016-04-15 10:43:58,2
5060,206995.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-04-06,8,2016-04-15 13:19:13,2
5221,207157.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-04-08,8,2016-04-09 09:13:21,2
5237,207190.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-04-08,8,2016-04-09 17:20:58,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109827,303061.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2016-01-05,8,2016-04-15 21:52:17,2
110004,303069.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,2016-01-30 00:00:00,26-35岁,2.0,4,2016-01-05,8,2016-04-15 19:19:21,2
110025,303069.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,2016-01-30 00:00:00,26-35岁,2.0,4,2016-01-05,8,2016-04-15 19:30:18,2
110544,303332.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2016-01-30 00:00:00,26-35岁,0.0,5,2013-03-30,8,2016-04-09 12:25:04,2
110559,303332.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2016-01-30 00:00:00,26-35岁,0.0,5,2013-03-30,8,2016-04-09 12:39:30,2
110569,303332.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2016-01-30 00:00:00,26-35岁,0.0,5,2013-03-30,8,2016-04-09 12:39:55,2
110621,303332.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2016-01-30 00:00:00,26-35岁,0.0,5,2013-03-30,8,2016-04-09 12:41:57,2
110679,303400.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-08,8,2016-04-14 21:01:04,2
110750,303520.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0,2016-01-30 00:00:00,26-35岁,0.0,3,2013-03-31,8,2016-04-14 19:23:07,2
111209,303774.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,26-35岁,0.0,5,2013-04-02,8,2016-04-14 20:30:03,2
111214,303774.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,26-35岁,0.0,5,2013-04-02,8,2016-04-14 20:31:10,2
111221,303774.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,26-35岁,0.0,5,2013-04-02,8,2016-04-14 20:34:34,2
111236,303838.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-01-13,8,2016-04-15 10:48:28,2
111237,303838.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-01-13,8,2016-04-15 10:52:57,2
111238,303838.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-01-13,8,2016-04-15 10:53:18,2
111239,303838.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-01-13,8,2016-04-15 10:55:21,2
111240,303838.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-01-13,8,2016-04-15 10:55:31,2
111241,303838.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-01-13,8,2016-04-15 10:55:39,2
111242,303838.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-01-13,8,2016-04-15 10:56:01,2
111349,304248.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,26-35岁,1.0,5,2013-04-05,8,2016-04-15 23:56:52,2
111832,304561.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-01-19,8,2016-04-10 16:18:08,2
111857,304561.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-01-19,8,2016-04-10 16:21:43,2
111884,304561.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-01-19,8,2016-04-10 16:22:38,2
111912,304561.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,2016-01-30 00:00:00,26-35岁,2.0,3,2016-01-19,8,2016-04-15 07:39:33,2
111947,304565.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2016-01-30 00:00:00,26-35岁,1.0,4,2013-04-06,8,2016-04-09 11:18:36,2
112101,304895.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-22,8,2016-04-15 22:45:40,2
112307,305131.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,4,2013-04-09,8,2016-04-15 16:31:24,2
112406,305275.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,2016-01-30 00:00:00,26-35岁,2.0,4,2016-01-26,8,2016-04-12 21:33:28,2
112875,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:54:45,2
112886,305287.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,36-45岁,2.0,3,2016-01-26,8,2016-04-15 23:55:39,2

In [40]:
# dd = pd.merge(d_2,d_type_3,on='user_id',how='left')
# dd['time'] = dd.time.fillna(0)
# dd1 = pd.DataFrame(dd[dd['time']==0]['user_id'].drop_duplicates())
# dd1

# name = pd.read_csv('a3.csv')
# ll = pd.merge(d_2,name,on='user_id',how='left')
# ll

# ll = pd.concat([dd,name],axis=0)['user_id']
# ll = pd.DataFrame(ll).drop_duplicates()
# ll['sku_id'] = [x for x in range(len(ll))]
# ll = pd.DataFrame(ll).astype(int)
# ll.to_csv('pre_9_17_2.csv',index=False)

In [41]:
ll

       user_id  sku_id
1569    247439       0
2508    218857       1
3256    223525       2
7235    277085       3
9076    248782       4
9740    247398       5
11666   237214       6
12941   288393       7
24732   298028       8
27258   207326       9
29914   286934      10
30654   303444      11
32162   205624      12
32901   215619      13
33187   271105      14
35889   256528      15
38070   211465      16
39217   260476      17
40504   274032      18
41530   278617      19
41695   274417      20
43399   206990      21
44378   267805      22
45331   270510      23
46206   204683      24
47191   263045      25
51700   242476      26
52493   206877      27
57928   230552      28
60003   272062      29
...        ...     ...
145     286927     356
146     287249     357
147     288531     358
148     289465     359
149     289558     360
150     291404     361
151     294142     362
152     294584     363
153     294815     364
154     294887     365
155     295210     366
156     296220     367
157     297250     368
158     297622     369
159     297819     370
160     299117     371
161     299869     372
162     301262     373
163     301809     374
164     302034     375
165     302166     376
166     302853     377
167     303559     378
168     303838     379
169     303874     380
170     304248     381
171     304478     382
172     304629     383
173     305084     384
174     305131     385

[386 rows x 2 columns]

In [25]:
# ll_info = pd.me'cate_4','cate_5','cate_6','cate_7','cate_9','cate_10','cate_11'rge(ll,user_load_browse_buy_frame,on='user_id',how='left')
ll_info.drop(['cate_4','cate_5','cate_6','cate_7','cate_9','cate_10','cate_11'],axis=1)

,user_id,sku_id,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,2016-02-06,2016-02-07,2016-02-08,...,2016-04-13,2016-04-14,2016-04-15,load_days,last_buy_time,last_buy_cate,last_buy_cate_8_time,cate_8,browse_count,cate_8_ratio
0,200208,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,2.0,2016-01-30 00:00:00,NaN,NaN,21.0,28.0,0.750000
1,200288,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,136.0,140.0,0.971429
2,200756,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,3.0,2016-01-30 00:00:00,NaN,NaN,56.0,119.0,0.470588
3,201123,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,2.0,2016-01-30 00:00:00,NaN,NaN,92.0,92.0,1.000000
4,201409,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,3.0,2016-01-30 00:00:00,NaN,NaN,66.0,66.0,1.000000
5,201568,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,3.0,3.0,1.000000
6,202845,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,3.0,2016-01-30 00:00:00,NaN,NaN,147.0,147.0,1.000000
7,203088,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,2016-01-30 00:00:00,NaN,NaN,78.0,78.0,1.000000
8,203309,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,2016-01-30 00:00:00,NaN,NaN,22.0,26.0,0.846154
9,203327,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,2016-01-30 00:00:00,NaN,NaN,4.0,5.0,0.800000
10,203624,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,3.0,2016-01-30 00:00:00,NaN,NaN,49.0,49.0,1.000000
11,203728,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,3.0,2016-01-30 00:00:00,NaN,NaN,147.0,147.0,1.000000
12,204253,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,NaN,NaN,69.0,69.0,1.000000
13,204399,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,2.0,2016-01-30 00:00:00,NaN,NaN,31.0,31.0,1.000000
14,204535,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,14.0,14.0,1.000000
15,206565,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,3.0,2016-01-30 00:00:00,NaN,NaN,243.0,332.0,0.731928
16,206846,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,3.0,2016-01-30 00:00:00,NaN,NaN,36.0,36.0,1.000000
17,206994,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,2.0,2016-01-30 00:00:00,NaN,NaN,16.0,22.0,0.727273
18,206995,18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,35.0,35.0,1.000000
19,207157,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,2016-01-30 00:00:00,NaN,NaN,36.0,42.0,0.857143
20,207190,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,2016-01-30 00:00:00,NaN,NaN,16.0,16.0,1.000000
21,207268,21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,3.0,2016-01-30 00:00:00,NaN,NaN,66.0,304.0,0.217105
22,207274,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,14.0,16.0,0.875000
23,207276,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,2.0,2016-01-30 00:00:00,NaN,NaN,24.0,24.0,1.000000
24,207285,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,3.0,2016-01-30 00:00:00,NaN,NaN,131.0,131.0,1.000000
25,207310,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,3.0,2016-01-30 00:00:00,NaN,NaN,18.0,18.0,1.000000
26,207340,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,113.0,113.0,1.000000
27,207344,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,2.0,2016-01-30 00:00:00,NaN,NaN,31.0,65.0,0.476923
28,207363,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,11.0,11.0,1.000000
29,207427,29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,2016-01-30 00:00:00,NaN,NaN,106.0,391.0,0.271100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,275669,494,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,12.0,12.0,1.000000
495,276498,495,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,NaN,NaN,5.0,18.0,0.277778
496,276710,496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,2.0,2016-01-30 00:00:00,NaN,NaN,11.0,11.0,1.000000
497,276780,497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,2.0,2016-01-30 00:00:00,NaN,NaN,352.0,363.0,0.969697
498,277808,498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,17.0,17.0,1.000000
499,277966,499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,5.0,5.0,1.000000
500,278171,500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,5.0,5.0,1.000000
501,281649,501,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,12.0,12.0,1.000000
502,283936,502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,2.0,2016-01-30 00:00:00,NaN,NaN,4.0,6.0,0.666667
503,284432,503,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,11.0,27.0,0.407407
504,284629,504,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,2.0,2016-01-30 00:00:00,NaN,NaN,119.0,261.0,0.455939
505,286475,505,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,8.0,8.0,1.000000
506,286741,506,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,5.0,5.0,1.000000
507,286927,507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,2.0,2016-01-30 00:00:00,NaN,NaN,25.0,59.0,0.423729
508,288531,508,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,6.0,6.0,1.000000
509,294584,509,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,2.0,2016-01-30 00:00:00,NaN,NaN,45.0,48.0,0.937500
510,294815,510,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,2.0,2016-01-30 00:00:00,NaN,NaN,15.0,61.0,0.245902
511,294887,511,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,6.0,21.0,0.285714
512,297622,512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,6.0,71.0,0.084507
513,297819,513,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-03-04 15:24:00,NaN,NaN,40.0,40.0,1.000000
514,301262,514,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,74.0,80.0,0.925000
515,301809,515,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,83.0,83.0,1.000000
516,302034,516,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,139.0,139.0,1.000000
517,302166,517,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,36.0,36.0,1.000000
518,302853,518,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,6.0,6.0,1.000000
519,303559,519,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,2.0,2016-01-30 00:00:00,NaN,NaN,46.0,77.0,0.597403
520,303874,520,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,15.0,15.0,1.000000
521,304478,521,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,2016-01-30 00:00:00,NaN,NaN,44.0,44.0,1.000000
522,304629,522,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,2.0,2016-01-30 00:00:00,NaN,NaN,37.0,39.0,0.948718
523,305084,523,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,2.0,2016-01-30 00:00:00,NaN,NaN,45.0,45.0,1.000000

In [27]:
ll_info.describe()

,user_id,sku_id,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,2016-02-06,2016-02-07,2016-02-08,...,cate_4,cate_5,cate_6,cate_7,cate_8,cate_9,cate_10,cate_11,browse_count,cate_8_ratio
count,524.000000,524.000000,524.000000,524.000000,524.000000,524.0,524.000000,524.000000,524.0,524.0,...,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000
mean,252744.227099,261.500000,0.007634,0.007634,0.003817,0.0,0.001908,0.003817,0.0,0.0,...,5.232824,3.667939,4.061069,4.188931,72.826336,2.185115,0.122137,0.185115,92.469466,0.852423
std,31683.791016,151.409348,0.087119,0.087119,0.061721,0.0,0.043685,0.061721,0.0,0.0,...,20.769683,14.570736,18.701338,23.699291,85.257626,14.717288,1.350719,1.024596,109.926836,0.254596
min,200208.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,3.000000,0.020690
25%,222790.750000,130.750000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000,0.000000,0.000000,24.000000,0.823529
50%,251915.500000,261.500000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,43.500000,0.000000,0.000000,0.000000,59.000000,1.000000
75%,281911.500000,392.250000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,93.250000,0.000000,0.000000,0.000000,119.000000,1.000000
max,305287.000000,523.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,0.0,0.0,...,221.000000,159.000000,295.000000,297.000000,698.000000,233.000000,18.000000,10.000000,1105.000000,1.000000

In [41]:
# len(user_load)                                    #91581
# len(user_load[user_load['load_days']<=45])        #91133
# len(user_load[user_load['load_days']<=40])        #90711
# len(user_load[user_load['load_days']<=35])        #90017
# len(user_load[user_load['load_days']<=30])        #88854
# len(user_load[user_load['load_days']<=25])        #86522
# len(user_load[user_load['load_days']<=20])        #82220
# len(user_load[user_load['load_days']<=15])        #73600
# len(user_load[user_load['load_days']<=10])        #5752l 
# len(user_load[user_load['load_days']<=9])         #52382
# len(user_load[user_load['load_days']<=8])         #47247
# len(user_load[user_load['load_days']<=7])         #41549
# len(user_load[user_load['load_days']<=6])         #35554
# len(user_load[user_load['load_days']<=5])         #29323 
# len(user_load[user_load['load_days']<=4])         #22737
# len(user_load[user_load['load_days']<=3])         #16511
# len(user_load[user_load['load_days']<=2])         #10600
# len(user_load[user_load['load_days']<=1])         #4538

In [55]:
len(user_id_c[(user_id_c['cate']==8)&((user_id_c['type']==2)&(user_id_c['type']!=3))]['user_id'].drop_duplicates())      #541

131